<!DOCTYPE HTML>
<html>
<head>
		<title>建站服务购买</title>
		{include file="header.html"}
		{*<link href="static/css/jquery.mobile-1.3.0.min.css" rel="stylesheet" type="text/css" />
		<link href="static/css/mobiscroll.custom-2.5.0.min.css" rel="stylesheet" type="text/css" />*}
        <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
		<script src="static/js/jquery.form.js?v={$versionjs}"></script>
        <script src="static/js/select2.js?v={$versionjs}"></script>
         <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript" src="static/js/watermark.js"></script>
        {literal}
    <style type="text/css">
    html,body{
    	height:100%;
    }
.rowFrame{
	overflow-y:auto;
	    min-height: 50%;
}
 .cls_servicetype{
    background: #3590df;
    color: white;
    border-radius: 5px;
    padding-top: 8px;
}
        *{
            text-shadow:none;
        }
        .ui-page{
        height:100%;
        }

        .footer{
        	position: absolute;
        	bottom:0
        }
        .close{
        	color:#fff;
        	text-shadow:0 1px 0 #000;
        	opacity: 1;
        }
        .add-visit label{
        	width: 27%;
        }
        .add-visit .input-box{
        	width: 71%;
        }
        .form-group{
        margin-bottom:10px;
        }
    #loading{background-color:#000000;height:100%;width:100%;position:fixed;z-index:99999;margin:0px;padding:0px;top:0px;opacity: 0.5;}
    #loading-center{width:100%;height:100%;position: relative;}
    #loading-center-absolute {position:absolute;left:50%;top:50%;height:20px;width:100px;margin-top:-10px;margin-left:-50px;}
    .object{width:20px;height:20px;color:#333;font-size:10px;text-align:center;line-height:20px;background-color: #FFF;-moz-border-radius: 50% 50% 50% 50%;-webkit-border-radius: 50% 50% 50% 50%;border-radius: 50% 50% 50% 50%;margin-right: 20px;margin-bottom: 20px;position: absolute;opacity: 1;}
    #object_one{-webkit-animation: object 2s linear infinite;animation: object 2s linear infinite;}
    #object_two{-webkit-animation: object 2s linear infinite -.4s;animation: object 2s linear infinite -.4s;}
    #object_three{-webkit-animation: object 2s linear infinite -.8s;animation: object 2s linear infinite -.8s;}
    #object_four{-webkit-animation: object 2s linear infinite -1.2s;animation: object 2s linear infinite -1.2s;}
    #object_five{-webkit-animation: object 2s linear infinite -1.6s;animation: object 2s linear infinite -1.6s;}
    @-webkit-keyframes object{0% {left:100px;top:0} 80% {left:0;top:0;} 85% {left:0;top:-20px;width:20px;height:20px;} 90% {width:40px;height:15px;} 95% {left:100px;top:-20px;width:20px;height:20px;} 100% {left:100px; top:0; }}
    @keyframes object{0% { left:100px;top:0} 80% {left:0;top:0;} 85% {left:0;top:-20px;width:20px;height:20px;} 90% {width:40px; height:15px;} 95% {left:100px;top:-20px;width:20px;height: 20px;} 100% {left: 100px; top:0; }}

    .cls_service_table{
        width:100%;
        background-color: #eee;
    }
    .cls_service_table tr{
        height: 35px;
    }
    .cls_service_table th{
        color: #0d94df;
        text-align: center;
    }
    .cls_service_table td{
        text-align: center;
        color: #666;
    }
    .cls_service_table td input{
        width: 60px;
        text-align: center;
        border-radius: 4px;
        border: 1px solid #ccc;
        height: 34px;
    }
    .headon{
        border-bottom: 2px solid #535282;
    }
    </style>
    {/literal}
</head>
<body>
<div class="container-fluid w fix rowFrame" style='padding-bottom:0'>
<!-- <div id='test'></div> -->
        <div class="row ">
            <div class="list-head">
                <ul class="fix">
                    <li class="headon" style="width:50%;">购买</li>
                    <a href="index.php?module=TyunStationSale&action=renew" style="color:#666;"><li  style="width:50%;">续费</li></a>
                </ul>
            </div>
            <form id='frm_stationsale' onsubmit='return check()'  method="POST">
            <div class="add-visit">
                <div class="form-group fix">
                    <label class="">合同编号</label>
                    <div class="input-box">
                    	<input type="hidden" id="contractid" name="contractid" value="" >
                    	<input type="hidden" id="contractowenid" value="">
                        <div class="input-group">
                           <input type="text" data-toggle="popover" data-placement="bottom" placeholder="建议输入合同编号后四位"
                                  data-content="合同编号不能为空" id="contractname_display"  name="contractname_display" class="form-control keyInput">
                           <span class="input-group-btn">
                              <input type="button" id='search1' class="btn btn-default" value="搜索">
                              <!-- <input type="button" id='scanQRCode' class="btn btn-default" value="扫一扫"> -->
                           </span>
                        </div>
                        <div>
                            <span style="color:red" id="contractowenidmsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>客户名称</label>
                    <div class="input-box">
                    	<input type="hidden" id="customerid" name="customerid" value="" >
                    	<input type="hidden" id="customerowenid" value="" >
                    	<div class="input-group">
                        	<input type="text" data-toggle="popover" data-placement="bottom" data-content="客户名称不能为空" id="customername_display" name="customername_display" class="form-control keyInput">
                        	<span class="input-group-btn">
                        		<input type="button" id='search2' class="btn btn-default" value="搜索">
                        	</span>
                        </div>
                        <div>
                            <span style="color:red" id="customerowenidmsg"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>代理商标识码</label>
                    <div class="input-box">
                        <input type="number" data-toggle="popover" data-placement="bottom" data-content="代理商标识码不能为空" id="agents" name="agents"  value="{$agents}" class="form-control"  readonly="true">
                    </div>
                </div>
                <div class="form-group fix" style="padding-left: 35px;">
                    <table class="cls_service_table">
                        <tr><th>服务</th><th>数量</th><th>年限</th></tr>
                        <tbody>
                        <tr>
                            <td>云建站3.0微信小程序标准建站<input type="hidden" name="servicetype1" value="1"></td>
                            <td><input type="number" id="count1" class="productcount" data-id="1" name="count1" value="0" onchange="changeCount(1)" min="0" /></td>
                            <td><input type="number" id="year1" class="productyear" data-id="1" name="year1" value="0" onchange="changeYear(1)" min="0" max="10"/></td>
                        </tr>
                        <tr>
                            <td>云建站3.0PC标准建站<input type="hidden"name="servicetype2" value="2"></td>
                            <td><input type="number" id="count2" class="productcount" data-id="2" name="count2" value="0" onchange="changeCount(2)" min="0" /></td>
                            <td><input type="number" id="year2" class="productyear" data-id="2" name="year2" value="0" onchange="changeYear(2)" min="0" max="10"/></td>
                        </tr>
                        <tr>
                            <td>云建站3.0移动标准建站<input type="hidden"  name="servicetype3" value="3"></td>
                            <td><input type="number" id="count3" class="productcount" data-id="3" name="count3" value="0" onchange="changeCount(3)" min="0" /></td>
                            <td><input type="number" id="year3" class="productyear" data-id="3" name="year3" value="0" onchange="changeYear(3)" min="0" max="10"/></td>
                        </tr>
                        <tr>
                            <td>云建站3.0百度小程序标准建站<input type="hidden" name="servicetype5" value="5"></td>
                            <td><input type="number" id="count5" class="productcount" data-id="5" name="count5" value="0" onchange="changeCount(5)" min="0" /></td>
                            <td><input type="number" id="year5" class="productyear" data-id="5" name="year5" value="0" onchange="changeYear(5)" min="0" max="10"/></td>
                        </tr>
                        <tr>
                            <td>T云建站独立IP<input type="hidden" name="servicetype6" value="6"></td>
                            <td><input type="number" id="count6" class="productcount" data-id="6" name="count6" value="0" onchange="changeCount(6)" min="0" /></td>
                            <td><input type="number" id="year6" class="productyear" data-id="6" name="year6" value="0" onchange="changeYear(6)" min="0" max="10"/></td>
                        </tr>
                        <tr style="height: 15px;"><td></td><td></td><td></td></tr>
                        </tbody>
                    </table>
                    <!--<label>选择服务</label>
					<div class="input-box111" style="width: 225px;float: left;padding-left: 12px;">

                        <input type="button" id="btn_servicetype1" class="btn cls_servicetype" onclick="set_servicetype(1);" value="小程序建站">
                        <input type="button" id="btn_servicetype2" class="btn " onclick="set_servicetype(2);" value="云网站制作">
						<input type="hidden" id="hid_servicetype" name="servicetype" value="1">
					</div>-->
                </div>
                <!--<div class="form-group fix">
                    <label>购买数量</label>
                    <div class="input-box">
                        <div class="input-group">
						<span class="input-group-btn">
                        	<input type="button" id="btn_buycount1" class="btn btn-default" onclick="setBuyCount(0);" value="-">
                        </span>
                            <input type="number" data-toggle="popover" data-placement="bottom" data-content="购买数量不能为空" id="txtBuyCount" name="buycount" class="form-control" value="1" readonly="true"><span id="sp_buycount_msg" style="color: red;padding-left: 10px;line-height: 32px;display: none">(云网站制作只能购买1个)</span>
                            <span class="input-group-btn">
                        	<input type="button" id="btn_buycount2" class="btn btn-default" onclick="setBuyCount(1);" value="+">
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>使用年限</label>
                    <div class="input-box">
                        <div class="input-group">
						<span class="input-group-btn">
                        	<input type="button" id="btn_buyyear1" class="btn btn-default" onclick="setBuyYear(0);" value="-">
                        </span>
                            <input type="number" data-toggle="popover" data-placement="bottom" data-content="使用年限不能为空" id="txtBuyYear" name="buyyear" class="form-control" value="1" readonly="true">
                            <span class="input-group-btn">
                        	<input type="button" id="btn_buyyear2" class="btn btn-default" onclick="setBuyYear(1);" value="+">
                        </span>
                        </div>
                    </div>
                </div>-->
                 <!--<div class="form-group fix">
                    <label>签到地址</label>
                    <div class="input-box">
                    <div class="input-group">
						<span class="input-group-btn">
                        	<input type="button" id='signe1' class="btn btn-default" onclick="mymodal();" value="签到">
                        </span>
                        <input type="text" data-toggle="popover" data-placement="bottom" data-content="签到地址不能为空" id="sign_address" name="sign_address" class="form-control">
                        <span class="input-group-btn">
                        	<input type="button" id='signe2' class="btn btn-default" onclick="mymodal();" value="签到">
                        </span>
                    </div>
                    </div>
                </div>-->
                <div class="form-group fix">
                    <label>客户手机号码</label>
                    <div class="input-box">
						<div class="input-group">
                        	<input type="number" data-toggle="popover" data-placement="bottom" data-content="客户手机号码不能为空" id="mobile" name="mobile" class="form-control">
                        	<span class="input-group-btn">
                        		<input type="button" class="btn btn-default" id="sendVerify" onclick="settime(this);" value="发送验证码">
                        	</span>
                        </div>
                        <!--<div>
                        	<span style="color:red">激活码将与此手机号码绑定，请与客户确认。</span>
                        </div>-->
					</div>
                </div>
                <div class="form-group fix">
                    <label >手机验证码</label>
					<div class="input-box">
						<input type="hidden" id="isMobile" value="0">
                    	<div class="input-group">
                        	<input type="number" data-toggle="popover" data-placement="bottom" data-content="手机验证码不能为空" id="auth_code" name="auth_code" class="form-control" onkeyup="checkAuthCode();">
                        	<span class="input-group-btn" style="font-size:10px;">
                        		<font id="isCorrect">&nbsp;</font>
                        	</span>
                        </div>
                    </div>
                </div>
                <div class="confirm tc">
                        <input type="button" id='dosave' class="btn" data-toggle="popover" data-placement="top"
                        data-content="正在处理,请稍等…" value="确认购买">
                </div>

            </div>
        	</form>

        </div>

        {*include file="footer.html"*}
    </div>

    <!--<div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">地址签到</h4>
                </div>
                <div class="modal-body">
                <div class="confirm tc">
                <input type="hidden" id="lang">
			    <input type="hidden" id="ress" >
				<div class="container-fluid" id="XS">
					<div>
						<div id="container" style="width:98%; height:400px">{include file="qqmap.html"}</div>
					</div>
			        <div class="confirm tc confirm2">
			            <input  type="hidden" id="address" readonly  style="width: 100%; margin: auto;">
			        </div>
			        <input  id="position" type="hidden">
			        <div class="confirm tc confirm2" style="position: fixed;bottom: 45px;right: 0px;width: 104px;">
			            <button class="btn" id="sign" onclick="sign()">签到</button>
			        </div>

				</div>
				</div>
				</div>
            </div>
        </div>
    </div>-->
	<!--<div class="modal fade" id="myModals">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">地址签到</h4>
                </div>
                <div class="modal-body">
                <div class="confirm tc">

				<div class="container-fluid">
					<div>
						<div id="containers" style="width:98%; height:400px"></div>
					</div>

			        <div class="confirm tc confirm2" style="position: fixed;bottom: 45px;right: 0px;width: 104px;">
			            <button class="btn" id="signdd" onclick="sign()">签到</button>
			        </div>

				</div>
				</div>
				</div>
            </div>
        </div>
    </div>-->


	<!--<script type="text/javascript">
	var Height = window.innerHeight;
	$('.rowFrame').css('height',Height+'px')
        window.addEventListener('message', function(event) {
            // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
            var loc = event.data;
			if(loc.module=='locationPicker'){
				$('#address').val(loc.poiaddress);
				$('#position').val(loc.latlng.lng+'***'+loc.latlng.lat);
				//console.log('location', loc);
			}
        }, false);
		  function sign(){
	        if($('#address').val()&&$(position).val()){
	            $adname = $('#address').val();//获取地址
	            $adcode = $('#position').val();//获取位置
	            //$id = $('#record').val();
	            $("#sign_address").val($adname);
	            $('#myModal').modal('hide');
	            $('#myModals').modal('hide');
	          // console.log('index.php?module=VisitingOrder&action=dosign&id='+$id+'&adname='+$adname+'&adcode='+$adcode);
	            //window.location = 'index.php?module=VisitingOrder&action=dosign&id='+$id+'&adname='+$adname+'&adcode='+$adcode;
	        }else{
	            Tips.alert({
	                content: '地址不能为空'
	            });
	        }
    	}
	</script>-->
{literal}
 <script>
 var countdown=60;
 function settime(obj){
		var mobile = $("#mobile").val();
		if(mobile == ''){
			Tips.alert({
			    content: '手机号码不能为空'
			});
			return false;
		}
        var reg = /^(((13[0-9]{1})|(14[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(19[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
		if (!reg.test(mobile)) {
			Tips.alert({
			    content: '手机号码填写有误'
			});
		    return false;
		}
		if(countdown == 60){
			countdown = 59;
            obj.setAttribute("disabled", true);
            obj.setAttribute("class", 'btn btn-default');
			sendMobileVerify(mobile);
		}

		if(countdown == 0){
			obj.removeAttribute("disabled");
			obj.setAttribute("class", 'btn btn-default');
			obj.value="发送验证码";
			countdown = 60;
			return false;
		}else{
			obj.setAttribute("disabled", true);
			obj.setAttribute("class", 'btn btn-default');
			obj.value="重新发送(" + countdown + ")";
			countdown--;
		}
		setTimeout(function() {
			settime(obj) },1000);

	}

 	function sendMobileVerify(mobile){
 		$.ajax({
	         url: "/index.php?module=TyunStationSale&action=ajaxGetMobileVerify&mobile="+mobile,
	         type: 'GET',
	         dataType: 'json',
	         success: function (data) {
	         	if(!data.success){
	         		Tips.alert({
	            	    content: data.msg,
	            	});
	         	}
	         }
	     });
 	}


         $(function () {
            // 下拉框加载
            $(".select2").select2({
                width: '100%',
                height: 100
            });

            $('#search1').on('click', function () {
                var o = $('#contractname_display');
                var ov = o.val();
                var op = o.parent();
                var sb = [];
                if('' == ov){
                	Tips.alert({
                	    content: '合同编号不能为空',
                	});
                	return;
                }
                o.next('ul').remove();
                $('.delefalg').remove();
                var dheight=$(document).height();
                dheight=dheight*0.5;
                oul = op.append('<ul class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;"></ul>');

                if (ov) {
                    op.addClass('keyBox');
                    $('#loading').show();
                    $.ajax({
                        url: '/index.php?module=TyunStationSale&action=searchContract&contract_no='+ov,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#loading').hide();
                            if (data && data.length > 0) {
                                for (var i = 0;i<data.length; i++) {
                                	//console.log(data[i].item.servicecontracts_no);alert(data[i]['servicecontracts_no']);
                                     var item2=data[i];
                                     var nArr = item2.contract_no;
                                     var nid = item2.servicecontractsid;
                                     var username = item2.username;
                                     var userid = item2.userid;
                                     var oli=op.children('ul');
                                    oli.append("<li onclick='select_id1(\""+nArr+"\", \""+nid+"\", \""+username+"\", \""+userid+"\" )'>" + nArr + '</li>');

                                }

                            }else{
                            	Tips.alert({
                            	    content: '找不到合同编号',
                            	    define:'确定',
                            	    after:function(){
                            	    	$("#contractname_display").val('');
                            	    	$("#contractid").val('');
                            	    }
                            	});

                            }
                        },error:function(){
                            $('#loading').hide();
                            Tips.alert({
                                content: 'error'
                            });
                        }
                    });
                }
            });

        });
        blankFixExt('keyInput', 'keyText');
        function blankFixExt(node, targetNode) {
            $(document).bind('click', function (e) {
                var o = "." + node + ",." + node + " *";

                if (!$(e.target).is(o)&& (e.target.id)!='search1') {
                    $('.' + targetNode).hide();
                }
            });
         }
        function select_id1(id, cid,username,userid){
        	$("#contractid").val(cid);
        	$("#contractname_display").val(id);
        	$("#contractowenid").val(userid);
        	$("#contractowenidmsg").text('合同提单人:'+username);
        }

        $('#search2').on('click', function () {
            var o = $('#customername_display');
            var ov = o.val();
            var op = o.parent();
            var sb = [];
            if('' == ov){
            	Tips.alert({
            	    content: '客户名称不能为空',
            	});
            	return;
            }
            o.next('ul').remove();
            $('.delefalg').remove();
            var dheight=$(document).height();
            dheight=dheight*0.5;
            oul = op.append('<ul id="keyText2" class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;"></ul>');

            if (ov) {
                $('#loading').show();
                op.addClass('keyBox');
                $.ajax({
                    url: '/index.php?module=Accounts&action=searchAccount&company='+ov,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        $('#loading').hide();
                        if (data && data.length > 0) {
                            for (var i = 0;i<data.length; i++) {
                                 var item2=data[i];
                                 var nArr = item2.value;console.log(nArr)
                                 var oli=op.children('ul');
                                oli.append("<li onclick='select_id2("+item2.id+")'>" + nArr + '</li>');

                            }
                          $("#keyText2").show();
                        }else{
                        	Tips.alert({
                        	    content: '找不到客户',
                        	    define:'确定',
                        	    after:function(){
                        	    	$("#customername_display").val('');
                        	    	$("#customerid").val('');
                        	    }
                        	});
                        }
                    },error:function(){
                        $('#loading').hide();
                        Tips.alert({
                            content: 'error'
                        });
                    }
                });
            }
        });

        function select_id2(id){
            var idval = id;
            $.ajax({
                url: "/index.php?module=Accounts&action=getAccountMsg&id="+id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if(data==''){
                        Tips.alert({
            			    content: '客户信息不全'
            			});
                        return false;
                    }
                    //$('#destination').val(data.address);
                    $('#customerid').val(data.accountid);
                    $('#customerowenid').val(data.userid);
                    $('#customerowenidmsg').text('客户负责人:'+data.username);
                    //$('#contacts').val(data.linkname);
                    $('#customername_display').val(data.accountname);//$('#related_to_display').val(data.accountname);
                    //$('#customeraddress').val(data.customeraddress);
                },error:function(){
                    Tips.alert({
                        content: 'error'
                    });
                }
            });
        }

        function checkAuthCode(){
        	var code = $("#auth_code").val();
        	var mobile = $("#mobile").val();
        	$.ajax({
                url: "/index.php?module=TyunStationSale&action=checkAuthCode&code="+code,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if(data.success && mobile){
                        $("#isCorrect").html("√");
                        $("#isCorrect").css('color', 'green');
                        $("#isMobile").val('1');
                    }else{
                    	$("#isCorrect").html("×");
                        $("#isCorrect").css('color', 'red');
                        $("#isMobile").val('0');
                    }
                },error:function(){
                    $('#loading').hide();
                    Tips.alert({
                        content: 'error'
                    });
                }
            });
        }
 </script>


	<script type="text/javascript">
			function checkCountAndYear() {
                //确认购买的时候，最少要有一个数量大于0的
                var blcheck = false;
                /*for(var i=1;i<=5;i++){
                    if(i==4){continue;}
                    var count = $("#count"+i).val();
                    if(count > 0) {
                        blcheck = true;
                        break;
                    }
                }*/
                var $productcount=$('.productcount');
                $.each($productcount,function(key,value){
                    if($(value).val()>0){
                        blcheck = true;
                        return false;
                    }
                });
                if(!blcheck){
                    Tips.alert({
                        content: '最少要购买一个服务',
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                            }
                        }
                    });
                    return false;
                }

                //PC和手机最多只能买一套
                var count2 = $("#count2").val();
                var count3 = $("#count3").val();
                if(count2 > 1 || count3 > 1){
                    Tips.alert({
                        content: 'PC端或手机端标准建站最多只能买一套',
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                            }
                        }
                    });
                    return false;
                }

                //当数量大于0的时候，年限最小为1
                blcheck = true;
                /*for(var i=1;i<=5;i++){
                    if(i==4){continue;}
                    var count = $("#count"+i).val();
                    if(count > 0) {
                        var year = $("#year"+i).val();
                        if(year <=0){
                            blcheck = false;
                            break;
                        }
                    }
                }*/
                var $productyear=$('.productyear');
                $.each($productyear,function(key,value){
                    var id=$(value).data('id');
                    var count = $("#count"+id).val();
                    if(count > 0) {
                        var year = $(value).val();
                        if(year <=0){
                            blcheck = false;
                            return false;
                        }
                    }
                });
                if(!blcheck){
                    Tips.alert({
                        content: '当数量大于0的时候，年限最小为1',
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                            }
                        }
                    });
                    return false;
                }

                //当数量为0的时候，年限只能为0
                blcheck = true;
                var $productyear=$('.productyear');
                $.each($productyear,function(key,value){
                    var id=$(value).data('id');
                    var count = $("#count"+id).val();
                    if(count <= 0) {
                        var year = $(value).val();
                        if(year >0){
                            blcheck = false;
                            return false;
                        }
                    }
                });
                /*for(var i=1;i<=5;i++){
                    if(i==4){continue;}
                    var count = $("#count"+i).val();
                    if(count <= 0) {
                        var year = $("#year"+i).val();
                        if(year > 0){
                            blcheck = false;
                            break;
                        }
                    }
                }*/
                if(!blcheck){
                    Tips.alert({
                        content: '当数量为0的时候，年限只能为0',
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                            }
                        }
                    });
                    return false;
                }

                return true;
            }
			function check(){
				$('#contractid').popover('destroy');
				if(''==$('#contractid').val()){
                    $('#contractname_display').focus();
                    $("#contractname_display").val('');
                    $("#contractid").val('');
                    $('#contractname_display').popover("show");
                    $('.popover-content').css({"color":"red","fontSize":"12px"});
                    setTimeout("$('#contractname_display').popover('destroy')",2000);
					return false;
				}
                $('#customername_display').popover('destroy');
				if(''==$('#customerid').val()){
                    $('#customername_display').focus();
                    $("#customername_display").val('');
                    $("#customerid").val('');
                    $('#customername_display').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#customername_display').popover('destroy')",2000);
					return false;
				}
                /*if($('#contractowenid').val()!=$('#customerowenid').val() || $('#customerowenid').val()=='' || $('#contractowenid').val()==''){
                    Tips.alert({
                        content: '合同提单人与客户负责人不是同一人'
                    });
                    return false;
                }*/

                $('#agents').popover('destroy');
				if(''==$('#agents').val()){
                    $('#agents').focus();
                    $('#agents').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#agents').popover('destroy')",2000);
					return false;
				}

                //验证购买数量和年限
                if(!checkCountAndYear()) return false;

                /*$('#sign_address').popover('destroy');
				if(''==$('#sign_address').val()){
                    $('#sign_address').focus();
                    $('#sign_address').popover('show');
                    setTimeout("$('#sign_address').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}*/
				$('#mobile').popover('destroy');
				if(''==$('#mobile').val()){
                    $('#mobile').focus();
                    $('#mobile').popover('show');
                    setTimeout("$('#mobile').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}

				$('#auth_code').popover('destroy');
				if(''==$('#auth_code').val()){
                    $('#auth_code').focus();
                    $('#auth_code').popover('show');
                    setTimeout("$('#auth_code').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}
				// if('0' == $("#isMobile").val()){
				// 	Tips.alert({
				// 	    content: '验证码不正确'
				// 	});
				// 	return false;
				// }
				return true;
			}
			var dosaveflag=1;
            $('#dosave').on('click', function() {
	            if(!check()){
	                    return false;
	                }
                $('#loading').show();
	            $('#dosave').removeAttr("id");//防止多次点击提交
				/*if(dosaveflag!=1){
					//防止多次提多;
					return false;
				}*/
				dosaveflag=2;
	            $('#frm_stationsale').ajaxSubmit({
	                type: 'post',
	                url:"/index.php?module=TyunStationSale&action=ajaxSaveTyunStationSale",
	                dataType :'json',
	                success: function(data) {
                        $('#loading').hide();
	                	if(data.success==1){
	                		Tips.alert({
	    					    content: data.msg,
								before: function(){
								},
								after: function(b){
									if(b){
										//window.location.reload();
									}
								}
	    					});

	                	}else{
	                		Tips.alert({
	    					    content: data.msg,
								before: function(){
                            },
                            after: function(b){
                                if(b){
                                    //window.location.reload();
                                }
                            }
	    					});
	                	}
	                },
	                error:function(){
                        $('#loading').hide();
	                	Tips.alert({
    					    content: 'error',
							before: function(){
                            },
                            after: function(b){
                                if(b){
                                    //window.location.reload();
                                }
                            }
    					});
	                }
	            });
	            return false;
            });

			var cache = {};

            //禁用juqery mobile 加载自带的样式
            $(document).bind("mobileinit", function(){
                $.mobile.page.prototype.options.keepNative = "select, input, textarea, a,div,ul,li,span,button,form";
            });
            $("input").attr('data-role','none');
            $("select").attr('data-role','none');
            $("a").attr('data-role','none');
            //禁止a标签ajax跳转
            $("a").attr('data-ajax','false');
            $("div,ul,li,span").attr('data-role','none');

	</script>
	{/literal}

<script type="text/javascript">

wx.config({
    debug: false,
    appId: "{$signPackage['appId']}",
    timestamp: "{$signPackage['timestamp']}",
    nonceStr: "{$signPackage['nonceStr']}",
    signature: "{$signPackage['signature']}",
    jsApiList: ['scanQRCode','getLocation']
});
   wx.ready(function () {
// 1 判断当前版本是否支持指定 JS 接口，支持批量判断

		/* wx.checkJsApi({
		  jsApiList: [
			'getNetworkType',
			'previewImage'
		  ],
		  success: function (res) {
			alert(JSON.stringify(res));
		  }
		}); */

		$("#scanQRCode").click(function(){
			wx.scanQRCode({
			    desc: 'scanQRCode desc',
			    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
			    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
			    success: function (res) {
			       // 回调
			       var result = res.resultStr;//当needResult 为 1 时，扫码返回的结果
			       $.ajax({
		                url: "/index.php?module=TyunStationSale&action=findContractNo&id="+result,
		                type: 'GET',
		                dataType: 'json',
		                success: function (data) {
		                	if(data && data.length > 0){
		                		$("#contractid").val(data.contractNo.servicecontractsid);//把值设置到框内
			                	$("#contractname_display").val(data.contractNo.contract_no);//把值设置到框内
		                	}else{
		                		Tips.alert({
                            	    content: '该份合同可能不属于你',
                            	    define:'确定',
                            	    after:function(){
                            	    	$("#contractname_display").val('');
                            	    	$("#contractid").val('');
                            	    }
                            	});
		                	}

		                },
		                error: function(e){
		                	$("#contractid").val("");
		                	$("#contractname_display").val("");
		                	Tips.alert({
	            			    content: e
	            			});
		                }
		            });
			    },
			    error: function(res){
			          if(res.errMsg.indexOf('function_not_exist') > 0){
			               Tips.alert({
	            			    content: '版本过低请升级'
	            			});
			          }
			     }
			});
		});
		/*wx.getLocation({
			type: 'gcj02',
			success: function (res) {

				var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
				var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
				var speed = res.speed; // 速度，以米/每秒计
				var accuracy = res.accuracy; // 位置精度
				var markUrl = "http://apis.map.qq.com/tools/locpicker?search=0&mapdraggable=0&type=1&key=YQSBZ-DN7WP-NWGDE-L7OWN-4ZYU2-GCBJU&referer=myapp&coord="+latitude+','+longitude;
				console.log(markUrl);
				console.log(markUrl);
				$('#containers').append('<iframe id="mapPage1" width="100%" height="100%" frameborder=0 src="'+markUrl+'"></iframe>');
				//$('#address').val(loc.poiaddress);
				//$('#position').val(latitude+'***'+longitude);

			},
			error:function(res){
			},
			cancel: function (res) {
				alert('用户拒绝授权获取地理位置');
			}
		});*/
	 }
	);
	wx.error(function (res) {
	  Tips.alert({
		    content: res.errMsg
		});
	});

	function openurl(type){
		if(type=='3'){
            window.location.href='index.php?module=TyunStationSale&action=sign';
        }else if(type=='4'){
            //window.location.href= 'index.php?module=TyunStationSale&action=picture&id='+$('#selectaccount').val();
        }
	}
    function mymodal(){
        //$('#selectaccount').val(accountid);
        $('#myModal').modal();
    }
	function mymodals(){
        //$('#selectaccount').val(accountid);
        $('#myModals').modal();
    }
    /*function set_servicetype(type) {
	    if(type == 1){
            if($("#btn_servicetype2").hasClass("cls_servicetype")){
                $("#btn_servicetype2").removeClass("cls_servicetype");
            }
	        if(!$("#btn_servicetype1").hasClass("cls_servicetype")){
                $("#btn_servicetype1").addClass("cls_servicetype");
            }
            //如果选择云网站制作购买数量默认为1不能修改
            $("#btn_buycount1").show();
            $("#btn_buycount2").show();
            $("#txtBuyCount").val(1);

            $("#txtBuyCount").css("width","100%");
            $("#sp_buycount_msg").hide();
        }else{
            if($("#btn_servicetype1").hasClass("cls_servicetype")){
                $("#btn_servicetype1").removeClass("cls_servicetype");
            }
            if(!$("#btn_servicetype2").hasClass("cls_servicetype")){
                $("#btn_servicetype2").addClass("cls_servicetype");
            }
            //如果选择云网站制作购买数量默认为1不能修改
            $("#btn_buycount1").hide();
            $("#btn_buycount2").hide();
            $("#txtBuyCount").val(1);

            $("#txtBuyCount").css("width","32px");
            $("#sp_buycount_msg").show();
        }
        $("#hid_servicetype").val(type);
    }
    function setBuyCount(type) {
        var buycount = parseInt($("#txtBuyCount").val()==''?1:$("#txtBuyCount").val());
        if(type == 1){
            $("#txtBuyCount").val(buycount+1)
        }else{
            if(buycount != '1'){
                $("#txtBuyCount").val(buycount-1)
            }
        }
    }
    function setBuyYear(type) {
        var buyyear = parseInt($("#txtBuyYear").val()==''?1:$("#txtBuyYear").val());
        if(type == 1){
            $("#txtBuyYear").val(buyyear+1)
        }else{
            if(buyyear != '1'){
                $("#txtBuyYear").val(buyyear-1)
            }
        }
    }*/
    function changeCount(type) {
        var count = $("#count"+type).val();
        if (count <= 0){
            //当数量为0的时候，年限只能为0
            $("#year"+type).val('0');
        }
    }
    function changeYear(type) {
        var count = $("#count"+type).val();
        if (count <= 0){
            //当数量为0的时候，年限只能为0
            $("#year"+type).val('0');
        }

    }
</script>

<div id="loading" style="display: none;">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"style="background-color:green;"></div>
            <div class="object" id="object_two" style="left:20px;">理</div>
            <div class="object" id="object_three" style="left:40px;">处</div>
            <div class="object" id="object_four" style="left:60px;">在</div>
            <div class="object" id="object_five" style="left:80px;">正</div>
        </div>
    </div>
</div>
</body>
</html>
