<!DOCTYPE HTML>
<html>
<head>
    <title>建站服务续费</title>
    {include file="header.html"}
    <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
    <script src="static/js/jquery.form.js?v={$versionjs}"></script>
    <script src="static/js/select2.js?v={$versionjs}"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
    {literal}
    <style type="text/css">
        html,body{
            height:100%;
        }
        .rowFrame{
            overflow-y:auto;
            min-height: 50%;
        }
        .cls_servicetype{
            background: #3590df;
            color: white;
            border-radius: 5px;
            padding-top: 8px;
        }
        *{
            text-shadow:none;
        }
        .ui-page{
            height:100%;
        }

        .footer{
            position: absolute;
            bottom:0
        }
        .close{
            color:#fff;
            text-shadow:0 1px 0 #000;
            opacity: 1;
        }
        /* .add-visit label{
             width: 27%;
         }*/
        /*.add-visit .input-box{
        	width: 71%;
        }*/
        .form-group{
            margin-bottom:10px;
        }
        #loading{background-color:#000000;height:100%;width:100%;position:fixed;z-index:99999;margin:0px;padding:0px;top:0px;opacity: 0.5;}
        #loading-center{width:100%;height:100%;position: relative;}
        #loading-center-absolute {position:absolute;left:50%;top:50%;height:20px;width:100px;margin-top:-10px;margin-left:-50px;}
        .object{width:20px;height:20px;color:#333;font-size:10px;text-align:center;line-height:20px;background-color: #FFF;-moz-border-radius: 50% 50% 50% 50%;-webkit-border-radius: 50% 50% 50% 50%;border-radius: 50% 50% 50% 50%;margin-right: 20px;margin-bottom: 20px;position: absolute;opacity: 1;}
        #object_one{-webkit-animation: object 2s linear infinite;animation: object 2s linear infinite;}
        #object_two{-webkit-animation: object 2s linear infinite -.4s;animation: object 2s linear infinite -.4s;}
        #object_three{-webkit-animation: object 2s linear infinite -.8s;animation: object 2s linear infinite -.8s;}
        #object_four{-webkit-animation: object 2s linear infinite -1.2s;animation: object 2s linear infinite -1.2s;}
        #object_five{-webkit-animation: object 2s linear infinite -1.6s;animation: object 2s linear infinite -1.6s;}
        @-webkit-keyframes object{0% {left:100px;top:0} 80% {left:0;top:0;} 85% {left:0;top:-20px;width:20px;height:20px;} 90% {width:40px;height:15px;} 95% {left:100px;top:-20px;width:20px;height:20px;} 100% {left:100px; top:0; }}
        @keyframes object{0% { left:100px;top:0} 80% {left:0;top:0;} 85% {left:0;top:-20px;width:20px;height:20px;} 90% {width:40px; height:15px;} 95% {left:100px;top:-20px;width:20px;height: 20px;} 100% {left: 100px; top:0; }}
        .cls_service_table{
            width:100%;
        }
        .cls_service_table tr{
            height: 35px;
        }
        .cls_service_table th{
            border: 1px solid #ccc;
            text-align: center;
            background-color: #eee;
        }
        .cls_service_table td{
            text-align: center;
            border-radius: 4px;
            border: 1px solid #ccc;
            height: 34px;
            padding: 5px 2px;
        }
        .headon{
            border-bottom: 2px solid #535282;
        }
    </style>
    {/literal}
</head>
<body>
<div id="div_renew_determine_input" class="container-fluid w fix rowFrame" style='padding-bottom:0;'>
    <!-- <div id='test'></div> -->
    <div class="row ">
        <div class="list-head">
            <ul class="fix">
                <a href="index.php?module=TyunStationSale&action=add" style="color:#666;"><li style="width:50%;">购买</li></a>
                <li class="headon" style="width:50%;">续费</li>
            </ul>
        </div>
        <div class="add-visit">
            <div class="form-group fix">
                <input type="hidden" id="receivetimeflag" value="0">
                <input type="hidden" id="isCustomServiceAdmin" value="{$is_cs_admin}">
                <div class="input-group">
                    <div class="input-group-addon">T云账号</div>
                    <input type="text" data-toggle="popover" data-placement="bottom" placeholder="输入T云账号"
                           data-content="T云账号不能为空" id="tyun_account_s" class="form-control keyInput">
                    <div class="input-group-addon" onclick="searchTyunBuyServiceInfon()" id="searchTyunBuyServiceInfo" ><i id="searchTyunBuyServiceInfo_li" class="fa icon-search" aria-hidden="true" onclick="searchTyunBuyServiceInfon()"></i></div>
                </div>
            </div>
            <div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">T云账号</label>
                <div class="input-box">
                    <label id="tyun_account_display" style="text-align: left;width: 100%;"></label>
                    <input type="hidden" id="tyun_account" value="" >
                </div>
            </div>
            <div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">客户名称</label>
                <div class="input-box">
                    <label id="oldcustomername_display" style="text-align: left;width: 100%;"></label>
                    <input type="hidden" id="oldcustomerid" value="" >
                </div>
            </div>
            <div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">原合同</label>
                <div class="input-box">
                    <label id="oldcontractcode_display" style="text-align: left;width: 100%;"></label>
                </div>
                <input type="hidden" id="oldcontractid" value="" >
            </div>
            <div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">服务项</label>
            </div>
            <div class="form-group fix" style="padding:0 20px;">
                <table class="cls_service_table">
                    <tr><th>服务</th><th>数量</th><th>年限</th></tr>
                    <tbody>
                    <tr>
                        <td>云建站3.0微信小程序标准建站<input type="hidden" name="servicetype1" value="1" readonly="readonly" disabled></td>
                        <td style="text-align: center;"><span id="count1">0</span></td>
                        <td style="text-align: center;"><span id="year1">0</span></td>
                    </tr>
                    <tr>
                        <td>云建站3.0PC标准建站<input type="hidden" name="servicetype2" value="2" readonly="readonly" disabled></td>
                        <td style="text-align: center;"><span id="count2">0</span></td>
                        <td style="text-align: center;"><span id="year2">0</span></td>
                    </tr>
                    <tr>
                        <td>云建站3.0移动标准建站<input type="hidden"  name="servicetype3" value="3" disabled></td>
                        <td style="text-align: center;"><span id="count3">0</span></td>
                        <td style="text-align: center;"><span id="year3">0</span></td>
                    </tr>
                    <tr>
                        <td>云建站3.0百度小程序标准建站<input type="hidden"  name="servicetype5" value="5" disabled></td>
                        <td style="text-align: center;"><span id="count5">0</span></td>
                        <td style="text-align: center;"><span id="year5">0</span></td>
                    </tr>
                    <tr>
                        <td>T云建站独立IP<input type="hidden"  name="servicetype6" value="6" disabled></td>
                        <td style="text-align: center;"><span id="count6">0</span></td>
                        <td style="text-align: center;"><span id="year6">0</span></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">到期时间</label>
                <div class="input-box">
                    <label id="oldexpiredate_display" style="text-align: left;width: 100%;"></label>
                </div>
            </div>
            {*<div class="form-group fix" style="margin-bottom: 0px;">
                <label style="font-weight: bold;">最近续费</label>
                <div class="input-box">
                    <label id="lately_add_display" style="text-align: left;width: 100%;color: red"></label>
                </div>
            </div>*}
            <div class="form-group fix">
                <div style="text-align: center;padding: 5px;"><span style="color: blue;font-weight: 600;font-size: 15px;">请核对以上信息无误后继续操作</span></div>
            </div>

            <div class="form-group fix">
                <div class="input-group">
                    <div class="input-group-addon">续费合同</div>
                    <input type="text" data-toggle="popover" data-placement="bottom" placeholder="输入合同后4位"
                           data-content="续费合同不能为空" id="contractcode"  name="contractcode" class="form-control keyInput">
                    <div class="input-group-addon" onclick="searchRenewContract()" id="searchRenewContract"><i onclick="searchRenewContract()" id="searchRenewContract_li" class="fa icon-search" aria-hidden="true"></i></div>
                    <input type="hidden" id="contractid" value="" >
                    <input type="hidden" id="contractowenid" value="">
                </div>
                <div>
                    <span style="color:red" id="contractowenidmsg"></span>
                </div>
            </div>
            <div class="form-group fix">
                <div class="input-group">
                    <div class="input-group-addon">合同金额</div>
                    <input type="number" data-toggle="popover" data-placement="bottom" data-content="合同金额不能为空" id="contractamount"  class="form-control" value="">
                </div>
            </div>
            <div class="form-group fix">
                <div class="input-group">
                    <div class="input-group-addon">续费年限</div>
                    <select id="productlife" name="productlife" class="form-control" onchange="select_year(this.options[this.options.selectedIndex].value);" data-toggle="popover" data-placement="bottom" data-content="年限必选">

                    </select>
                    <input type="hidden" id="plpre" value="">
                </div>
            </div>

            <div class="form-group fix" id="div_tyun_serviceitem">
                <div style="text-align: center;">
                    <table class="cls_service_table">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>

            {*<div class="form-group fix" id="div_serviceItem">
                <div style="text-align: center;padding: 5px;"><i class="fa icon-plus" aria-hidden="true"></i><span style="color: blue;font-weight: 600;font-size: 15px;padding-left: 5px;" onclick="add_TyunServiceItem('btn_tyun_renew',2)">添加另购服务</span></div>
            </div>*}

            <div class="confirm tc">
                <input type="button" class="btn" data-toggle="popover" data-placement="top"
                       data-content="正在处理,请稍等…" value="确定续费" id="btn_tyun_renew" onclick="doDetermineRenew()">
            </div>
        </div>
    </div>
</div>

<!-- 续费确认页面 -->
<div id="div_renew_determine_save" class="container-fluid w fix rowFrame" style='padding-bottom:0;display: none'>
    <div class="row ">
        <form id='frm_renew'  method="POST">
            <input type="hidden" id="loginname_save" name="loginname">
            <input type="hidden" id="contractid_save" name="contractid" >
            <input type="hidden" id="contractname_display_save" name="contractname_display">
            <input type="hidden" id="expiredate_save" name="oldexpiredate">
            <input type="hidden" id="customername_save" name="customername">
            <input type="hidden" id="agents" name="agents" value="{$agents}">
            <input type="hidden" id="contractamount_save" name="contractamount">
            <div class="add-visit" style="padding: 0px">
                <div class="form-group fix">
                    <div style="text-align: center;padding: 5px;"><span style="color: red;font-weight: 600;font-size: 15px;">请确认以下续费内容</span></div>
                </div>
                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">成交合同</label>
                    <div class="input-box">
                        <label id="contractcode_display2" style="width: 100%;text-align: left"></label>
                    </div>
                </div>
                <div class="form-group fix" style="margin-bottom:0px">
                    <label style="font-weight: 800;">合同金额</label>
                    <div class="input-box">
                        <label id="contractamount_display2" style="width: 100%;text-align: left"></label>
                    </div>
                </div>
                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">续费账号</label>
                    <div class="input-box">
                        <label id="loginname_display2" style="width: 100%;text-align: left"></label>
                    </div>
                </div>
                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">客户名称</label>
                    <div class="input-box">
                        <label id="oldcustomername_display2" style="width: 100%;text-align: left"></label>
                    </div>
                </div>

                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">原到期时间</label>
                    <div class="input-box">
                        <label id="oldexpiredate_display2" style="width: 100%;text-align: left"></label>
                    </div>
                </div>

                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">续费年限</label>
                    <div class="input-box">
                        <label id="productlife_display2" style="width: 100%;text-align: left"></label>
                        <input type="hidden" id="productlife_save" name="productlife">
                    </div>
                </div>
                <div class="form-group fix"  style="margin-bottom:0px">
                    <label style="font-weight: 800;">服务项</label>
                    <div style="text-align: center;padding:0 20px;">
                        <table class="cls_service_table">
                            <tr><th>服务</th><th>数量</th><th>年限</th></tr>
                            <tbody>
                            <tr>
                                <td>云建站3.0微信小程序标准建站<input type="hidden" name="servicetypea1" value="1" readonly="readonly" disabled></td>
                                <td style="text-align: center;"><span id="counta1">0</span></td>
                                <td style="text-align: center;"><span id="yeara1">0</span></td>
                            </tr>
                            <tr>
                                <td>云建站3.0PC标准建站<input type="hidden" name="servicetypea2" value="2" readonly="readonly" disabled></td>
                                <td style="text-align: center;"><span id="counta2">0</span></td>
                                <td style="text-align: center;"><span id="yeara2">0</span></td>
                            </tr>
                            <tr>
                                <td>云建站3.0移动标准建站<input type="hidden"  name="servicetypea3" value="3" disabled></td>
                                <td style="text-align: center;"><span id="counta3">0</span></td>
                                <td style="text-align: center;"><span id="yeara3">0</span></td>
                            </tr>
                            <tr>
                                <td>云建站3.0百度小程序标准建站<input type="hidden"  name="servicetypea5" value="5" disabled></td>
                                <td style="text-align: center;"><span id="counta5">0</span></td>
                                <td style="text-align: center;"><span id="yeara5">0</span></td>
                            </tr>
                            <tr>
                                <td>T云建站独立IP<input type="hidden"  name="servicetypea6" value="6" disabled></td>
                                <td style="text-align: center;"><span id="counta6">0</span></td>
                                <td style="text-align: center;"><span id="yeara6">0</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="div_hid_service_save"></div>
                </div>
                <br>
                <div class="confirm tc">
                    <input type="button" id='doback' class="btn" data-toggle="popover" data-placement="top" style="background: #9b9ba0;"
                           value="返回修改" onclick="back_edit()">
                </div>
                <div class="confirm tc">
                    <input type="button" id='dosave' class="btn" data-toggle="popover" data-placement="top"
                           data-content="正在处理,请稍等…" value="确定续费" onclick="stationrenew_save()">
                </div>

            </div>
        </form>

    </div>

</div>

<div id="loading" style="display: none;">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_one"style="background-color:green;"></div>
            <div class="object" id="object_two" style="left:20px;">理</div>
            <div class="object" id="object_three" style="left:40px;">处</div>
            <div class="object" id="object_four" style="left:60px;">在</div>
            <div class="object" id="object_five" style="left:80px;">正</div>
        </div>
    </div>
</div>
{literal}
<script src="js/tyunBuyService.js"></script>
<script>
    $("input").attr('data-role','none');
    $("select").attr('data-role','none');
    $("a").attr('data-role','none');
    //禁止a标签ajax跳转
    $("a").attr('data-ajax','false');
    $("div,ul,li,span").attr('data-role','none');

    $("#searchTyunBuyServiceInfo_li").click(function(event){
        event.stopPropagation();//阻止事件冒泡即可
    });
    $("#searchRenewContract_li").click(function(event){
        event.stopPropagation();//阻止事件冒泡即可
    });

    //初始化购买年限
    initBuyYearList("productlife");

    blankFixExt('keyInput', 'keyText');
    function blankFixExt(node, targetNode) {
        $(document).bind('click', function (e) {
            var o = "." + node + ",." + node + " *";

            if (!$(e.target).is(o)&& (e.target.id)!='searchRenewContract' && (e.target.id)!='searchRenewContract_li') {
                $('.' + targetNode).hide();
            }
        });
    }

    //搜索续费合同
    function searchRenewContract() {
        var o = $('#contractcode');
        var ov = o.val();
        var op = o.parent();
        var sb = [];
        if('' == ov){
            Tips.alert({
                content: '合同编号不能为空',
            });
            return;
        }
        //客户id
        var oldcustomerid = $("#oldcustomerid").val();

        o.next('ul').remove();
        $('.delefalg').remove();
        var dheight=$(document).height();
        dheight=dheight*0.5;
        oul = op.append('<ul class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;left: 82px"></ul>');

        if (ov) {
            op.addClass('keyBox');
            $('#loading').show();
            $.ajax({
                url: '/index.php?module=TyunStationSale&action=searchContract&contract_no='+ov,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    $('#loading').hide();
                    if (data && data.length > 0) {
                        for (var i = 0;i<data.length; i++) {
                            //console.log(data[i].item.servicecontracts_no);alert(data[i]['servicecontracts_no']);
                            var item2=data[i];
                            var nArr = item2.contract_no;
                            var nid = item2.servicecontractsid;
                            var username = item2.username;
                            var userid = item2.userid;
                            var oli=op.children('ul');
                            oli.append("<li onclick='selectBuyContract(\""+nArr+"\", \""+nid+"\", \""+username+"\", \""+userid+"\" )'>" + nArr + '</li>');
                        }

                    }else{
                        Tips.alert({
                            content: '找不到合同编号',
                            define:'确定',
                            after:function(){
                                $("#contractcode").val('');
                                $("#contractid").val('');
                            }
                        });

                    }
                },error:function(){
                    $('#loading').hide();
                    Tips.alert({
                        content: '系统繁忙，请稍后再试'
                    });
                }
            });
        }
    }
    function selectBuyContract(contract_no, servicecontractsid,username,userid){
        $("#contractid").val(servicecontractsid);
        $("#contractcode").val(contract_no);
        $("#contractowenid").val(userid);
        $("#contractowenidmsg").text('合同提单人:'+username);
    }

    function doDetermineRenew() {
        $('#contractid').popover('destroy');
        if(''==$('#loginname_save').val()){
            $('#tyun_account_s').focus();
            $("#tyun_account_s").val('');
            $('#tyun_account_s').popover("show");
            $('.popover-content').css({"color":"red","fontSize":"12px"});
            setTimeout("$('#contractcode').popover('destroy')",2000);
            return;
        }
        //续费合同编号
        $('#contractid').popover('destroy');
        if(''==$('#contractid').val()){
            $('#contractcode').focus();
            $("#contractcode").val('');
            $("#contractid").val('');
            $('#contractcode').popover("show");
            $('.popover-content').css({"color":"red","fontSize":"12px"});
            setTimeout("$('#contractcode').popover('destroy')",2000);
            return;
        }

        //合同金额
        $('#contractamount').popover('destroy');
        if(''==$('#contractamount').val()){
            $('#contractamount').focus();
            $("#contractamount").val('');
            $('#contractamount').popover("show");
            $('.popover-content').css({"color":"red","fontSize":"12px"});
            setTimeout("$('#contractamount').popover('destroy')",2000);
            return;
        }

        //续费年限
        $('#productlife').popover('destroy');
        if(''==$('#productlife').val()){
            $('#productlife').focus();
            $("#productlife").val('');
            $('#productlife').popover("show");
            $('.popover-content').css({"color":"red","fontSize":"12px"});
            setTimeout("$('#productlife').popover('destroy')",2000);
            return;
        }
        //判断另购服务是否重复
        if(!checkServiceInput('renew')) return;

        doConfirmPage();
    }

    //跳转到确认页面
    function doConfirmPage() {
        //购买合同
        //$("#contractcode_display2").text($("#oldcontractcode_display").text());
        $("#contractcode_display2").text($("#contractcode").val());
        $("#contractamount_display2").text($("#contractamount").val());
        for(var i=1;i<6;++i){
            if(i==4){continue;}
            if($("#counta"+i).text()>0){
                $("#yeara"+i).text($("#productlife").val());
            };
        }
        //购买客户
        $("#oldcustomername_display2").text($("#oldcustomername_display").text());
        //原版本
        $("#oldproductname_display2").text($("#oldproductname_display").text());
        //原到期时间
        $("#oldexpiredate_display2").text($("#oldexpiredate_display").text());

        //购买年限
        $("#productlife_display2").text($("#productlife").val()==''?'':$("#productlife").find("option:selected").text());
        //购买时间
        $("#buydate_save").val($("#buydate").val());
        //到期日期


        //设置保存值====================================================================
        //合同信息
        $("#contractid_save").val($("#contractid").val());
        $("#contractname_display_save").val($("#contractcode").val());
        $("#productlife_save").val($("#productlife").val());
        $("#contractamount_save").val($("#contractamount").val());
        //================================================================================

        $("#div_renew_determine_input").hide();
        $("#div_renew_determine_save").show();

    }
    //返回修改
    function back_edit() {
        $("#div_renew_determine_input").show();
        $("#div_renew_determine_save").hide();
    }
    function stationrenew_save() {
        $('#loading').show();
        $('#frm_renew').ajaxSubmit({
            type: 'post',
            url:"/index.php?module=TyunStationSale&action=saveStationRenew",
            dataType :'json',
            success: function(data) {
                $('#loading').hide();
                if(data.success==1){
                    Tips.alert({
                        content: '续费成功',
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                                window.location.reload();
                            }
                        }
                    });
                }else{
                    Tips.alert({
                        content: data.msg,
                        before: function(){
                        },
                        after: function(b){
                            if(b){
                                //window.location.href= back_page_src;
                            }
                        }
                    });
                }
            },
            error:function(){
                $('#loading').hide();
                Tips.alert({
                    content: '系统繁忙，请稍后再试',
                    before: function(){
                    },
                    after: function(b){
                        if(b){
                            //window.location.href= back_page_src;
                        }
                    }
                });
            }
        });

    }
    function searchTyunBuyServiceInfon() {
        var tyun_account = $.trim($("#tyun_account_s").val());
        if (tyun_account == "") {
            Tips.alert({
                content: 'T云账号不能为空',
            });
            $("#tyun_account").focus();
            return;
        }
        //清空数据
        $("#oldcustomername_display").text("");
        $("#oldcontractcode_display").text("");
        $("#oldproductname_display").text("");
        $("#oldexpiredate_display").text("");
        $("#receivetimeflag").val("");
        $("#buyid_save").val("");
        $("#oldcontractid").val("");
        $("#oldcustomerid").val("");
        $("#loginname_save").val("");
        $("#secretkeyid_save").val("");
        $("#oldproductid_save").val("");
        $("#oldexpiredate_save").val("");
        $("#agents_save").val("");
        $("#customername_save").val("");
        $("#tyun_account_display").text("");
        $("#tyun_account").val("");
        $("#lately_renew_display").text("");
        $("#count1").text("0");
        $("#year1").text("0");
        $("#count2").text("0");
        $("#year2").text("0");
        $("#count3").text("0");
        $("#year3").text("0");
        $("#count5").text("0");
        $("#year5").text("0");

        $('#loading').show();
        $.ajax({
            url: "/index.php?module=TyunStationSale&action=GetCloudSiteUser&tyun_account=" + tyun_account,
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                $('#loading').hide();
                if (data.success) {
                    if (data.buyList.length == 0) {
                        Tips.alert({
                            content: '未查询到购买信息',
                        });
                    } else {
                        var buydata = data.buyList;
                        console.log(buydata);
                        $("#tyun_account_display").text(buydata.LoginName);
                        $("#loginname_display2").text(buydata.LoginName);
                        $("#loginname_save").val(buydata.LoginName);
                        $("#oldcustomername_display").text(buydata.CompanyName!=''?buydata.CompanyName:"--");
                        $("#oldcontractcode_display").text(buydata.ContractCode == ""?"--":buydata.ContractCode);
                        $("#oldexpiredate_display").text(buydata.CloseDate == '' ? '--' : buydata.CloseDate);
                        $("#expiredate_save").val(buydata.CloseDate);
                        var BuyProduct=buydata['BuyProduct'];
                        $.each(BuyProduct,function(key,value){
                            $("#count"+value.ServiceType).text(value.Count);
                            $("#year"+value.ServiceType).text(value.Year);
                            $("#counta"+value.ServiceType).text(value.Count);
                            $("#yeara"+value.ServiceType).text(value.Year);
                        });
                        $("#customername_save").val(buydata.CompanyName!=''?buydata.CompanyName:"--");
                    }

                } else {
                    Tips.alert({
                        content: data.message,
                    });
                }
            }
        });
    }
</script>
{/literal}
</body>
</html>