<!DOCTYPE HTML>
<html>
<head>
		<title>添加拜访单</title>
		{include file="header.html"}
		{*<link type="text/css" rel="stylesheet" href="/css/calendar.min.css" />*}
        <link rel="stylesheet" href="static/css/dialog.css">
		<link href="static/css/jquery.mobile-1.3.0.min.css" rel="stylesheet" type="text/css" />
		<link href="static/css/mobiscroll.custom-2.5.0.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
		<script src="static/js/jquery.form.js"></script>
        <script src="static/js/select2.js"></script>
        <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        *{
            text-shadow:none;
        }
    </style>

</head>

<body>

<div class="container-fluid w fix">
        <div class="row">
           
            <form id='myForm2' onsubmit='return check()'  method="POST">
            <div class="add-visit">
              <div class="form-group fix">
                    <label style="color:red;">提醒</label>
                    <div class="input-box">
                        <span class="form-control" style="color:red;">外出类型为出差的,需要多次签到</span>
                    </div>
                </div>
              <div class="form-group fix">
                    <label>主题</label>
                    <div class="input-box">
                        <input data-toggle="popover" data-placement="top" 
                        data-content="主题不能为空" type="text" placeholder=""  id="subject" name="subject"  class="form-control">
                    </div>
                </div>
                <div class="form-group fix">
                    <label>客户</label>
                    <div class="input-box">
                    	<!--input data-toggle="popover" data-placement="top" 
                        data-content="客户不能为空" class="form-control keyInput" type="text" id="related_to_display"  name="related_to_display" -->
						<input type="hidden" id="related_to" name="related_to" value="{$accountid}" >

                        <div class="input-group">
                           <input type="text" data-toggle="popover" data-placement="bottom"
                                  data-content="客户不能为空" id="related_to_display"  name="related_to_display" class="form-control keyInput">
                           <span class="input-group-btn">
                              <button id='search' class="btn btn-default" type="button">
                                 查询
                              </button>
                           </span>
                        </div>

                    </div>

                </div>
                <div class="form-group fix">
                    <label>客户地址</label>
                    <div class="input-box">
                        <input type="text" id="customeraddress" name="customeraddress" class="form-control">
                    </div>
                </div>
                <div class="form-group fix">
                    <label>联系人</label>
                    <div class="input-box">
                        <input type="text" id="contacts" name="contacts" class="form-control">
                    </div>
                </div>
                <div class="form-group fix">
                    <label >目的地</label>
					<div class="input-box">
						<input type="text" id="destination" name="destination"  class="form-control">
					</div>
                </div>
                <div class="form-group fix">
                    <label>拜访目的</label>
                    <div class="input-box">
                        <input data-toggle="popover" data-placement="top" 
                        data-content="拜访目的不能为空" type="text" id="purpose" name="purpose" class="form-control" placeholder="必填项">
                    </div>
                </div>
                 <div class="form-group fix">
                    <label>陪同人</label>
                    <div class="input-box">

                        <select name="accompanyuser[]" id="accompanyuser" multiple="multiple" class="select2">
                            {foreach from=$deparment_user key=myId item=i}
                                <option value="{$i.id}">{$i.last_name}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>外出类型</label>
                    <div class="input-box">
                        <select  id="outobjective" name="outobjective" class="form-control" >
							<option value='拜访' selected>拜访</option>
							<option value='会议'>会议</option>
							<option value='学习'>学习</option>
							<option value='出差'>出差</option>
						</select>
                    </div>
                </div>
                <div class="form-group fix hide">
                    <label>提单人</label>
                    <div class="input-box">
                        <input type="text" id="extractname" name="extractname" value='{$username}' readonly="readonly" class="form-control">
                    </div>
                </div>
                
                <div class="form-group fix">
                    <label>开始日期</label>
                    <div class="input-box">
                        <input data-toggle="popover" data-placement="top" 
                        data-content="开始日期不能为空" type="text" id="startdate" name="startdate" placeholder="开始时间" readonly="readonly" class="form-control" value="">
                    </div>
                </div>
                <div class="form-group fix">
                    <label>结束日期</label>
                    <div class="input-box">
                        <input data-toggle="popover" data-placement="top" 
                        data-content="结束日期不能为空" type="text" id="enddate" name="enddate" placeholder="结束时间" readonly="readonly" class="form-control"  value="">
                    </div>
                </div>
                <div class="form-group fix">
                    <label>备注</label>
                    <div class="input-box">
                        <textarea class="form-control" id="remark" name="remark" rows="5"></textarea>
                    </div>
                </div>
                <div class="confirm tc">
                    <button id='dosave' class="btn" data-toggle="popover" data-placement="top" 
                        data-content="成功添加拜访单,正在跳转请稍等">保 存</button>
                </div>

            </div>
        	</form>
            {include file="footer.html"}
        </div>
    </div>
{literal}
 <script>
         $(function () {
            // 下拉框加载
            $(".select2").select2({
                width: '100%',
                height: 100
            });

            $('#search').on('click', function () {
                var o = $('#related_to_display');
                var ov = o.val();
                var op = o.parent();
                var sb = [];
                o.next('ul').remove();
                $('.delefalg').remove();
                var dheight=$(document).height();
                dheight=dheight*0.5;
                oul = op.append('<ul class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;"></ul>');

                if (ov) {
                    op.addClass('keyBox');
                    var toast6 = $(document).dialog({
                        type : 'toast',
                        infoIcon: '../static/images/icon/loading.gif',
                        infoText: '数据获取中...',
                    });
                    $.ajax({
                        //url: '/index.php?module=Accounts&action=searchAccount&company='+ov,
                        url: '/index.php?module=VisitingOrder&action=searchAccount&company='+ov,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data && data.length > 0) {
                                for (var i = 0;i<data.length; i++) {
                                     var item2=data[i];
                                     var nArr = item2.value;
                                     var oli=op.children('ul');
                                    oli.append("<li onclick='change_select_id("+item2.id+",\""+nArr+"\")'>" + nArr + '</li>');

                                }
                              
                            }
                        },
                        complete:function(){
                            toast6.close();
                           /*toast6.update({
                                infoIcon: '../static/images/icon/success.png',
                                infoText: '加载成功',
                                autoClose: 1,
                            });*/
                        }
                    });
                }
            });
            /*
            $('#related_to_display').on('keyup', function () {
                var o = $(this);
                var ov = o.val();
                var op = o.parent();
                var sb = [];
                o.next('ul').remove();
                oul = op.append('<ul class="keyText"></ul>');

                if (ov) {
                    op.addClass('keyBox');
                    
                    $.ajax({
                        url: '/index.php?module=Accounts&action=searchAccount&company='+ov,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            
                            if (data && data.length > 0) {

                                for (var i = 0;i<data.length; i++) {

                                     var item2=data[i];
                                     var nArr = item2.value;
                                     var oli=op.children('ul');
                                    oli.append("<li onclick='select_id("+item2.id+")'>" + nArr + '</li>');
                                   
                                }
                              
                            }
                        }
                    });
                }
            });
        */
        });
        blankFixExt('keyInput', 'keyText');
        function blankFixExt(node, targetNode) {
            $(document).bind('click', function (e) {
                var o = "." + node + ",." + node + " *";
                
                if (!$(e.target).is(o)&& (e.target.id)!='search') {
                    $('.' + targetNode).hide();
                }
            });
         }
        function select_id(id){
            var idval = id;
            var toast6 = $(document).dialog({
                type : 'toast',
                infoIcon: '../static/images/icon/loading.gif',
                infoText: '数据获取中...',
            });
            $.ajax({
                //url: "/index.php?module=Accounts&action=getAccountMsg&id="+id,
                url: "/index.php?module=VisitingOrder&action=getAccountMsg&id="+id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if(data==''){
                        alert('客户信息不全');
                        return false;
                    }
                    //$('#destination').val(data.address);
                    $('#related_to').val(data.accountid);
                    $('#contacts').val(data.linkname);
                    //$('#related_to_display').val(data.accountname);
                    $('#customeraddress').val(data.customeraddress);
                },
                complete:function(){
                    toast6.close();
                }
            });

            
        }
         function change_select_id(id,value){
             var idval = id;
             $.ajax({
                 //url: "/index.php?module=Accounts&action=getAccountMsg&id="+id,
                 url: "/index.php?module=VisitingOrder&action=getAccountMsg&id="+id,
                 type: 'GET',
                 dataType: 'json',
                 success: function (data) {
                     if(data==''){
                         alert('客户信息不全');
                         return false;
                     }
                     $('#destination').val(data.address);
                     $('#related_to').val(data.accountid);
                     $('#contacts').val(data.linkname);
                     $('#related_to_display').val(value);
                     $('#customeraddress').val(data.customeraddress);
                 }
             });

            
        }

        $(document).ready(function(){
            $accountid=$('#related_to').val();
            if($accountid>0){
                select_id($accountid);
            }
        });

 </script>


	<script type="text/javascript">

			function check(){
				 $('#subject').popover('destroy');
				if(''==$('#subject').val()){
                    $('#subject').focus();
                    $('#subject').popover("show");
                    $('.popover-content').css({"color":"red","fontSize":"12px"});
                    setTimeout("$('#subject').popover('destroy')",2000);
					return false;
				}
                /*$('#related_to_display').popover('destroy');
				if(''==$('#related_to').val()){
                    $('#related_to_display').focus();
                    $('#related_to_display').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#related_to_display').popover('destroy')",2000);
					return false;
				}*/
                $('#purpose').popover('destroy');
                     if(''==$('#purpose').val()){
                     $('#purpose').focus();
                     $('#purpose').popover('show');
                     $('.popover-content').css("color",'red');
                     setTimeout("$('#purpose').popover('destroy')",2000);
                     return false;
                 }
                $('#startdate').popover('destroy');
				if(''==$('#startdate').val()){
                    $('#startdate').focus();
                    $('#startdate').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#startdate').popover('destroy')",2000);
					return false;
				}
                $('#enddate').popover('destroy');
				if(''==$('#enddate').val()){
                    $('#enddate').focus();
                    $('#enddate').popover('show');
                    setTimeout("$('#enddate').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}
                var startdatetimstamp=new Date($('#startdate').val().replace(/-/g,'/'));
                startdatetimstamp=Date.parse(startdatetimstamp);
                var enddatetimstamp=new Date($('#enddate').val().replace(/-/g,'/'));
                enddatetimstamp=Date.parse(enddatetimstamp);
                var flagtime=1800000;
                if(enddatetimstamp-startdatetimstamp<flagtime){
                    $('#enddate').attr('data-content','开始时间大于结束时间或小于半小时');
                    $('#enddate').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#enddate').popover('destroy')",2000);
                    return false;
                }
				
				return true;
			}
            $('#dosave').on('click', function() {
            if(!check()){
                    return false;
                }  
            $('#dosave').removeAttr("id");//防止多次点击提交               
                var toast6 = $(document).dialog({
                    type : 'toast',
                    infoIcon: '../static/images/icon/loading.gif',
                    infoText: '数据获取中...',
                });
            $('#myForm2').ajaxSubmit({
                type: 'post', 
                url:"/index.php?module=VisitingOrder&action=doadd",
                dataType :'json',

                success: function(data) {
                    toast6.close();
                    if(data.res=='success'){
 						window.location.href='/index.php?module=VisitingOrder&action=allList';
                        $('#dosave').popover('show');
                        //提交后在没有跟转新页面前不让再点击
                        $('#dosave').removeAttr("id");
                        $('#myForm2').resetForm();
                    }else{
                        alert('error01');
                    }
                },
                error:function(){
                    alert('error');
                }
            });
            return false;
            });

			var cache = {};
		  /*
			$( "#related_to_display" ).autocomplete({
	            	source: function( request, response ) {
	            		var term = request.term;
		                if ( term in cache ) {
		                    response( $.map( cache[ term ], function( item ) {
		                        return {
			                                Id:item.id,
			                                value:item.value
			                       		}
		                    }));
		                    return;
		                }
	                	$.ajax({
			                    url: "/index.php?module=Accounts&action=searchAccount",
			                    dataType: "json",
			                    data:{
			                        company: request.term
			                    },
			                    success: function( data ) {
			                        response( $.map( data, function( item ) {
			                            return {
			                                Id:item.id,
			                                value:item.value
			                            }
			                        }));
			                    }
	                  });
	            },
	            minLength: 2,
	            max:5,
	            select: function( event, ui ) {	            	
	            	var idval = ui.item.Id;
	                $.post("/index.php?module=Accounts&action=getAccountMsg",
						  {
						    id:idval
						  },
						  function(data,status){

						  	var val = eval('(' + data + ')');

						    $('#destination').val(val.address);
						    $('#related_to').val(val.accountid);
						    $('#contacts').val(val.linkname);

						  });
	            }
	        });
			*/
            //禁用juqery mobile 加载自带的样式
            $(document).bind("mobileinit", function(){
                $.mobile.page.prototype.options.keepNative = "select, input, textarea, a,div,ul,li,span,button,form";
            });
            $("input").attr('data-role','none');
            $("select").attr('data-role','none');
            $("a").attr('data-role','none');
            //禁止a标签ajax跳转
            $("a").attr('data-ajax','false');
            $("div,ul,li,span").attr('data-role','none');

	</script>

    <script src="static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="static/js/moment.js"></script>
    <script src="static/js/daterangepicker.js"></script>

    <link href="static/css/datetimepicker-min.css" rel="stylesheet" />
	<script src="static/js/jquery.mobile-1.3.0.min.js"></script>
<!--插件和原来的样式有点冲突重新加载一遍-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/mobiscroll.js"></script>
<script src="static/js/dialog.js"></script>
    <!--时间插件结束-->
    <script>
        $(function () {
            // 仅选择日期
            /*$(".reservation").datetimepicker({
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                format: "yyyy-mm-dd hh:ii"
            });*/
			$('#myForm2').on("focus","#startdate,#enddate",function(){
				document.activeElement.blur();//屏蔽默认键盘弹出；
			});
			/*var newjavascript={plugdatetime:function ($dateTxt,type,startdatetime){var curr = new Date();curr.setMonth(curr.getMonth()+1);var opt = {};opt.time = {preset : type}; opt.date = {preset : type};opt.datetime ={preset : type,minDate: startdatetime,maxDate: curr,stepMinute:5};$dateTxt.val('').scroller('destroy').scroller($.extend(opt[type],{theme: "android-ics light",mode: "scroller",display: "bottom",lang: "zh",setText: '确定',cancelText: '取消',dateOrder: 'yymmdd',timeWheels: 'HHii',dateFormat: 'yy-mm-dd',timeFormat: 'HH:ii',monthText: "月",dayText: "日",yearText: "年", hourText: "时",minuteText: "分"}));}}*/
			var newjavascript={plugdatetime:function ($dateTxt,type,startdatetime){var curr = new Date();curr.setMonth(curr.getMonth()+1);var opt = {};opt.time = {preset : type}; opt.date = {preset : type};opt.datetime ={preset : type,minDate: startdatetime,maxDate: curr,stepMinute:5};$dateTxt.val('').scroller('destroy').scroller($.extend(opt[type],{theme: "jqm light",mode: "scroller",display: "bottom",lang: "zh",setText: '确定',cancelText: '取消',dateOrder: 'yymmdd',timeWheels: 'HHii',dateFormat: 'yy-mm-dd',timeFormat: 'HH:ii',monthText: "月",dayText: "日",yearText: "年", hourText: "时",minuteText: "分"}));}}
            var currentdatetime=new Date();
            newjavascript.plugdatetime($("#startdate"),"datetime",currentdatetime);
            var endcurrentdatetime= new Date();
            endcurrentdatetime.setMinutes(endcurrentdatetime.getMinutes()+30)
            newjavascript.plugdatetime($("#enddate"),"datetime",endcurrentdatetime);
            {/literal}
            //给一个默认的值插件加载时把它清空了这里重新给一下
            //$("#startdate").val('{date('Y-m-d H:i')}');
            //$("#enddate").val('{date('Y-m-d H:i',time()+1800)}');
            {literal}
			
        })
    </script>
{/literal}
</body>
</html>