<!DOCTYPE HTML>
<html>
<head>
		<title>添加跟进</title>
		{include file="header.html"}
		<link type="text/css" rel="stylesheet" href="/css/calendar.min.css" />
		<script src="static/js/jquery.form.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>

</head>

<body>

<div class="container-fluid w fix">
        <div class="row">
         
            <div class="add-follow-up">
            	<form id='myform'>
                    <input type="hidden" id="accountid" name="accountid" value={$accountid} >
                <!--<div class="form-group fix">
                    <label>跟进目的</label>
                    <div class="input-box">
                        <select  id="modcommentpurpose" name="modcommentpurpose"  class="form-control" >
								<option value='邀约拜访' selected>邀约拜访</option>
								<option value='商谈合同'>商谈合同</option>
								<option value='签订合同'>签订合同</option>
								<option value='项目收款'>项目收款</option>
								<option value='启动通知'>启动通知</option>
								<option value='日常维护'>日常维护</option>
								<option value='客服甩单'>客服甩单</option>
								<option value='问题处理'>问题处理</option>
							</select>
                    </div>
                </div>-->
                <div class="form-group fix">
                    <label>跟进类型</label>
                    <div class="input-box">

                        <select class="form-control" id="modcommenttype" name="modcommenttype"  >
                            <option value="常规跟进">常规跟进</option>
                            <option value="首次客户录入系统跟进">首次客户录入系统跟进</option>
                            <option value="首次拜访客户后跟进">首次拜访客户后跟进</option>
                        </select>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>联系人</label>
                    <div class="input-box"  >
                        <select class="form-control"  id="contact_id" name="contact_id" data-toggle="popover" data-placement="top" 
                        data-content="请选择联系人" >
								{foreach from=$contacts item=value}
									<option value="{$value.contactid}" >{$value.name}</option>
								{foreachelse}

								{/foreach}
						</select>
                    </div>
                </div>
                    <div class="form-group fix">
                        <label>意向度评估:</label>
                        <div class="input-box">
                            <select style="margin: 10px 0px;" class="form-control" name="accountintentionality" >
                                {foreach key=index item=COMMENTtype from=$ACCOUNTINTENTIONALITY}
                                <option value="{$index}">{$COMMENTtype}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <div class="form-group fix">
                        <label>跟进方式</label>
                        <div class="input-box">
                            <select class="form-control" id="modcommentmode" name="modcommentmode"  >
                                <option value="电话">电话</option>
                                <option value="短信通知">短信通知</option>
                                <option value="邮件">邮件</option>
                                <option value="拜访">拜访</option>
                                <option value="面谈">面谈</option>
                            </select>
                        </div>
                    </div>
                <div class="form-group fix">

                        <div id="firstInput" style="display:none;border-left: 5px solid #f0ad4e;border-radius: 3px;padding-left: 20px;box-shadow:2.9px 3.99px 3px  rgba(0,0,0,.5)"><h5 style="color: #FF9E0E;"><首次客户录入系统跟进>跟进内容规范提示：</h5>
                            <p style="margin:2px;">
                                1.客户资料来源？<br>
                                2.客户语气态度？<br>
                                3.是否了解过珍岛？<br>
                                4.客户质量<br>
                                ①注册时间，注册资金，法人还是股东？<br>
                                ②意向点：是否主动让加微信，客户微信同意情况，电话通话时间，客户问的问题<br>
                                ③客户行业和产品<br>
                                5.本次未能邀约见面的原因（邀约成功可不写）<br>
                                6.预约下次电话的时间（邀约成功可不写）？<br>
                            </p>
                        </div>
                        <div id="firstVisit" style="display:none;border-left: 5px solid #f0ad4e;border-radius: 3px;padding-left: 20px;box-shadow:2.9px 3.99px 3px  rgba(0,0,0,.5) "><h5 style="color: #FF9E0E;"><首次拜访客户后跟进>跟进内容规范提示：</h5>
                            <p style="margin: 2px;">
                                1.公司规模，公司大概多少人<br>
                                2.拜访的负责人/老板（若是负责人，写清楚具体职位）<br>
                                3.拜访人性格描述<br>
                                4.拜访人年龄阶段/老家哪里<br>
                                5.客户目前的网络现状，比如投入了那些平台，花了多少钱，做了大概多久<br>
                                6.客户问了哪些问题<br>
                                7.整个面谈过程中，客户对那几个点比较感兴趣？<br>
                            </p>
                        </div>
                        <textarea data-toggle="popover" data-placement="top" 
                        data-content="跟进内容不能为空" class="form-control"  rows="5" id="commentcontent" name="commentcontent" placeholder="在这里添加你要跟进的内容......"></textarea>

                </div>
   
                <div class="confirm tc confirm2" >
                    <button id='dosave' class="btn" data-toggle="popover" data-placement="top" 
                        data-content="添加跟进成功">提 交</button>
                </div>
              </form>
            </div>
            {include file="footer.html"}
        </div>
    </div>


	<script type="text/javascript">
        $('[name=modcommenttype]').change(function(){
            var modcommenttype=$(this).val();
            if(modcommenttype=='首次客户录入系统跟进'){
                $("#firstInput").css("display","block");
                $("#firstVisit").css("display","none");
            }else if(modcommenttype=='首次拜访客户后跟进'){
                $("#firstInput").css("display","none");
                $("#firstVisit").css("display","block");
            }else{
                $("#firstInput").css("display","none");
                $("#firstVisit").css("display","none");
            }
        });
        $('#dosave').on('click', function() {
            if( $('#commentcontent').val() == ''){
                $('#commentcontent').popover('show');
                $('.popover-content').css("color",'red');
                setTimeout("$('#commentcontent').popover('destroy')",2000);
                return false;
            }        
            if( $('#contact_id').val() == ''){
                $('#contact_id').popover('show');
                $('.popover-content').css("color",'red');
                setTimeout("$('#contact_id').popover('destroy')",2000);
                return false;
            }
            var accountintentionality = $("select[name='accountintentionality']").val();

            $('#myform').ajaxSubmit({
                type: 'post', 
                url:"/index.php?module=VisitingOrder&action=doaddmod",
                dataType :'json',
                success: function(data) { 
                    if(data.res=='success'){
                        $('#dosave').popover('show');
                        $('#myform').resetForm();
                    }else{
                        alert('error01');
                    }
                },
                error:function(){
                    alert('error');
                }
            });
            return false;
        });
			
	</script>

		
</body>
</html>