                        {foreach from=$today_list item=value}
                        <li class="fix" style="border-bottom: 1px solid #ccc;{if $value@first}border-top: 1px solid #ccc;{/if}padding:5px 10px;margin-bottom: 0;position: relative;">
                            <a href="index.php?module=VisitingOrder&action=detail&record={$value.id}" class="fl" data-ajax="false" style="overflow:hidden;width:90%;">
                                <div style="width:60px;height: 60px;display: inline-block;border: 1px solid #ccc;border-radius: 60px;margin-right:3px;overflow: hidden;"><img src="{if isset($value['email']) && $value['email']!=1}{$value.email}{else}../../static/img/trueland.png{/if}" style="width:59px;height:59px;vertical-align: inherit;"></div>
                                <div style="display: inline-block;width: 70%;white-space: nowrap;overflow:hidden;text-overflow:ellipsis;">
                                    <div class="list" style="font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{$value.accountnamer} <span>[{$value.contacts}]</span></div>
                                    <div class="list" style="font-size: 14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">主题：{$value.subject}</div>
                                    <div class="text">
                                        <div class="mr20">{$value.startdate} </div><div>{$value.outobjective}</div><div style="margin-left:10px;">{if $value.modulestatus eq 'c_complete'}<span class="label label-primary">完成</span>{else if $value.modulestatus eq 'a_normal'}<span class="label label-info">正常</span>{else if $value.modulestatus eq 'a_exception'}<span class="label label-danger">打回中</span>{else if $value.modulestatus eq 'c_canceling'}<span class="label label-default">作废中</span>{else if $value.modulestatus eq 'c_cancel'}<span class="label label-warning">作废</span>{/if}</div>
                                    </div>
                                </div>
                            </a>
                            {if $value.modulestatus eq 'c_complete' OR $value.modulestatus eq 'a_normal'}<div class="fr" style="position: absolute;top:22%;right:10px;" data-toggle="modal"  data-target="#myModal"  onclick='opendl({$value.id},{$value.related_to_reference})'><i class="iconfont icon-jia-tianchong" style="font-size:40px;color:#5ec4ab;"></i></div>{/if}
                        </li>
						{foreachelse}
						{/foreach}