<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<title>{$title}</title>
		<link href="bootstrap/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="js/jquery/jquery-ui.js"></script>
		<script src="js/jquery/jquery.min.js"></script>
	    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>

<body>
	<div id="XS" class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div class="list-group">
					 <a href="#" class="list-group-item active">我的拜访单</a>
					<div class="list-group-item">
						列表标题
					</div>
					<div class="list-group-item">
						<h4 class="list-group-item-heading">
							列表项标题
						</h4>
					</div>
					<div class="list-group-item">
						<span class="badge">14</span>帮助
					</div> <a class="list-group-item active"><span class="badge"></span></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>