<!DOCTYPE html>
<html>
<head>
	{include file="header.html"}
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <script src="static/js/dialog.js"></script>
    <link rel="stylesheet" href="static/css/dialog.css">
</head>

<body>
<div class="container-fluid w fix">
        <div class="row">
            
            <div class="list-head">
                <ul class="fix">
                    <li>{$dateinfo['date']}</li>
                    <li>星期{$dateinfo['week']}</li>
                    <li>{$dateinfo['apm']}</li>
                </ul>
            </div>
            <div class="tabs">
                <ul class="hd fix">
                    <li >今日拜访</li>
                    <li class="on">我的回款</li>
                    <li>一周掉公海</li>
                </ul>
                <div class="bd">
                    <ul class="hide module_visiting_orders">
                        {*{foreach from=$today_list item=value}
							<li class="fix">
                            <a href="/index.php?module=VisitingOrder&action=detail&record={$value.id}" class="fl">
                                <div class="list">{$value.related_to}
                                    <span style="font-size:12px; color:#CF40AB;">{$value.t_accompany}</span>
                                </div>

                                <div class="text">
                                    <div class="mr20">主题：{$value.subject}</div>
                                    <div>外出类型：{$value.outobjective}</div><div style="margin-left:10px;>{if $value.modulestatus eq 'c_complete'}<span class="label label-warning">完成</span>{else if $value.modulestatus eq 'a_normal'}<span class="label label-info">正常</span>{else if $value.modulestatus eq 'a_exception'}<span class="label label-danger">打回中</span>{/if}</div>
                                </div>
                            </a>
                            <div class="fr right" data-toggle="modal" data-target="#myModal" onclick='opendl({$value.id},{$value.related_to_reference})'>+</div>
                        </li>
                            {assign var=IMGMD value=$value['email']|md5}
                            <li class="fix" style="border-bottom: 1px solid #ccc;{if $value@first}border-top: 1px solid #ccc;{/if}padding:5px 10px;margin-bottom: 0;position: relative;">

                                <a href="index.php?module=VisitingOrder&action=detail&record={$value.id}" class="fl" style="overflow:hidden;width:90%;">
                                    <div style="width:60px;height: 60px;display: inline-block;border: 1px solid #ccc;border-radius: 60px;margin-right:3px;overflow: hidden;"><img src="{if isset($USERIMGS[$IMGMD])}{$USERIMGS[$IMGMD]}{else}../../static/img/trueland.png{/if}" style="width:59px;height:59px;vertical-align: inherit;"></div>
                                    <div style="display: inline-block;width: 70%;white-space: nowrap;font-size:16px;text-overflow:ellipsis;">
                                        <div class="list" style="font-size:16px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">{$value.accountnamer} <span>[{$value.contacts}]</span></div>
                                        <div class="list" style="font-size: 14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">主题：{$value.subject}</div>
                                        <div class="text">
                                            <div class="mr20">{$value.startdate}</div><div>{$value.outobjective}</div><div style="margin-left:10px;">{if $value.modulestatus eq 'c_complete'}<span class="label label-primary">完成</span>{else if $value.modulestatus eq 'a_normal'}<span class="label label-info">正常</span>{else if $value.modulestatus eq 'a_exception'}<span class="label label-danger">打回中</span>{else if $value.modulestatus eq 'c_canceling'}<span class="label label-default">作废中</span>{else if $value.modulestatus eq 'c_cancel'}<span class="label label-warning">作废</span>{/if}</div>
                                        </div>
                                    </div>
                                </a>
                                {if $value.modulestatus eq 'c_complete' OR $value.modulestatus eq 'a_normal'}<div class="fr" style="position: absolute;top:22%;right:10px;" data-toggle="modal"  data-target="#myModal"  onclick='opendl({$value.id},{$value.related_to_reference})'><i class="iconfont icon-jia-tianchong" style="font-size:40px;color:#5ec4ab;"></i></div>{/if}
                        </li>
						{foreachelse}
								今日无拜访单
						{/foreach}*}
                    </ul>
                    <ul class=" module_my_payment">
                        <table width="100%">
                        </table>
                        {foreach from=$my_payment item=value}
                            <li class="fix">
                                <div class="list">{$value.label}</div>
                                <div class="text">
                                    <div class="mr20">金额：{$value.price}</div><div>回款时间：{$value.reality_date}</div>
                                </div>
                            </li>
                        {foreachelse}
                                暂无回款信息
                        {/foreach}
                    </ul>
                    <ul class="hide module_my_account">
                    	{foreach from=$list item=value}
                    	<li class="fix">
                            <a href="#" class="fl">
                                <div class="list">{$value.accountname}</div>
                            </a>
                             <div class="fr right" data-toggle="modal" data-target="#myModal2" onclick='opendl({$value.id},{$value.accountid})'>+</div>
                        </li>
						{foreachelse}
								无7日内掉入公海客户
						{/foreach}
                    </ul>


                    <div id="loading" data-id="1" data-flag="2" class="loading" style="text-align: center; clear:both;">
                    </div>

                </div>

            </div>

               {include file="footer.html"}
        </div>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">选择</h4>
                </div>
                <div class="modal-body">
                    <div class="confirm tc">
                        <!--<button class="btn btn1" onclick='openurl(1)'>添加跟进</button>
                        <button class="btn btn1" onclick='openurl(2)'>添加联系人</button>-->
                        <button class="btn btn1" onclick='openurl(3)'>地点签到,签退</button>
                        {*<button class="btn btn1" onclick='openurl(4)'>地点签到,签退</button>
						<div class="btn btn1"  style="height:100px;white-space: normal;color:red;background-color:#ffffff;">上面两个按钮的功能是一致的，如果你用第一个签到，签退也用第一个。如果你用第二个签到，签退也用第二个。</div>*}
                        <button class="btn btn1" onclick='openurl(5)'>跟进</button>
                        <!--<button class="btn btn1" onclick='openurl(4)'>图片签到</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">选择</h4>
            </div>
            <div class="modal-body">
                <div class="confirm tc">
                    <button class="btn btn1" onclick='openurl(1)'>添加跟进</button>
                    <button class="btn btn1" onclick='openurl(2)'>添加联系人</button>
                    <button class="btn btn1" onclick='openurl(6)'>添加拜访单</button>
                </div>
            </div>
        </div>
    </div>
</div>
    <input type='hidden' id = 'accountid' value='0'>
    <input type='hidden' id = 'recode' value='0'>
    <script>
        var module_num_arr = [{$today_sum}, {$payment_page}, {$my_account_sum}];
        var module_index = 1;
        var module_num_now = [2, 2, 2];
        var visitnum=1;
        var isscroll=true;
        var visitflag=true;
        $(window).scroll(function() {
            //此方法是在滚动条滚动时发生的函数
            // 当滚动到最底部以上100像素时，加载新内容
            var $doc_height,$s_top,$now_height,dataid,dataflag;
            $doc_height = $(document).height();        //这里是document的整个高度
            $s_top = $(this).scrollTop();            //当前滚动条离最顶上多少高度
            $now_height = $(this).height();            //这里的this 也是就是window对象
            dataid=$('#loading').data("id");//阻止一次请求没有完成后再次请
            dataflag=$('#loading').data("flag");//阻止当滚地到底部时刷新后自动请求
            if(module_index == 1 || module_index == 2) {
                if (($doc_height - $s_top - $now_height) < 100 && module_num_now[module_index] <= module_num_arr[module_index] && dataid == 1 && dataflag == 1) {
                    $('#loading').html("正在加载...").show();

                    if (module_index == 0) {
                        jsonajax0();
                    } else if (module_index == 1) {
                        jsonajax1();
                    } else if (module_index == 2) {
                        jsonajax2();
                    }
                }
                $('#loading').data("flag", 1);
            }
            if(module_index ==0) {
                if (($doc_height - $s_top - $now_height) < 100 && isscroll && visitflag) {
                    jsonajax0();
                }
            }
        });

        function jsonajax0() {
            isscroll =false;
            var toast6 =$(document).dialog({
                type : 'toast',
                infoIcon: '../static/images/icon/loading.gif',
                infoText: '努力加载中...',
            });
            $.ajax({
                url:'/index.php?module=VisitingOrder&action=ajax_visiting_order_listnew',
                type:'POST',
                data:"pagenum=" + visitnum++,
                dataType: 'JSON',
                success:function(item){
                    toast6.close();
                    isscroll=true;
                    if(item.success){
                        $('.module_visiting_orders').append(item.data);
                    }else{
                        visitflag=false;
                        item= '<li class="fix" style="border-bottom: 1px solid #ccc;padding:5px 10px;margin-bottom: 0;position: relative;text-align:center;">没有了</li>';
                        $('.module_visiting_orders').append(item);
                    }
                }
            });
        } 
        function jsonajax1() {
            $('#loading').data("id", 2);
            $('#loading').html("正在加载请稍后...");
            $.ajax({
                url:'/index.php?module=VisitingOrder&action=ajax_my_receivepayment_list',
                type:'POST',
                data:"pagenum=" + module_num_now[module_index]++,
                dataType: 'html',
                success:function(item){
                    $('#loading').hide();
                    $('.module_my_payment').append(item);
                    $('#loading').data("id", 1);


                    if(module_num_now[module_index] > module_num_arr[module_index]) {
                        $('#loading').html("没有了").show();
                    }
                }
            });
        } 
        function jsonajax2() {
            $('#loading').data("id", 2);
            $('#loading').html("正在加载请稍后...");
            $.ajax({
                url:'/index.php?module=VisitingOrder&action=ajax_my_account_list',
                type:'POST',
                data:"pagenum=" + module_num_now[module_index]++,
                dataType: 'html',
                success:function(item){
                    $('#loading').hide();
                    $('.module_my_account').append(item);
                    $('#loading').data("id", 1);


                    if(module_num_now[module_index] > module_num_arr[module_index]) {
                        $('#loading').html("没有了").show();
                    }
                }
            });
        }


        $('.tabs').find('li').on('click', function () {
            var o = $(this);
            var os = o.siblings('li');
            var op = o.parent('.hd');
            var ops = op.next('.bd').children('ul');
            var index = o.index();
            var hasSelect=o.hasClass('on');
            o.addClass('on');
            os.removeClass('on');
            ops.addClass('hide');
            ops.eq(index).removeClass('hide');
            module_index = index;
            if(module_index!=0){
                if(module_num_now[module_index] <= module_num_arr[module_index]) {
                    $('#loading').html("正在加载...").hide();
                }
                if (module_num_arr[module_index] == 1) {
                    $('#loading').html("正在加载...").hide();
                } else {
                    if(module_num_now[module_index] > module_num_arr[module_index]) {
                        $('#loading').html("没有了").show();
                    }
                }
            }else{
                if(!hasSelect){
                    visitflag=true;
                    visitnum=1;
                    $('#loading').hide();
                    $('.module_visiting_orders').html('');
                    jsonajax0();
                }

            }

        });

        function opendl(id,recode){
        	$('#accountid').val(id); //拜访id
            $('#recode').val(recode);//客户id
        }
        function openurl(type){
        	if(type==1){
                var accountid = $('#recode').val();
				window.location.href = "/index.php?module=VisitingOrder&action=addMod&id="+accountid;
        	}else if(type==2){
                var accountid = $('#recode').val();
        		window.location.href = "/index.php?module=Accounts&action=addContact&id="+accountid;
        	}else if(type==3){
                if($('#accountid').val()){
                    window.location.href='index.php?module=VisitingOrder&action=sign&id='+$('#accountid').val();
                }else{
                    alert('拜访单信息有误，请刷新后重试');
                }
            }else if(type==5){
                window.location.href= 'index.php?module=VisitingOrder&action=vaddmod&id='+$('#accountid').val();
            }else if(type==4){
                window.location.href= 'index.php?module=VisitingOrder&action=signs&id='+$('#accountid').val();

                //window.location.href= 'index.php?module=VisitingOrder&action=picture&id='+$('#accountid').val();
            }else if(type==6){
                    window.location.href = 'index.php?module=VisitingOrder&action=add&accountid='+$('#recode').val();//客户id;
            }
        	
        }
    </script>



</body>
</html>