<!DOCTYPE HTML>
<html>
<head>
		
		{include file="header.html"}
		<link type="text/css" rel="stylesheet" href="/css/calendar.min.css" />
        <title> 图片签到</title>
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>
<body>
<div class="container-fluid w fix">
        <div class="row">
            
            <div class="add-follow-up">
            	<form  onsubmit='return check()' enctype="multipart/form-data" action="index.php?module=VisitingOrder&action=dopicture" method="POST">
                    <input type="hidden" name="record" value={$accountid}>
                    <div class=" tc ">
                    <div class="file-box">
                        <button class="btn"><i class="icon-picture" ></i>插入图片</button>
                        <input type="file" name="fileField" class="file" id="fileField" size="28" />
                    </div>
                        </div>
                <div class="confirm tc confirm2">
                    <button class="btn">提 交</button>
                </div>
              </form>
            </div>
            {include file="footer.html"}
        </div>
    </div>


	<script type="text/javascript">
        $('input[name="fileField"]').change(function(){
           /* var aj = $.ajax( {
                url:'index.php?module=VisitingOrder&action=dopicture&id=369644',// 跳转到 action
                data:{

                },
                type:'post',
                cache:false,
                dataType:'json',
                success:function(data) {
                    if(data.msg =="true" ){
                        // view("修改成功！");
                        alert("修改成功！");
                        window.location.reload();
                    }else{
                        view(data.msg);
                    }
                },
                error : function() {
                    // view("异常！");
                    alert("异常！");
                }
            });*/
            var file = document.getElementById('fileField').files[0];
            if(file.type.split('/')['0']!=='image'){
                alert('只能上传图片');
                $('#fileField').val('');
            }
        });
        function check(){
            if($('#fileField').val()){

            }else{
                alert('图片为空');
                return false;
            }
        }
	</script>

		
</body>
</html>