<!DOCTYPE HTML>
<html>
<head>
		
		{include file="header.html"}
        <title>添加工作总结</title>
</head>

<body>
<div class="container-fluid w fix">
    <div class="row">
     
        <form class="form-horizontal"  style="margin:0;" onsubmit='return check()' action="index.php?module=WorkSummarize&action=doadd" method="POST">
        <div class="add-report" style="margin:0 5px;">
            <div class="form-group">
                <label for="worksummarizename">主题</label>
                <input type="text" id="worksummarizename" class="form-control" name="worksummarizename" value="{date('Y-m-d')} {$username} 工作总结" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="todaycontent">今日总结</label>
                <textarea name="todaycontent" id="todaycontent" rows="5" class="form-control"  data-toggle="popover" data-placement="top"
                          data-content="今日总结不能为空"></textarea>

            </div>
            <div class="form-group">
                <label for="dayfeel">今日感受</label>
                <textarea name="dayfeel" id="dayfeel" rows="5" class="form-control"  data-toggle="popover" data-placement="top"
                          data-content="今日感受不能为空"></textarea>
            </div>
            <div class="form-group">
                <label for="tommorrowcontent">下个工作日计划</label>
                <textarea name="tommorrowcontent" id="tommorrowcontent" rows="5" class="form-control"  data-toggle="popover" data-placement="top"
                          data-content="下个工作日计划不能为空"></textarea>
            </div>
            <div class="confirm tc">
                <button class="btn">提 交</button>
            </div>
        </div>
        </form>
        {include file="footer.html"}
    </div>
</div>


	<script type="text/javascript">

			function check(){
                $('#todaycontent').popover('destroy')
                if( $('#todaycontent').val() == ''){
                    $('#todaycontent').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#todaycontent').popover('destroy')",2000);
                    return false;
                }
                $('#dayfeel').popover('destroy')
                if( $('#dayfeel').val() == ''){
                    $('#dayfeel').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#dayfeel').popover('destroy')",2000);
                    return false;
                }
                $('#tommorrowcontent').popover('destroy')
                if( $('#tommorrowcontent').val() == ''){
                    $('#tommorrowcontent').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#tommorrowcontent').popover('destroy')",2000);
                    return false;
                }
				
				return true;
			}

	</script>
</body>
</html>