@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1571121526751'); /* IE9 */
  src: url('iconfont.eot?t=1571121526751#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABqAAAAKOAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBKIEuATYCJAMICwYABCAFhG0HMRvVBRHVi2+yv0E4hgNencgsgo4cW8tHZo+UyokQe99q1APHdTDTQG7Br0EEAAAAABA89fv9zu7dr5oUl+7VpZGYTnwVPBGKWKg+nVB+onmm2bajdaWRJYkU8TSwIOOIsj1U9FE9QIAAZHHO3NaoCDWS90AKfSGlcZajekZM8OSCw0MDBMQs74Ev739t9we4CjbgshgClhnOkmz2APB5LqfXAgpkfpBymWPyUS/AOKAAx1oUWYGE3jB2gUs4DgHClARmNJ1vEIY1TgDZwqChXATDWD6I4K9ZasgxPoK6o88AR+H35YumICg+h9U0ublx8Gu0i/D+Y9UniIKAVvsAB7QDDGS2NjMOCGNawvxSCzAs/rrHNmSvZoT9dVZtFIAClNyT1JXdaq0CYDDXAxjDDHNaLGpNWalHYnvX3lU4enKzkBEyIwqv372RDdqzfOb0LcjdFplXXWCeI/o38SdXVfCjS3UsgU3llwwrrmoLochTpE3+9Pbefi5U3mMRVGDFvn+GQHaP/x0DoPpdwhH/f8N5QPBUXoFfJu3ZYrrc0uvBJcin9BguBSjifv7BCqStsYbc/bmEYE7KoAQowhGknmKMdviI0A8/QQYQpk1eHSGjAGIhoFUDEJI6lDiPcCQNijEmfOR9+EnmEGZe2jJCYxyqmLSQQ/PFZMfBO3ZRUf2FwrPTnJWHrAfxkuJYF1Uxv6OBeI4Zyys0Ih49jz1uwWnUdSNOPGayUkSRaV2Wvu5NhR17UBCTFnJovpjsOHi/s6jS5y8Unp3mFlJN8EG8pN6xLqoelJ1m6EW6l1eWV2hEPHoee9yCQdR1I071gzJZKeKI1LQu7Xa+r6ZYX9d/3S4gDJZRV3Zfhz8aQk4aAAAA') format('woff2'),
  url('iconfont.woff?t=1571121526751') format('woff'),
  url('iconfont.ttf?t=1571121526751') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1571121526751#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zengjia:before {
  content: "\e631";
}

