 <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=E00b1fc24f42eb90fdc055d6c7e90584"></script>
<script type="text/javascript">

  wx.config({
      debug: false,
      appId: "{$signPackage['appId']}",
      timestamp: "{$signPackage['timestamp']}",
      nonceStr: "{$signPackage['nonceStr']}",
      signature: "{$signPackage['signature']}",
      jsApiList: ['getLocation']
  });
     wx.ready(function () {
  // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
 
		wx.checkJsApi({
		  jsApiList: [
			'getNetworkType',
			'previewImage'
		  ],
		  success: function (res) {
			//alert(JSON.stringify(res));
		  }
		});
		
		wx.getLocation({
		  success: function (res) {
			 var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
			 var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
			 var speed = res.speed; // 速度，以米/每秒计
			 var accuracy = res.accuracy; // 位置精度
				var map = new BMap.Map("container");
				var point = new BMap.Point(longitude, latitude);
				map.centerAndZoom(point, 16);
				map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
				map.enableContinuousZoom(); 
				var marker = new BMap.Marker(new BMap.Point(longitude, latitude)); 	// 创建点
				map.addOverlay(marker);            										//增加点
			
		  },
		  cancel: function (res) {
			alert('用户拒绝授权获取地理位置');
		  }
		});
	 }
	);
	wx.error(function (res) {
	  alert(res.errMsg);
	});
	
	/*
	var map = new BMap.Map("container");
	var point = new BMap.Point(116.415157, 39.914004);
	map.centerAndZoom(point, 16);
	map.enableScrollWheelZoom();   //启用滚轮放大缩小，默认禁用
	map.enableContinuousZoom(); 
	var marker = new BMap.Marker(new BMap.Point(116.415157, 39.914004)); 	// 创建点
	map.addOverlay(marker);            										//增加点
	var geo = '{ enableHighAccuracy:true }';
	var geolocation = new BMap.Geolocation();
	var geoc = new BMap.Geocoder();

	geolocation.getCurrentPosition(function(r){
		if(this.getStatus() == BMAP_STATUS_SUCCESS){

			var point = new BMap.Point(r.point.lng,r.point.lat);
			map.centerAndZoom(point, 16);
			marker.setPosition(point);

			var po = '{ strokeColor:"blue", strokeWeight:6, strokeOpacity:0.5 }';
			var circle = new BMap.Circle(point,500,po); //创建圆
			map.addOverlay(circle);            //增加圆
			circle.addEventListener("click",overlay_style);

			geoc.getLocation(point, function(rs){
				var addComp = rs.addressComponents;
				var address = (addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
				$('#address').val(address);
			});  
            $('#position').val( r.point.lng +'***' + r.point.lat);
		}
		else {
			alert('failed'+this.getStatus());
		}        
	},geo);
	
	function overlay_style(e){
		var p = e.target;
		if(p instanceof BMap.Circle){
			var point = new BMap.Point(e.point.lng , e.point.lat);
			marker.setPosition(point);

			geoc.getLocation(point, function(rs){
				var addComp = rs.addressComponents;
				var address = (addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
				$('#address').val(address);
			});  

            $('#position').val( e.point.lng +'***' + e.point.lat);
		}
	}	
	*/
</script>
