<title>{$title}</title>

<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="yes" name="apple-touch-fullscreen" />
<meta content="telephone=no" name="format-detection" />
<link href="static/css/bootstrap.min.css" rel="stylesheet" />
<link href="static/css/font-awesome.min.css" rel="stylesheet" />
<link href="static/css/Style.css" rel="stylesheet" />
<link href="static/css/common.css" rel="stylesheet" />
<link href="static/css/tips.css" rel="stylesheet" type="text/css"/>
<link href="static/css/iconfont.css" rel="stylesheet" type="text/css"/>
<script src="static/js/jquery-2.1.0.min.js?v={$versionjs}"></script>
<script src="static/js/bootstrap.min.js?v={$versionjs}"></script>
<script src="static/js/tips.min.js?v={$versionjs}"></script>

