.pdfjs .pdfViewer{
	padding: 0;
}
/* header */
.contact-head{
	width: 100%;
	height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
	border-bottom: 1px solid #eee;
}
.contact-head .back{
	padding-left: 30px;
}
.contact-head .head-tab {
  font-size: 18px;
  font-weight: bold;
}
/* 内容区域 */
.container{
	width: 100%;
	height: calc(100vh - 50px);
	overflow-x: auto;
	display: flex;
	box-sizing: border-box;
}
/* 左边栏 */
.left-container{
	width: 15%;
	min-width: 260px;
	max-width: 300px;
	border-right: 1px solid #eee;
    overflow-y:auto;
}
.left-container .item {
  width: 92%;
  margin: 20px auto;
  border: 1px solid #e8e8e8;
  position: relative;
}
.left-container .item.active {
  border-color: #4680ff;
}
.left-container .item .wCanvas {
  width: 100%;
}
.left-container .item .page {
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: 0;
  right: 0;
  font-weight: bold;
  font-size: 14px;
  color: white;
  background-color: #e8e8e8;
  text-align: center;
}
.left-container .item .page.active {
  background-color: #4680ff;
}
/* 合同内容 */
.container-center {
  flex: 1;
  overflow-y: auto;
  padding-top: 10px;
  background-color: #eee;
}
.container-center::-webkit-scrollbar {
  display: none;
}
.container-center .contact-container {
  width: 744.15px;
  margin: 0 auto;
}
.container-center .contact-container .item {
  width: 100%;
  height: 1052.4px;
  position: relative;
  overflow: hidden;
  border-top: #ebebeb 3px solid;
}
.close {
  width: 18px;
  height: 18px;
  border: 1px solid;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -9px;
  cursor: pointer;
}
.ellipsis_span{
  word-break: normal;
  font-size: 12px;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}
/* 右边栏 */
.right-operation{
	width: 20%;
	min-width: 200px;
  max-width: 300px;
  font-size: 16px;
	border-left: 1px solid #eee;
	padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-operation .title {
  margin-bottom: 20px;
}
.right-operation .title span {
  display: block;
  color: #333333;
  font-weight: bold;
  padding-left: 0.5rem;
  border-left: 3px solid #4680FF;
}
.right-operation .title .title-tip {
  font-size: 12px;
  color: #888;
  line-height: 16px;
  margin-top: 10px;
  cursor: default;
}
.right-operation .signer .ctop {
  height: 2rem;
  line-height: 2rem;
  font-size: 16px;
  margin-bottom: 0.6rem;
}
.right-operation .signer .ctop span {
  vertical-align: middle;
}
.right-operation .signer .ctop .circle{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}
.right-operation .signer .ccenter {
  width: 100%;
  cursor: move;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  color: #4680FF;
  margin: 10px auto 1.2rem;
  border: 1px solid #4680FF;
}
.right-operation .signer .intro {
  font-size: 14px;
  color: #333333;
}
.right-operation .savebtn {
  width: 100%;
  height: 36px;
  color: #fff;
  border-radius: 4px;
  background-color: #2d8cf0;
  border-color: #2d8cf0;
}

/* 弹窗 */
.ensrue-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
	background-color: rgba(0,0,0,.6);
	z-index: 9999;
}
.popup-content{
  width: 560px;
	background: #fff;
	border-radius: 5px;
	padding: 30px;
}
.popup-content header{
	font-size: 20px;
	margin-bottom: 20px;
}
.popup-content section ul{
	width: 100%;
	margin-bottom: 20px;
}
.popup-content section ul li{
	display: flex;
	margin-bottom: 20px;
}
.popup-content section ul li label{
	width: 140px;
	text-align: right;
	margin-right: 10px;
}
.popup-content section ul li div{
	flex: 1;
	border-bottom: 1px solid #000;
}
.popup-content footer{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}
.popup-content footer button{
	width: 100px;
	height: 36px;
	background: none;
	border: none;
	outline: none;
	list-style: none;
	text-align: center;
	line-height: 36px;
}
.popup-content footer button.popup-confirm{
	background: #1591cf;
	color: #fff;
	border-radius: 5px;
}
.popup-content footer button.popup-cancel{
	color: #1591cf;
}
.popup-content footer button:active{
	opacity: .6;
}

@media screen and (max-width:1260px){
	.right-operation{
		width: 220px;
	}
}
button {
  outline: 0;
  border: 0;
  cursor: pointer;
}


/* 拖拽插件样式 */
.vdr {
  padding: 0;
  position: absolute;
  user-select: none;
  text-align: center;
}
.draggable:hover {
  cursor: move;
}
.handle {
  display: none;
  position: absolute;
  z-index: 999;
}
/* svg {
  fill: #45DBF7;
} */
/* .handle-br {
  bottom: 0;
  right: 0;
  cursor: se-resize;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-top: 2px solid #45DBF7;
  border-left: 2px solid #45DBF7;
} */
.handle-ml {
  top: 0;
  left: -5px;
  cursor: w-resize;
  position: absolute;
  height: 100%;
  width: 5px;
}
.handle-ml:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #3F51B5);
}
.handle-mr {
  top: 0;
  right: -5px;
  cursor: w-resize;
  position: absolute;
  height: 100%;
  width: 5px;
}
.handle-mr:hover {
  background: linear-gradient(to right, #3F51B5, rgba(255, 255, 255, 0));
}
.handle-tm {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  left: 0;
  cursor: n-resize;
}
.handle-tm:hover {
  background: linear-gradient(rgba(255, 255, 255, 0), #3F51B5);
}
.handle-bm {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: 0;
  cursor: s-resize;
}
.handle-bm:hover {
  background: linear-gradient(#3F51B5, rgba(255, 255, 255, 0));
}
.active .handle {
  display: block;
}
.icon {
  text-align: center;
  line-height: 25px;
  color: white;
  font-size: 22px;
  overflow: hidden;
}
:focus {
  outline: none;
}
.back{
    cursor:pointer;
    width: 300px;
    line-height: 50px;
    padding-left: 30px;
}
.back:hover{
    color:rgba(22, 155, 213, 1);
    text-decoration:underline;
    font-weight:700;
}