<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>T云服务购买</title>
    <link rel="stylesheet" href="static/frozenui/css/frozenui.css">
    <link rel="stylesheet" href="static/frozenui/css/style.css">
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>
<style type="text/css">
    html, body
    {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
    iframe
    {
        margin: 0px 0px;
        min-width: 400px;
        min-height:800px;
    }
    .ui-tab-content li{
        padding-right: 30px;
    }
    .content-hide{
        display: none;
    }
</style>
<body ontouchstart>
    <input type="hidden" id="curIndex" value="{$t_type}">
    <section id="tab">
        <div class="ui-tab" >
            <ul class="ui-tab-nav ui-border-b ">
                <li class="current cls_index0" data-index="0"><span>购买</span></li>
                <li class="cls_index1" data-index="1"><span>升级</span></li>
                {*{if $is_cs eq 1}*}
                <li class="cls_index2" data-index="2"><span>续费</span></li>
                {*{/if}*}
                <li class="cls_index3" data-index="3"><span>另购</span></li>
                {*{if $is_cs_admin eq 1}*}
                <li class="cls_index4" data-index="4"><span>降级</span></li>
                {*{/if}*}
            </ul>
            <ul class="ui-tab-content" style="width:400%">
                <li class="cls_index0"></li>
                <li class="content-hide cls_index1"></li>
                {*{if $is_cs eq 1}*}
                <li class="content-hide cls_index2"></li>
                {*{/if}*}
                <li class="content-hide cls_index3"></li>
                {*{if $is_cs_admin eq 1}*}
                <li class="content-hide cls_index4"></li>
                {*{/if}*}
            </ul>
        </div>
    </section>

<script src="static/frozenui/js/zepto.min.js"></script>
<script type="text/javascript">
    (function() {
        var record = 0;
        var origin_l;
        $('.ui-tab-nav').find('li').on('click',function() {
            $(this).parent().find('li').removeClass('current');
            $(this).addClass('current');
            /*$('.ui-tab-content').css({
                'transform':'translate3d(-'+($(this).index()*$('.ui-tab-content li').offset().width)+'px,0,0)',
                'transition':'transform 0.5s linear'
            })*/
            $("#curIndex").val($(this).attr("data-index"));
            var check = false;
            if(check){
                if(!$("#div_confirm").hasClass("show")){
                    $("#div_confirm").addClass("show");
                }
            }else{
                switchTab();
            }
        });

        //创建iframe
        createIframe();

    })(window, undefined)

    //切换tab、关闭确认提示
    function switchTab() {
        createIframe();
        switchCancel();
    }

    //关闭确认提示
    function switchCancel() {
        if ($("#div_confirm").hasClass("show")){
            $("#div_confirm").removeClass("show");
        }
    }

    //动态创建iframe
    function createIframe() {
        //curIndex：0:购买 1：升级 2：续费 3 另购 4：降级
        var curIndex = $("#curIndex").val();
        $('.ui-tab-nav li').removeClass('current');
        $('.ui-tab-nav ').find(".cls_index"+curIndex).addClass('current');
        $('.ui-tab-content li').addClass("content-hide")
        $('.ui-tab-content').find(".cls_index"+curIndex).removeClass("content-hide");

        var h = window.innerHeight + 50;
        var w = window.innerWidth - 10;
        var curHeight = $(document).height();
        console.log('cc');
        var c = "min-width: "+w+"px;min-height:"+h+"px;";
        //iframe标签
        var timestamp=new Date().getTime();
        var t_src = "index.php?module=TyunBuyService&action=add&type="+curIndex +"&time="+timestamp;
        var ifrm_html = "<iframe id='tyun_frm_"+ curIndex +"' name='tyun_frm_"+ curIndex +"' src='"+t_src+"' frameborder=\"no\" border=\"0\" marginwidth=\"0\" marginheight=\"0\" scrolling=\"no\" allowtransparency=\"yes\" style='"+c+"'></iframe>";
        var li_content = $('.ui-tab-content').find(".cls_index"+curIndex);
        if(li_content.find("iframe").length == 0){
            li_content.append(ifrm_html);
        }

        if(curIndex==0){
            curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_buy_determine_input").height();
            if(curHeight == 0) {
                //确认页面设置高度
                curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_buy_determine_save").height();
            }
        }else if(curIndex==1){
            curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_upgrade_determine_input").height();
            if(curHeight == 0) {
                //确认页面设置高度
                curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_upgarde_determine_save").height();
            }
        }else if(curIndex==2){
            curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_renew_determine_input").height();
            if(curHeight == 0) {
                //确认页面设置高度
                curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_renew_determine_save").height();
            }
        }else if(curIndex==3){
            curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_againbuy_determine_input").height();
            if(curHeight == 0) {
                //确认页面设置高度
                curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_againbuy_determine_save").height();
            }
        }else if(curIndex==4){
            curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_degrade_determine_input").height();
            if(curHeight == 0) {
                //确认页面设置高度
                curHeight = $(window.frames["tyun_frm_"+curIndex].document).find("#div_degrade_determine_save").height();
            }
        }
        if(curHeight == null || curHeight == 0){
            //首次页面未加载时
            if(curIndex==0){
                curHeight = $(document).height() - 50;
            }else if(curIndex==1){
                curHeight = $(document).height() + 100;
            }else if(curIndex==2){
                curHeight = $(document).height() + 50;
            }else if(curIndex==3){
                curHeight = $(document).height() + 50;
            }else if(curIndex==4) {
                curHeight = $(document).height() + 100;
            }
        }
        // document.getElementById("tyun_frm_"+curIndex).height=curHeight;
    }
    function setTyunIframeHeight(type,addHeight) {
        if(type==null) return;
        var winHeight = $(document).height()-50;
        if(type==0){
            winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_buy_determine_input").height();
        }else if(type==1){
            winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_upgrade_determine_input").height();
        }else if(type==2){
            winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_renew_determine_input").height();
        }else if(type==3){
            winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_againbuy_determine_input").height();
        }else if(type==4){
            winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_degrade_determine_input").height();
        }

        if(winHeight == null || winHeight == 0){
            //确认页面设置高度
            if(type==0){
                winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_buy_determine_save").height();
            }else if(type==1){
                winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_upgarde_determine_save").height();
            }else if(type==2){
                winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_renew_determine_save").height();
            }else if(type==3){
                winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_againbuy_determine_save").height();
            }else if(type==4){
                winHeight = $(window.frames["tyun_frm_"+type].document).find("#div_degrade_determine_save").height();
            }
        }
        //var winHeight = window.innerHeight;//$(document).height();
        var curHeight = winHeight + addHeight;
        document.getElementById("tyun_frm_"+type).height=curHeight;
    }
</script>
<!-- 离开提示 -->
<div id="div_confirm" class="ui-dialog">
    <div class="ui-dialog-cnt">
        <div class="ui-dialog-bd">
            <p>将终止编辑,确认退出？</p>
        </div>
        <div class="ui-dialog-ft">
            <button type="button" data-role="button" onclick="switchCancel()">取消</button>
            <button type="button" data-role="button" onclick="switchTab()">确定</button>
        </div>
    </div>
</div>
</body>
</html>
