<!DOCTYPE HTML>
<html>
<head>
    <title>T云线上服务购买</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="shortcut icon" href="#" />

    <link rel="stylesheet" href="static/css/weui.min.css" />
    <link rel="stylesheet" href="static/css/weuix.css" />
    <link rel="stylesheet" href="static/css/jqueryui/jquery-weui.min.css" />
    <link rel="stylesheet" href="static/css/example.css" />
    <link rel="stylesheet" href="static/css/tyunwebbuyservice.css" />
    <link rel="stylesheet" href="static/css/iconfont.css" />
    <link rel="stylesheet" href="static/iconfont/iconfont.css">
    <style>
        {literal}
        * {
            -webkit-overflow-scrolling: auto;
        }
        #container {
            overflow: scroll;
            -webkit-overflow-scrolling: auto;
        }
        {/literal}
        .weui-select{
            padding-left: 0px;
        }
        .weui-dialog__bd{
            max-height: 300px;
            overflow: auto;
        }
    </style>
</head>
<body>
<div id="tempid" data-value=""></div>
<div id="submitid" data-value=""></div>
<div id="checkTyunExistBuyReturn" data-value="0"></div>
<div id="instanceagents" data-value="{$agents}"></div>
<div id="buydateshow" data-value="{$BUYDATESHOW}"></div>
<input type="hidden" name="isService" value="{$is_ignore_check}"/>
<div id="canviewactivity" data-value="0"></div>
<div id="lastelereceivermobile" data-value="0"></div>

<div id="templateid" data-value="0"></div>
<div id="contractid" data-value="0"></div>
<div id="paycode" data-value="0"></div>
<div id="eleccontracturl" data-value="0"></div>
<div id="checkVerifyCode" data-value="0"></div>
{literal}
<div class="container" id="container" >

</div>
<script src="./static/js/zepto.min.js"></script>
<script src="./js/jqueryweui/jquery-weui.min.js"></script>
<script src="./js/tyunwebbuyservice.js"></script>
<script src="./js/tyunwebactivity.js"></script>
<script src="static/js/iscroll-lite.js"></script>
<script type="text/javascript" src="static/js/specialwatermark.js"></script>
<script type="text/html" id="tpl_eleccontract">
    <div class="page flex" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder header-back" style="border:none;">
                <!-- <span class="weui-cell__ft weui-cell__ft__before"></span> -->
                <div class="weui-cell__bd" id="selectproducttitle">T云线上服务购买</div>
            </a>
        </div>
        <iframe id="ifmcontent" src="" class="eleccontractframe">

        </iframe>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom" style="background-color: #fff;" >
                <a href="javascript:void(0);" id="econtractback" style="font-size: 18px;width: 20%;border-radius: 7px;background-color: #999999;color:#FFFFFF;margin-left: 2%;">返回</a>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            econtractLoad();
        });
</script>

<script type="text/html" id="tpl_morediscountproduct">
    <div class="page" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:pageManager.back();" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder" style="border:none;">
                <span class="weui-cell__ft weui-cell__ft__before"></span>
                <div class="weui-cell__bd">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing" style="background-color: white" id="page_morediscountproduct">

        </div>
        <div style="padding-top: 40px;padding-bottom: 10px;text-align: center;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom"  style="background-color: #fff;">
                <!--<a class="weui-form-preview__btn"  style="flex-grow:2;color:#000000;font-size:18px;background-color: #ffffff;" href="javascript:">&nbsp;</a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitotherproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;">确定</a>-->
                <a class="weui-btn" id="submitmorediscountproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;width:98%;">确定</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            morediscountproductLoad();
        });
</script>



<script type="text/html" id="tpl_moregiveproduct">
    <div class="page" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:pageManager.back();" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder" style="border:none;">
                <span class="weui-cell__ft weui-cell__ft__before"></span>
                <div class="weui-cell__bd">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing" style="background-color: white" id="page_moregiveproduct">

        </div>
        <div style="padding-top: 40px;padding-bottom: 10px;text-align: center;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom"  style="background-color: #fff;">
                <!--<a class="weui-form-preview__btn"  style="flex-grow:2;color:#000000;font-size:18px;background-color: #ffffff;" href="javascript:">&nbsp;</a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitotherproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;">确定</a>-->
                <a class="weui-btn" id="submitmoregiveproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;width:98%;">确定</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            moregiveproductLoad();
        });
</script>

<script type="text/html" id="tpl_activityproduct">
    <div class="page flex" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder header-back" style="border:none;">
                <!-- <span class="weui-cell__ft weui-cell__ft__before"></span> -->
                <div class="weui-cell__bd" id="selectproducttitle2"></div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing" style="margin-top:20px;">
            <div class="weui-panel weui-panel-noborder" style="border-radius:5px;" id="selectActivity">
                <div class="weui-panel__bd">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">选择活动&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
                        <div class="weui-cell__bd">
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__bd page__bd_spacing" style="margin-top:20px;">
            <div class="weui-panel weui-panel-noborder" style="border-radius:5px;" id="activity_product">

            </div>
        </div>
        <div class="page__bd page__bd_spacing" style="margin-top:20px;">
            <div class="weui-panel  weui-panel-noborder otherproductlist">
            </div>
            <div class="weui-panel  weui-panel-noborder">
                <div class="weui-panel weui-panel-noborder" style="border-radius:5px;" id="separate_product">

                </div>
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"  style="margin: auto;color: #1296DB;" id="otherproduct2">
                            <span class="iconfont icon-zengjia" style="color: #1296DB"></span> 添加另购服务</div>
                    </div>
                </div>
            </div>
            <div class="weui-panel  weui-panel-noborder">
                <div class="weui-cell weui-cell-noborder">
                    <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">市价总计：</label></div>
                    <div class="weui-cell__bd">
                        <input type="hidden" id="totalmarketprice"  placeholder="" readonly>
                        <input class="weui-input" type="text" id="totalmarketpriceshow"  placeholder="" readonly>
                    </div>
                </div>

                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">合同金额：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" id="servicetotal" onkeyup="num(this)" pattern="[0-9]*" placeholder="请输入合同金额">
                        </div>
                    </div>
                </div>

                <!--<div class="weui-panel  weui-panel-noborder">-->
                    <!--<div class="weui-panel__bd  weui-panel-noborder" style="color:red;font-size:12px;text-align:center;">-->
                        <!--*合同金额包含 原合同剩余金额：¥ <span id="unusedamountshow1">0</span>，本次升级实际支付费用：¥ <span id="upgradecostshow1">0</span>-->
                        <!--（实际支付费用为合同金额扣减未使用金额。）-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="page__ft">

        </div>
        <div class="weui-footer weui-footer_fixed-bottom">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom" id="formbutton">
                <!--<a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitfrom2" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;margin:0 5px;">提交订单</a>-->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            activityproductLoad();
        });

        function num(obj){
            obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        }
</script>




<script type="text/html" id="tpl_selectactivity">
    <div class="page" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder header-back" style="border:none;">
                <!-- <span class="weui-cell__ft weui-cell__ft__before"></span> -->
                <div class="weui-cell__bd" id="selectproducttitle">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing" id="page_selectactivity">

        </div>
        <div style="padding-top: 40px;padding-bottom: 10px;text-align: center;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom"  style="background-color: #fff;">
                <a class="weui-btn" id="submitselectactivity" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;width:98%;">确定</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            activityLoad(1);
        });
</script>

<script type="text/html" id="tpl_register">
    <div class="page" >
        <div class="page__hd" style="padding: 10px 0px;height: 40px;background-color: #4994F2;color: white;">
            <div>
            <a href="javascript:pageManager.back();" style="border:none;float: left;color:white;width: 10%;line-height: 40px;margin-left: 5%;">
                取消
            </a>
            <div style="text-align: center;float: left;line-height: 40px;font-size: 20px;width: 70%">立即注册</div>
            <div  id="submitregister" style="border:none;float: right;width: 10%;line-height: 40px;margin-right: 5%;">
            <span style="font-size:14px;background-color: darkcyan;border-radius: 10px;color:white;padding: 4px 4px;line-height: 20px;float: right;margin-top: 7px;">
                确定
            </span>
            </div>
            </div>
        </div>
        <div class="weui-form-preview">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item" style="height: 40px;line-height:40px;text-align: center">
                    <input type="text" id="usercode" placeholder="请输入用户名(必填)" style="border:1px solid lightgrey;width:50%;height:35px;text-indent:16px;">
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
        });
</script>



<script type="text/html" id="tpl_checkaccount">
    <div class="page" >
        <div class="page__hd" style="padding: 10px 0px;height: 40px;background-color: #4994F2;color: white;">
            <div>
                <a href="javascript:pageManager.back();" style="border:none;float: left;color:white;width: 10%;line-height: 40px;margin-left: 5%;">
                    取消
                </a>
                <div style="text-align: center;float: left;line-height: 40px;font-size: 20px;width: 70%">其他T云账号</div>
                <div  id="submitcheckaccount" style="border:none;float: right;width: 10%;line-height: 40px;margin-right: 5%;">
            <span style="font-size:14px;background-color: darkcyan;border-radius: 10px;color:white;padding: 4px 4px;line-height: 20px;float: right;margin-top: 7px;">
                确定
            </span>
                </div>
            </div>
        </div>
        <div class="weui-form-preview">
            <div class="weui-form-preview__bd">
                <div class="weui-form-preview__item" style="height: 40px;line-height:40px;text-align: center">
                    <label  style="color: black;width: 30%;text-align:right;text-align-last:right;">T云账号:</label>
                    <input type="text" id="tyunaccount" placeholder="请输入T云账号" style="border:1px solid lightgrey;width:50%;height:35px;text-indent:16px;">
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
        });
</script>


<script type="text/html" id="tpl_searchbar">
        <div class="page" >
                    <div class="page__hd" style="padding:0px;">
                            <a href="javascript:pageManager.back();" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder" style="border:none;">
                                <span class="weui-cell__ft weui-cell__ft__before"></span>
                                <div class="weui-cell__bd">&nbsp;</div>
                            </a>
                    </div>
                    <div class="page__bd">
                        <div class="weui-search-bar" id="searchBar">
                            <form class="weui-search-bar__form" onsubmit="return false;">
                                <div class="weui-search-bar__box">
                                    <i class="weui-icon-search"></i>
                                    <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required/>
                                    <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                                </div>
                                <label class="weui-search-bar__label" id="searchText">
                                    <i class="weui-icon-search"></i>
                                    <span>搜索</span>
                                </label>
                            </form>
                            <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel" style="color:#0B92D9;">搜索</a>
                        </div>

                    </div>

                <div class="weui-cells searchbar-result" id="searchResult">

                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function(){
                $('.weui-picker-container').remove();
                $('.weui-mask').remove();
                $('.weui-dialog').remove();
                var $searchBar = $('#searchBar'),
                    $searchResult = $('#searchResult'),
                    $searchText = $('#searchText'),
                    $searchInput = $('#searchInput'),
                    $searchClear = $('#searchClear'),
                    $searchCancel = $('#searchCancel');

                function hideSearchResult(){
                    $searchResult.hide();
                    $searchInput.val('');
                }
                function cancelSearch(){
                    hideSearchResult();
                    $searchBar.removeClass('weui-search-bar_focusing');
                    $searchText.show();
                }

                $searchText.on('click', function(){
                    $searchBar.addClass('weui-search-bar_focusing');
                    $searchInput.focus();
                });
                $searchInput
                    .on('blur', function () {
                        if(!this.value.length) cancelSearch();
                    })
                    .on('input', function(){
                        if(this.value.length) {
                            $searchResult.show();
                        } else {
                            $searchResult.hide();
                        }
                    }).on('keydown',function(event){
                        if(event.keyCode==13){
                            $('#searchCancel').trigger('click');
                            return false;
                        }
                });
                $searchClear.on('click', function(){
                    hideSearchResult();
                    $searchInput.focus();
                });

            });
    </script>
<script type="text/html" id="tpl_selectproduct">
    <div class="page flex" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder header-back" style="border:none;">
                <!-- <span class="weui-cell__ft weui-cell__ft__before"></span> -->
                <div class="weui-cell__bd" id="selectproducttitle">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-panel weui-panel-noborder" style="border-radius:5px;">
                <div class="weui-panel__bd">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">产品分类：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" style="pointer-events: none;" id="productclassone" data-weui-select="" placeholder="请选择产品分类" value="" data-value="" data-values=""  readonly="readonly">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">购买套餐：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="productclasstwo" placeholder="请选择购买套餐" readonly>
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">购买年限：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="buyyear" placeholder="请选择购买年限" readonly>
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">市场价格：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="Priceshow" placeholder="市场价格" readonly>
                            <input type="hidden" id="Price" readonly>
                            <input type="hidden" id="otherproductsum" value="0"/>
                            <input type="hidden" id="otherproductrenewsum" value="0"/>
                        </div>

                    </div>
                </div>

            </div>
            <!-- <div class="weui-panel weui-panel-noborder">
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__bd">
                            添加另购服务：
                        </div>
                        <div class="weui-cell__ft" id="otherproduct1">
                            <i class="iconfont icon-jia-tianchong" style="font-size:18px;color:#1296DB;"></i>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="weui-panel  weui-panel-noborder otherproductlist">
            </div>
            <div class="weui-panel  weui-panel-noborder">
                <div class="weui-panel weui-panel-noborder" style="border-radius:5px;" id="separate_product">

                </div>
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"  style="margin: auto;color: #1296DB;" id="otherproduct">
                            <span class="iconfont icon-zengjia" style="color: #1296DB"></span> 添加另购服务</div>
                    </div>
                </div>
            </div>
            <div class="weui-panel  weui-panel-noborder">
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">市价总计：</label></div>
                        <div class="weui-cell__bd">
                            <input type="hidden" id="totalmarketprice"  placeholder="" readonly>
                            <input class="weui-input" type="text" id="totalmarketpriceshow"  placeholder="" readonly>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">合同金额：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" id="servicetotal" onkeyup="num(this)"  pattern="[0-9]*" placeholder="请输入合同金额">
                        </div>
                    </div>
                    {/literal}
                    {if $BUYDATESHOW}
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">购买时间：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="date" max="{$MAXDATE}" min="{$MINDATE}" id="buydate"  data-toggle='date' data-mindate="{$MINDATE}" data-maxdate="{$MAXDATE}" value="{$DATEC}">
                        </div>
                    </div>
                    {/if}
                    {literal}
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">代理商标识：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="agents" placeholder="代理商ID" readonly>
                        </div>
                    </div>

                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:110px;">&nbsp;</label></div>
                        <div class="weui-cell__bd">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__ft" style="position:relative;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom" style="background-color: #fff;" id="formbutton">
                <!--<a class="weui-form-preview__btn" style="flex-grow:2;color:#000000;font-size:18px;background-color: #fff;" href="javascript:"></a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;">提交订单</a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;">提交订单</a>-->
                <!--<a class="weui-btn" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;width:98%;">提交订单</a>-->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            otherproductlistLoad();
        });

        function num(obj){
            obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        }
</script>
<script type="text/html" id="tpl_collegeselectproduct">
    <div class="page flex" >
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder header-back" style="border:none;">
                <!-- <span class="weui-cell__ft weui-cell__ft__before"></span> -->
                <div class="weui-cell__bd" id="collegeselectproducttitle">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing">
            <div class="weui-panel weui-panel-noborder" style="border-radius:5px;">
                <div class="weui-panel__bd">
                    <div class="weui-cell weui-cell-noborder" >
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width: 120px;">产品分类：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" style="pointer-events: none;" type="text" id="productclassone" data-weui-select="" placeholder="请输入产品分类" value="" data-value="" data-values="" readonly="readonly">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width: 120px;">购买套餐：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="productclasstwo" placeholder="购买套餐" readonly>
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width: 120px;">购买年限：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="buyyear" placeholder="请选择购买年限" readonly>
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width: 120px;">账号数量：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="numberstudentaccounts"  onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  placeholder="请输入账号数量">
                        </div>
                    </div>
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width: 120px;">市场价格：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="Priceshow" placeholder="请输入市场价格" readonly>
                            <input type="hidden" id="Price" readonly>
                            <input type="hidden" id="otherproductsum" value="0"/>
                            <input type="hidden" id="otherproductrenewsum" value="0"/>
                        </div>

                    </div>
                </div>

            </div>
            <!-- <div class="weui-panel weui-panel-noborder">
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__bd">
                            添加另购服务：
                        </div>
                        <div class="weui-cell__ft" id="otherproduct1">
                            <i class="iconfont icon-jia-tianchong" style="font-size:18px;color:#1296DB;"></i>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="weui-panel  weui-panel-noborder otherproductlist">
            </div>
            <!--<div class="weui-panel  weui-panel-noborder">
                <div class="weui-panel weui-panel-noborder" style="border-radius:5px;" id="separate_product">

                </div>
                <div class="weui-panel__bd  weui-panel-noborder">
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"  style="margin: auto;color: #1296DB;" id="otherproduct">
                            <span class="iconfont icon-zengjia" style="color: #1296DB"></span> 添加另购服务</div>
                    </div>
                </div>
            </div>-->
            <div class="weui-panel  weui-panel-noborder">
                <div class="weui-panel__bd  weui-panel-noborder">
                    <!--<div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:120px;">市价总计：</label></div>
                        <div class="weui-cell__bd">
                            <input type="hidden" id="totalmarketprice"  placeholder="" readonly>
                            <input class="weui-input" type="text" id="totalmarketpriceshow"  placeholder="" readonly>
                        </div>
                    </div>-->
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:120px;">合同金额：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="number" id="servicetotal" onkeyup="num(this)"  pattern="[0-9]*" placeholder="请输入合同金额">
                        </div>
                    </div>
                    {/literal}
                    {if $BUYDATESHOW}
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:120px;">购买时间：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="date" max="{$MAXDATE}" min="{$MINDATE}" id="buydate"  data-toggle='date' data-mindate="{$MINDATE}" data-maxdate="{$MAXDATE}" value="{$DATEC}">
                        </div>
                    </div>
                    {/if}
                    {literal}
                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:120px;">代理商标识：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="agents" placeholder="代理商ID" readonly>
                        </div>
                    </div>

                    <div class="weui-cell weui-cell-noborder">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;width:120px;">&nbsp;</label></div>
                        <div class="weui-cell__bd">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__ft" style="position:relative;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom" style="background-color: #fff;" id="formbutton">
                <!--<a class="weui-form-preview__btn" style="flex-grow:2;color:#000000;font-size:18px;background-color: #fff;" href="javascript:"></a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;">提交订单</a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;">提交订单</a>-->
                <!--<a class="weui-btn" id="submitfrom" href="javascript:void(0);" style="background-color: #999999;color:#FFFFFF;font-size:18px;width:98%;">提交订单</a>-->
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            collegeotherproductlistLoad();
        });

        function num(obj){
            obj.value = obj.value.replace(/[^\d.]/g,""); //清除"数字"和"."以外的字符
            obj.value = obj.value.replace(/^\./g,""); //验证第一个字符是数字
            obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个, 清除多余的
            obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
            obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3'); //只能输入两个小数
        }
</script>
<script type="text/html" id="tpl_home">
    <div class="page home js_show">
        <div class="page__bd">
            <form id="EditView" onsubmit="return false;">
                <div class="weui-panel weui-panel_access">

                    <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label for="classtype" class="weui-label" style="text-align:right;">购买类型：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="classtype" id="classtype">
                                <option value="buy" selected>购买</option>
                                {/literal}
                                {if $is_cs eq 1}
                                <option value="renew">续费</option>
                                {/if}
                                <option value="upgrade">升级</option>
                                {if $is_cs_admin eq 1}
                                <option value="degrade">降级</option>
                                {/if}
                                {literal}
                            </select>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label for="signaturetype" class="weui-label" style="text-align:right;">签署类型：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="signaturetype" id="signaturetype">
                                <option value="papercontract" selected>纸质合同</option>
                                <option value="eleccontract">电子合同</option>
                            </select>
                        </div>
                    </div>

                    <div class="weui-cell weui-cell_vcode weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">服务合同：</label>
                        </div>
                        <div class="weui-cell__bd" style="position: relative;">
                            <input type="hidden" id="contractowenid" value="">
                            <input type="hidden" id="contractowenname" value="">
                            <input type="hidden" id="servicecontractsid" name="servicecontractsid" value="0" data-msg="服务合同" />
                            <input class="weui-input" name="servicecontractsid_display" type="text" placeholder="请输入服务合同后四位后点击搜索按钮"  data-name="servicecontractsid" data-id="searchbar"/>
                            <div class="weui-panel__bd" id="servicecontractsid_downlist" style="position: absolute;transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);width:100%;z-index:3; ">
                                <div class="weui-media-box weui-media-box_small-appmsg">
                                    <div class="weui-cells" id="servicecontractsid_downcontent" style="overflow-y:auto;max-height:20em;font-size:0.8em;">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="weui-cell__ft">
                            <button class="weui-vcode-btn search_list" style="border-left:none;" data-name="servicecontractsid" data-id="searchbar"><i class="weui-icon-search" style="color:#0B92D9;"></i></button>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_vcode weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">产品分类：</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="text" id="productclassonecollege" data-weui-select="" placeholder="请输入产品分类" value="" data-value="" data-values=""  readonly>
                        </div>
                        <div class="weui-cell__ft weui-cell__ft__add"></div>
                    </div>
                    <div class="weui-cell weui-cell_vcode weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">客户名称：</label>
                        </div>
                        <div class="weui-cell__bd" style="position: relative;">
                            <input type="hidden" id="accountidowenid" value="" >
                            <input type="hidden" id="accountidowenname" value="" >
                            <input type="hidden" id="accountid" name="accountid" value="0" data-msg="客户名称" />
                            <input class="weui-input" name="accountid_display" type="text" placeholder="请输入客户名称" data-name="accountid" data-id="searchbar"/>
                            <div class="weui-panel__bd" id="accountid_downlist" style="position: absolute;transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);width:100%;z-index:3; ">
                                <div class="weui-media-box weui-media-box_small-appmsg">
                                    <div class="weui-cells" id="accountid_downcontent" style="overflow-y:auto;max-height:20em;font-size:0.9em;">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="weui-cell__ft">
                            <button class="weui-vcode-btn search_list" style="border-left:none;color:#0B92D9;" data-name="accountid" data-id="searchbar"><i class="weui-icon-search" style="color:#0B92D9;"></i></button>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">客户手机：</label></div>
                        <div class="weui-cell__bd">
                            <input type="hidden" id="checkmobile" />
                            <input class="weui-input" type="number" name="mobile" id="mobile" placeholder="客户手机" data-msg="客户手机">
                        </div>
                    </div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd" style="text-align:right;"><label class="weui-label">&nbsp;<i class="weui-icon-info weui-icon_msg" style="font-size:1.2em"></i></label></div>
                        <div class="weui-cell__bd" style="color:red;font-size:12px;">
                            手机号关联T云账号，请与客户确认
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">验证码：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="checkmobilevcode" type="hidden" />
                            <input class="weui-input" type="text" style="font-size: 14px;" id="mobilevcode" placeholder="短信验证码" maxlength="5">
                        </div>
                        <div class="weui-cell__ft" style="padding-left: 0em;">
                            <button class="weui-vcode-btn" id="mobilevcodebtn" style="padding-left: 0em;padding-right: 0em;border-left:none;color:#0B92D9;">获取验证码</button>
                        </div>
                    </div>
                    <div class="weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">T云账号：</label>
                        </div>
                        <div class="weui-cell__bd" style="position: relative;">
                            <input type="hidden" id="tyunusercodeonoff" value="1"/>
                            <div id="clickhide" class="weui-select"  style="position: absolute;z-index:2;background-color: #ffffff;padding:0;white-space: nowrap;overflow: hidden;">点击选择T云账户</div>
                            <select class="weui-select" name="tyunusercode" id="tyunusercode">
                            </select>
                        </div>
                        <div class="weui-cell__ft">
                            <button class="weui-vcode-btn" id="registerd" style="border-left:none;color:#0B92D9;">立即注册</button>
                        </div>
                    </div>

                    <div class="collegedifference weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;"></label>
                        </div>
                        <div class="weui-cell__bd">
                            <input type="hidden" id="tyunusercodeonoff2" value="1"/>
                            <div id="clickhide2" class="weui-select"  style="position: absolute;z-index:2;background-color: #ffffff;">
                                <span id="other_tyunaccount" style="border: 1px solid #10aeff;background-color: #10aeff;color: white;padding: 5px;border-radius: 5px;">其他T云账号</span>
                            </div>
                            <select class="weui-select" name="tyunusercode2" id="tyunusercode2">
                            </select>
                        </div>
                    </div>

                    <div class="collegedifference weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label" style="text-align:right;">老客户名称：</label></div>
                        <div class="weui-cell__bd">
                            <input type="hidden" id="oldaccountidowenid" value="" >
                            <input type="hidden" id="oldaccountid" name="oldaccountid" value="0" data-msg="客户名称" />
                            <input class="weui-input" name="oldaccountid_display" type="text" disabled  data-name="oldaccountid" data-id="searchbar"/>
                        </div>
                    </div>

                    <div class="collegedifference weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label for="producttype" class="weui-label" style="text-align:right;">产品类型：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="producttype" id="producttype">
                                <option value="common" selected>普通产品</option>
                                <option value="activity" >活动产品</option>
                            </select>
                        </div>
                    </div>

                    <div class="collegedifference weui-cell weui-cell_select weui-cell_select-after weui-cell_select_custom_spacing">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">认证类型：</label>
                        </div>
                        <div class="weui-cell__bd">
                            <select class="weui-select" name="authenticationtype" id="authenticationtype">
                                <option value="0">个人</option>
                                <option value="1" selected>企业</option>
                                <option value="2">政府</option>
                                <option value="3">其他组织</option>
                            </select>
                        </div>
                    </div>

                    <div class="collegedifference weui-cell">
                        <div class="weui-cell__hd">
                            <label class="weui-label" style="text-align:right;">代理商ID：</label>
                        </div>
                        <div class="weui-cell__bd" style="position: relative;">
                            {/literal}
                            {$agents}
                            {literal}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="page__bd page__bd_spacing" style="margin-top:5rem;">
            <div class="button-sp-area">
                <a href="javascript:;" class="weui-btn weui-btn_block weui-btn_default" style="background-color: #999999;color:white;" id="nextstep">下一步</a>
            </div>
        </div>
        <div class="page__ft">
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            $.ajax(
                {
                    url: '/index.php?module=TyunWebBuyService&action=getAllCategory',
                    type: 'POST',
                    dataType: 'json',
                    data:{
                        "categoryID":'1'
                    },
                    beforeSend:function(){
                        $.showLoading();
                    },
                    success: function (data) {
                        $.hideLoading();
                        if(data.success && data.data.length>0){
                            var datas=data.data
                            var productclassoneitems=[];
                            $.each(datas,function(key,value){
                                if(value.IsPackage){
                                    var temp={title: value.Title,value: value.ID};
                                    productclassoneitems.push(temp);
                                }
                            });
                            sessionStorage.productclassoneitems=productclassoneitems;
                            $("#productclassonecollege").select({
                                title: "请选择",
                                items: productclassoneitems,
                                onChange: function(d) {
                                    return false;
                                },
                                onClose: function(d) {
                                    var datavalues=d.data.values;
                                    console.log(d.data);
                                    sessionStorage.datavalues=datavalues;
                                    sessionStorage.datavaluestitle=d.data.titles;
                                    // 院校版
                                    if(datavalues==7 || datavalues==9){
                                        var  signaturetype=$("#signaturetype").val();
                                        if(signaturetype=='eleccontract'){
                                            $.toast('院校版或集团版目前没有电子合同！重新选择合同类型。',"text");
                                            return false;
                                        }
                                        $(".collegedifference").hide();
                                    }else{
                                        $(".collegedifference").show();
                                    }
                                    // 判断账号是否存在 存在则再次重置产品
                                    var tyunusercode=parseInt($("#tyunusercode").val());
                                    if(tyunusercode>0){
                                        clearHasexistData()
                                        $("#clickhide").show();
                                    }
                                }
                            });
                        }
                    }
                }
            );
        });
</script>
<script type="text/html" id="tpl_otherproduct">
    <div class="page container" >
        <div id="tagnav" class="weui-navigator weui-navigator-wrapper" style="touch-action: none;z-index: 999;position: fixed">
            <ul  class="weui-navigator-list" style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">

            </ul>
        </div>
        <div class="page__hd" style="padding:0px;">
            <a href="javascript:pageManager.back();" class="weui-cell weui-cell_access weui-cell_link weui-cell-noborder" style="border:none;">
                <span class="weui-cell__ft weui-cell__ft__before"></span>
                <div class="weui-cell__bd">&nbsp;</div>
            </a>
        </div>
        <div class="page__bd page__bd_spacing" id="page_othgerproduct">

        </div>
        <div style="padding-top: 40px;padding-bottom: 10px;text-align: center;">
            &nbsp;
        </div>
        <div class="weui-footer weui-footer_fixed-bottom" style="z-index:3;">
            <div class="weui-form-preview__ft weui-footer_fixed-bottom"  style="background-color: #fff;">
                <!--<a class="weui-form-preview__btn"  style="flex-grow:2;color:#000000;font-size:18px;background-color: #ffffff;" href="javascript:">&nbsp;</a>
                <a class="weui-form-preview__btn weui-form-preview__btn_primary weui-btn_block" id="submitotherproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;">确定</a>-->
                <a class="weui-btn" href="javascript:pageManager.back();" style="background-color: darkgrey;color:#FFFFFF;font-size:18px;width:25%;height: 46px;margin-top: 15px;">返回</a>
                <a class="weui-btn" id="submitotherproduct" href="javascript:void(0);" style="background-color: #4994F2;color:#FFFFFF;font-size:18px;width:70%;">确定</a>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function(){
            $('.weui-picker-container').remove();
            $('.weui-mask').remove();
            $('.weui-dialog').remove();
            otherproductLoad();
        });
</script>
</body>
</html>
{/literal}