<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no" />
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <title>PDFH5</title>
  <link rel="stylesheet" href="static/eleccontract/base.css">
  <link rel="stylesheet" href="static/eleccontract/pdfh5.css" />
  <link rel="stylesheet" href="static/eleccontract/index.css">
</head>

<body>
  <div class="conter-tab">
    <ul>
      <li class="active">合同预览</li>
    </ul>
  </div>
  <section class="conter-body">
    <div id="demo" class="contact-container"></div>
  </section>
  <footer class="conter-footer">

  </footer>
</body>

</html>
<script src="./js/eleccontract/pdf.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/eleccontract/pdf.worker.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/eleccontract/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/eleccontract/pdfh5.js" type="text/javascript" charset="utf-8"></script>
<script src="./js/eleccontract/index.js" type="text/javascript" charset="utf-8"></script>
<script>
  var contractId = "{$accountid}";
</script>
