.page {
    width: 100%;
    min-width: 1440px;
    background-color: rgba(245, 246, 248, 1);
    overflow: hidden;
    justify-content: flex-start;
    padding-top: 0;
    z-index: 1;
    position: relative;
}
.layer1 {
    z-index: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.layer2 {
    z-index: 315;
    height: 50px;
    background-color: rgba(68, 69, 68, 1);
    width: 100%;
}
.page-con {
    margin-left: 32px;
    margin-right: 32px;
}
.group1 {
    z-index: auto;
    height: 50px;
    margin-left: 13px;
    margin-right: 20px;
}
.group-logo {
    display: flex;
    flex: 1;
}
.group-inner {
    display: flex;
}
.logo {
    z-index: 318;
    margin-top: 3px;
    width: 98px;
}
.txt1 {
    z-index: 316;
    width: 113px;
    height: 21px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.88);
    font-size: 15px;
    font-family: PingFangSC-Semibold;
    white-space: nowrap;
    line-height: 21px;
    text-align: left;
    margin: 15px 0 0 13px;
}
.group-inner .link {
    z-index: 335;
    height: 20px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.76);
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    margin: 16px 0 0 20px;
    cursor: pointer;
}
.group-inner .link:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
}
.group-inner .fa-chevron-down, .group-inner .fa-chevron-up {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.76);
    margin-top: 19px;
    margin-left: 12px;
}
.outer2 {
    z-index: 327;
    height: 34px;
    width: 200px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 8px 0 0 25px;
}
.outer3 {
    z-index: 332;
    width: 16px;
    height: 15px;
    background: url('../img/search.png');
    background-size: 100% 100%;
    position: absolute;
    margin-left: 11px;
}
.outer2 input{
    width: 200px;
    height: 34px;
    padding-left: 32px;
    outline: none;
    border-radius: 4px;
    border: none;
}
.outer2 input::placeholder{
    color: #bfbfbf;
}
.outer4 {
    z-index: 324;
    width: 1px;
    height: 50px;
    background: url('../img/split-line.png') 100% no-repeat;
    margin-left: 20px;
}
.label1 {
    z-index: 319;
    width: 36px;
    height: 36px;
    margin: 7px 0 0 20px;
}

.word4 {
    z-index: 323;
    height: 20px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    margin: 15px 0 0 9px;
    cursor: pointer;
}
.layer19 {
    z-index: 343;
    background-color: rgba(68, 69, 68, 1);
    width: 124px;
}
.bd {
    z-index: auto;
    width: 100%;
    height: 45px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.76);
    border-right: 2px solid rgba(68, 69, 68, 1);
    position: relative;
}
.bd:hover{
    background: rgba(237, 104, 38, 0.19);
    color: rgba(255, 255, 255, 1);
    border-right: 2px solid #ED6826;
}
.bd:hover .arrow-right{
    border-color: #ED6826;
}
.bd:hover .menu-list{
    display: block;
}
.menu-icon {
    z-index: 349;
    width: 20px;
    height: 20px;
}

.menu-txt {
    z-index: 348;
    width: 28px;
    height: 20px;
    display: block;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    white-space: nowrap;
    line-height: 20px;
    text-align: left;
    margin-left: 6px;
}
.menu-txt:hover {
    color: rgba(255, 255, 255, 1);
}
.arrow-right {
    z-index: 345;
    width: 5px;
    margin-left: 28px;
    padding: 3px !important;
    border-color: #e0e0e0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.main-con {
    background: #F5F6F8;
    display: flex;
    top: 49px;
    overflow: hidden;
}
.content-con {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 50px;
}
.layer3 {
    z-index: 307;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(38, 38, 38, 0.1);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin: 25px 32px 24px 32px;
}

.mod1 {
    z-index: auto;
    height: 19px;
    justify-content: space-between;
    margin-left: 12px;
}

.label2 {
    z-index: 310;
    width: 19px;
    height: 19px;
}
.marquee{
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    width: 98%;
}
.marquee-txt {
    z-index: 308;
    height: 18px;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 14px;
    font-family: PingFangSC-Regular;
    white-space: nowrap;
    line-height: 18px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    display: inline;
    animation: marqueeLeft 12s linear infinite;
}
.marquee-txt:hover {
    animation-play-state:paused;
}
.marquee-txt a{
    margin-right: 20px;
}
@keyframes marqueeLeft {
    from {
        transform: translateX(0) translateY(-50%); /* 自身节点*/
        left: 100%; /* 继承父节点，让文字从最右侧开始显示*/
    }

    to {
        transform: translateX(-100%) translateY(-50%);
        left: 0;
    }
}
.txt4 {
    z-index: 13;
    display: block;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    white-space: nowrap;
    line-height: 25px;
    text-align: left;

}
.left-con{
    margin-right: 15px;
    flex: 1;
}
.group2 {
    z-index: 3;
    height: 209px;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(38, 38, 38, 0.1);
    align-items: center;
    margin-top: 16px;
}
.carousel-inner{
    flex: 1;
    cursor: pointer;
}
.prev{
    margin-left: 32px;
}
.next{
    margin-right: 32px;
}
.bd2 {
    z-index: auto;
    height: 136px;
    margin: 4px 0 0 57px;
    flex: 1;
}

.info2 {
    z-index: 4;
    width: 162px;
    height: 25px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 18px;
    font-family: PingFangSC-Semibold;
    white-space: nowrap;
    line-height: 25px;
    text-align: left;
    align-self: flex-start;
}

.info3 {
    z-index: 6;
    width: 100%;
    height: 91px;
    display: block;
    overflow-wrap: break-word;
    color: rgba(51, 51, 51, 1);
    font-size: 13px;
    font-family: PingFangSC-Regular;
    line-height: 23px;
    text-align: left;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.bd3 {
    z-index: 5;
    width: 160px;
    height: 160px;
    background-color: rgba(216, 216, 216, 1);
    margin-left: 48px;
}

.bd3 img{
    width: 160px;
    height: 160px;
}

.circle {
    z-index: 8;
    height: 31px;
    border-radius: 50%;
    width: 31px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.normal {
    border: 1px solid #ec5d15;
}
.disabled{
    border: 1px solid #e0e0e0;
}

.arrow {
    z-index: 9;
    width: 3px;
    border-width: 0 1px 1px 0;
    border-style: solid;
    display: inline-block;
    padding: 5px;
}
.arrow-normal-next{
    border-color: #ec5d15;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 4px;
}
.arrow-normal-prev{
    border-color: #ec5d15;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 4px;
}

.arrow-disabled-prev{
    border-color: #e0e0e0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 4px;
}
.arrow-disabled-next{
    border-color: #e0e0e0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 4px;
}
.news-title{
    align-items: center;
    margin-top: 32px;
}
.news-title .txt4{
    flex: 1;
}
.news-list{
    margin-top: 16px;
}
.load-more{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #4286F5;
    cursor: pointer;
    margin-right: 12px;
}
.load-more:hover{
    color: #4286F5;
    text-decoration:none;
}
.follow-up-txt{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #4286F5;
    cursor: pointer;
    margin-right: 12px;
}
.follow-up-txt:hover, .follow-up-txt:active{
    color: #4286F5;
    text-decoration:none;
}
.unfollowed-list{
    margin-top:16px;
    height:390px;
    overflow-y:auto;
    background-color: #fff;
}
.table-list{
    width: 100%;
    border: none;
    border-spacing: 0 !important;
}
.table-list tr{
    background: white;
    height: 47px;
    line-height: 47px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
}
.table-list td, .table-list th{
    padding-left: 20px;
}
.table-list td:last-child,.table-list th:last-child{
    padding-right: 20px;
}
.table-list th{
    text-align: left;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
}
.table-list td .notice{
    color: red;
}
.table-list tbody tr:nth-child(odd){
    background: #FAFAFD;
}
.table-list tbody tr:nth-child(even){
    background: white;
}
.receivepayment-list{
    background:#fff;
    margin-top:10px;
    padding:10px;
}
.follow-up, .special-con, .collection-con{
    margin-top: 16px;
    border: none;
    border-spacing: 0 !important;
}
.follow-up .tabs-con{
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.follow-up .tabs{
    width: 317px;
    height: 42px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 5px 0 rgba(237, 238, 243, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.follow-up .load-more{
    flex: 1;
    text-align: right;
}
.follow-up .tab-item{
    height: 42px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.follow-up .tab-item p{
    margin-left: 16px;
    margin-right: 16px;
}
.follow-up .active{
    width: 158px;
    height: 36px;
    background: linear-gradient(270deg, #FF5000 0%, #FF8800 100%);
    box-shadow: 0 6px 10px 0 rgba(255, 80, 0, 0.3);
    border-radius: 4px;
    color: white;
}
.week-add-con{
    margin-right: 16px;
}
.week-add-con, .customer-leader-con{
    flex: 1;
}
.week-add-con-title, .customer-leader-con-title, .week-add-con .txt4,.customer-leader-con .txt4{
    flex: 1;
    align-items: center;
}
.week-add-con-title .load-more,.customer-leader-con-title .load-more{
    margin-right: 32px;
}
.week-add-list, .customer-leader-list{
    background-color: #fff;
    margin-top: 16px;
    height: 390px;
    width: 100%;
    overflow-y: auto;
}
.special-txt{
    width:100px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow:hidden;
}
.week-add-list .special-txt{
    width: 85px;
}
.special-tr{
    background: white !important;
}
.special-tr td{
    padding-left: 0 !important;
}
.empty-img{
    background: url("../img/empty.png");
    background-size: 100% 100%;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
.collection-operate{
    flex: 1;
    align-items: center;
    justify-content: flex-end;
}
.collection-operate .title{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    margin-right: 8px;
}
.posirelative {
    position: relative;
}
.select-out-div {
    width: 90px;
    overflow: hidden;
    margin-right: 10px;
}
select.m-wrap {
    background-image: none !important;
    filter: none !important;
    outline: none;
    width: 90px;
    height: 36px !important;
    line-height: 36px;
    appearance: none;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E8E8F0;
    text-indent: 10px;
}
.select-hide-span {
    height: 36px;
    position: absolute;
    top: 0;
    right: 3px;
    width: 20px !important;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-show-b {
    border-color: #bbbeca transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}
.search-input{
    width: 236px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #E8E8F0;
    text-indent: 10px;
    margin-left: 16px;
}
.search-input:focus{
    outline: none;
}
.search-input::placeholder{
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #BFBFBF;
    line-height: 20px;
}
.query-btn{
    width: 60px;
    height: 36px;
    background: rgba(52, 57, 81, 0.95);
    box-shadow: 0 2px 10px 0 rgba(0, 130, 255, 0.1);
    border-radius: 4px;
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.help-con{
    min-width: 375px;
    height: 209px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(38, 38, 38, 0.1);
    border-radius: 4px;
    overflow-y: auto;
    margin-top: 16px;
    margin-bottom: 32px;
    padding-top: 6px;
    padding-bottom: 16px;
}
.help-con a, .help-con p{
    display:block;
    width: 350px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    padding-left: 32px;
    margin-top: 10px;
}
.help-con a.emphasize, .help-con p.emphasize{
    color: #ED6826;
}
.menu-con{
    width: 375px;
    height: 154px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(38, 38, 38, 0.1);
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 32px;
}
.menu{
    display: flex;
    flex-flow: wrap;
    margin-left: 15px;
    padding-top: 13px;
}
.menu-con a{
    display: block;
    background: #F7F9FA;
    padding: 7px 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    height: 32px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 18px;
}
.message-con{
    width: 375px;
    background: #FFFFFF;
    box-shadow: 0 1px 5px 0 rgba(38, 38, 38, 0.1);
    border-radius: 4px;
    margin-top: 16px;
}
.system-con, .work-notice-con{
    border-bottom: 1px solid #f0f0f0;
    display: flex;
}
.site-info-con{
  display: flex;
}
.system-con .left, .work-notice-con .left, .site-info-con .left{
    width: 28px;
    background: rgba(237,104,38,0.05);
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #EC5D15;
    line-height: 18px;
    writing-mode: tb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.system-con .content, .work-notice-con .content, .site-info-con .content{
    margin-top: 12px;
    margin-left: 16px;
    min-height: 70px;
}
.system-con .content a, .work-notice-con .content a, .site-info-con .content a{
    display: block;
    margin-bottom: 12px;
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333333;
    line-height: 18px;
}
.total-con{
    background: #FFFFFF;
    height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.total-con p{
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FF0000;
    line-height: 18px;
    margin-right: 32px;
}
.caret-wrapper{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative;
}
.sort-caret{
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px;
    top: 18px;
}
.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px;
}
.descending{
    border-top-color: #c0c4cc;
}
.menu-list{
    width: 436px;
    background: #FFFFFF;
    box-shadow: 0px 10px 32px 0px rgba(38, 38, 38, 0.18);
    opacity: 0.94;
    display: none;
    position: absolute;
    top: 0;
    left:124px;
    z-index: 9999;
    cursor: pointer;

}
.menu-main-con{
    margin: 20px 0 20px 40px;
    display: flex;
    flex-flow: wrap;
}
.menu-item{
    width: 400px;
}
.menu-item a{
    font-size: 13px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #333;
    line-height: 30px;
    display:inline-block;
    margin-right: 30px;
    text-decoration: none;
}
.menu-item a:hover{
    color: #ED6826;
}
.menu-nav{
    background-color: rgba(68, 69, 68, 1);
    border-radius: 0 0 4px 4px;
    top: 49px;
    position: absolute;
    display: none;
    width: 376px;
    flex-flow: wrap;
}
.nav-con{
    margin-left: 20px;
    display: flex;
    flex-flow: wrap;
}
.nav-con a{
    display: block;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.76);
    line-height: 20px;
    margin-bottom: 16px;
    margin-right: 20px;
    margin-top: 2px;
    cursor: pointer;
}
.nav-con a:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
}

.userinfo-con{
    width: 100px;
    height: 75px;
    background: #444544;
    border-radius: 4px;
    display: none;
    position: absolute;
    top: 51px;
    right: 10px;
}
.userinfo{
    margin: 9px 22px 12px 22px;
}
.userinfo a{
    display: block;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.76);
    line-height: 20px;
    margin-bottom: 14px;
    cursor: pointer;
}
.dialog-con, .un-match-dialog {
    z-index: 999999;
}
.footer {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}