<?php
/**
 * Created by PhpStorm.
 * User: zd-yf3131
 * Date: 2015/9/15
 * Time: 16:01
 */
date_default_timezone_set('Asia/Shanghai');
ini_set("include_path", "../");
set_time_limit(0);

require_once('config.php');
require_once('include/utils/utils.php');
require_once('include/logging.php');
global $adb;
$query = "SELECT * FROM `vtiger_systems` WHERE server_type='email' AND id=2";
$result = $adb->pquery($query, array());
if (!$adb->num_rows($result)) {
    die('服务配置错误');
}
$result = $adb->query_result_rowdata($result);
$result['from_email_field'] = $result['from_email_field'] != '' ? $result['from_email_field'] : $result['server_username'];
//查找要发送的邮件
$query1 = "SELECT sendmailid,`subject`,body,inorout FROM vtiger_sendmail WHERE vtiger_sendmail.email_flag='nosender'";
$result1 = $adb->run_query_allrecords($query1);
if(!empty($result1)){
    $arr=array();
    $ids='';
    foreach($result1 as $value){
        $arr[$value['sendmailid']]=$value;
        $ids.=$value['sendmailid'].',';
    }
    $ids=rtrim($ids,',');
}else{
    die('没有要发送的邮件');
}
//取得要发送邮件的收件人
$query2="SELECT vtiger_mailaccount.mailaccountid,vtiger_mailaccount.sendmailid,vtiger_mailaccount.accountid,vtiger_mailaccount.email as email1 FROM vtiger_mailaccount WHERE vtiger_mailaccount.sendmailid in({$ids})";
$result2 = $adb->run_query_allrecords($query2);
if(empty($result2))die('没有相关的收件人');
require_once 'class.phpmailer.php';
$mailer=new PHPMailer();
$mailer->IsSmtp();
//$mailer->SMTPDebug = true;
$mailer->SMTPAuth=$result['smtp_auth'];
$mailer->Host=$result['server'];
//$mailer->Host='smtp.qq.com';
$mailer->SMTPSecure = "SSL";
//$mailer->Port = $result['server_port'];
$mailer->Username = $result['server_username'];//用户名
$mailer->Password = $result['server_password'];//密码
$mailer->From = $result['from_email_field'];//发件人
$mailer->FromName = '珍岛市场部';
$email_accountmailflag='';//邮件是否发送成功
$email_reason='';//失败的原因
$email_sendtime='';//发送邮件的时间
$mailaccountid='';//更新发送状态记录ID;
//退订提示

foreach($result2 as $value){
    if(checkEmails(trim($value['email1']))){
        $mailer->ClearAddresses();
        $mailer->AddAddress($value['email1'], '');//收件人的地址
        $mailer->WordWrap = 100;
        $mailer->IsHTML(true);
        //$mailer->addembeddedimage('./logo.jpg', 'logoimg', 'logo.jpg');
        $mailer->Subject = $arr[$value['sendmailid']]['subject'];
        //加入乱字符开始
        $b=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('b','c','a','f','m','n','t','o','x','q'),$value['mailaccountid']);
        $c=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('ba','cd','af','df','dm','cdn','fdt','sso','ewx','ayq'),$value['mailaccountid']);
        $a=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('sed','dwe','sss','ddss','derwm','werw','ghjy','ttrosso','ffs','mnbv'),$value['mailaccountid']);
        //结束
        $readid=base64encode($value['mailaccountid']);
        $account=base64encode($value['mailaccountid']);
        $unsubscribe='';
        /*if($arr[$value['sendmailid']]['inorout']=='outer'){
            $unsubscribe='<table width="570" border="0" cellspacing="0" cellpadding="0" style="font-size:12px; line-height:22px; color:#5b5b5b;">
            <tbody><tr><td align="left"> 您之所以收到这封邮件，是因为您是我们的客户。<br>本邮件由上海珍岛系统自动发出，请勿直接回复！<br> 如果您不愿意继续接收到此类邮件，请点击 <a href="http://192.168.40.40/123.php?account='.$account.'">退订本类邮件</a>。<br></td></tr></tbody></table>';
        }*/
        $mailer->ClearAttachments();//清除附件或图片
        $tempbody=$arr[$value['sendmailid']]['body'];
        preg_match_all("/<img(.*)(src=\"[^\"]+\")[^>]+>/isU",  $tempbody, $arrArray);
        $path=dirname(__FILE__);
        $path=rtrim($path,'cron');
        $site_URL='http://192.168.1.3';
        for($i=0;$i<count($arrArray[2]);++$i){
            //如果图片匹配不到将以附件发送,去掉匹配不到的图片,网络地址不过滤看一下是存http
            if(stripos($tempbody,$arrArray[2][$i])&&!stripos($arrArray[2][$i],'http')){
                $img=rtrim(substr($arrArray[2][$i],strrpos($arrArray[2][$i],'/image')+1),'"');
                $mailer->addembeddedimage($path.'ueditor/php/upload/'.$img,'myimg'.$i);
                $tempbody= str_replace($arrArray[2][$i],'src="cid:myimg'.$i.'"',$tempbody);
            }
        }
        $body='<table cellpadding="0" cellspacing="0" broder="0"  background="'.$site_URL.'/read.php?readid='.$readid.'"></table>';
        $mailer->Body = $body.$tempbody.$unsubscribe;
        $mailer->AltBody = '无法显示邮件';//不去持HTML时显示
        $email_flag=$mailer->Send()?'send':'fail';
        $msg=$email_flag=='fail'?'发送失败':'';
        $datetime=date('Y-m-d H:i:s');
        $email_accountmailflag.="when {$value['mailaccountid']} then '{$email_flag}' ";
        $email_reason.="when {$value['mailaccountid']} then '{$msg}' ";
        $email_sendtime.="when {$value['mailaccountid']} then '{$datetime}' ";
        sleep(1);
    }else{
        $datetime=date('Y-m-d H:i:s');
        $email_accountmailflag.="when {$value['mailaccountid']} then 'fail' ";
        $email_reason.="when {$value['mailaccountid']} then '邮箱错误' ";
        $email_sendtime.="when {$value['mailaccountid']} then '{$datetime}' ";
    }
    $mailaccountid.=$value['mailaccountid'].',';
}
$mailaccountid=rtrim($mailaccountid,',');
$datetime=date('Y-m-d H:i:s');
$sql="UPDATE vtiger_sendmail SET email_flag='sender',sendtime='{$datetime}' WHERE sendmailid IN ({$ids})";
$adb->pquery($sql,array());
$sql="UPDATE vtiger_mailaccount SET email_flag=CASE mailaccountid {$email_accountmailflag} END,reason=CASE  mailaccountid {$email_reason} END,sendtime=CASE mailaccountid {$email_sendtime} END WHERE mailaccountid IN({$mailaccountid})";
$adb->pquery($sql,array());

function checkEmails($str){
    $regex = '/^[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&\'*+\/=?^_`{|}~-]+)*@(?:[-_a-z0-9][-_a-z0-9]*\.)*(?:[a-z0-9][-a-z0-9]{0,62})\.(?:(?:[a-z]{2}\.)?[a-z]{2,})$/i';
    if (preg_match($regex, $str)) {
        return true;
    }
    return false;
}
function base64encode($v){
    //加入乱字符开始
    $b=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('b','c','a','f','m','n','t','o','x','q'),$v);
    $c=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('ba','cd','af','df','dm','cdn','fdt','sso','ewx','ayq'),$v);
    $a=str_replace(array(0,1,2,4,5,6,7,8,9,3),array('sed','dwe','sss','ddss','derwm','werw','ghjy','ttrosso','ffs','mnbv'),$v);
    $d=md5('AccountsiD');
    $e=md5('Useridstrunlandorgnetcomcn');
    //结束
    return base64_encode($a.$d.$b.$e.$c);
}

