<!DOCTYPE HTML>
<html>
<head>
    <title>添加账号</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="static/css/weui.min.css" />
    <link rel="stylesheet" href="static/css/jqueryui/jquery-weui.min.css" />
    <link rel="stylesheet" href="static/css/example.css" />
    <link rel="stylesheet" href="static/css/tyunwebbuyservice.css" />
    <link rel="stylesheet" href="static/css/jqueryui/iconfont.css" />
    <link  href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
<body  style="background: #F4F4F4;">
<input type="hidden" name="modcommentsid" value="{$modcommentsid}" />
<input id="recordId" name="recordId" type="hidden" value="{$recordId}" />
<input id="count"  type="hidden"  value="{$count}"  />
<div>
    <div style="background: #626199;color:white;border-top: 0px;">
        <div style="float: right;width: 20%; text-align: right;padding-right:10px;padding-top: 7px;"><i style="font-size: 22px;" class="iconfont icon-baocun"></i></div>
        <div style="width: 60%;float:right;font-size: 1.2em;font-weight: bold;min-height: 1.1em;text-align: center;display: block;padding: .6em  0 ;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;outline: 0 !important;">添加账号</div>
        <div  style="float: right;width: 20%;"><span style="margin-top: 7px;margin-left: 7px;background: none;border:none;color: white;font-size: 15px;font-weight: bold;width: 21px;height: 21px;background: url('../../static/img/returnback.png') no-repeat;overflow: hidden;background-size:cover;" type="button" class="btn btn-default"  onclick="javascript :history.back(-1);"></span></div>
        <div style="clear: both;"></div>
    </div>
    <div class="weui-cells weui-cells_form">
        <div class="weui-cell">
            <div class="weui-cell__hd" style="padding-top: 8px;" ><label for="idaccount" class="weui-label" style="font-weight: normal;"  ><span style="font-size: 15px;font-weight: bold;">账户ID：</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="idaccount" onkeyup="this.value=this.value.replace(/\s+/g,'')" name="idaccount" style="font-size: 15px;" type="text" value="" placeholder="请输入账号ID">
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd" style="padding-top: 8px;" ><label for="accountplatform" class="weui-label" style="font-weight: normal;"  ><span style="font-size: 15px;font-weight: bold;" >账户名称：</span></label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" id="accountplatform" name="accountplatform" type="text" value=""  style="font-size: 15px;"  placeholder="请输入账户名称">
            </div>
        </div>
    </div>
</div>
<div id="weui-loadmore" class="weui-loadmore" style="display: none;">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
</div>
</body>
</html>
<script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
<script src="./js/jqueryweui/jquery-weui.min.js"></script>
<script type="text/javascript" src="static/js/watermark.js"></script>
<script>
   $("body").on('click','.icon-baocun',function () {

       var idaccount=$("#idaccount").val();
       var accountplatform=$("#accountplatform").val();
       var recordId=$("#recordId").val();
       if(idaccount==''){
           $.toast("账户ID不能为空!");
           return false;
       }
       $.ajax({
           url:'index.php?module=AccountPlatform&action=addAccountPlatform',
           type:'POST',
           data: {
               recordId:recordId,
               idaccount:idaccount,
               accountplatform:accountplatform
           },
           success:function(data){
               data=$.parseJSON(data);
               if(data.success){
                   window.location.href="index.php?module=AccountPlatform&action=accountPlatformList&id="+recordId;
               }else{
                   $.toast(data.message);
               }
           }
       });
   });
</script>