tr
	{mso-height-source:auto;
	mso-ruby-visibility:none;}
col
	{mso-width-source:auto;
	mso-ruby-visibility:none;}
br
	{mso-data-placement:same-cell;}
ruby
	{ruby-align:left;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	border:none;
	mso-protection:locked visible;
	mso-style-name:씪좭;
	mso-style-id:0;}
.font8
	{color:red;
	font-size:10.0pt;
	font-weight:700;
	font-style:normal;
	text-decoration:none;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.font9
	{color:windowtext;
	font-size:9.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;}
td
	{mso-style-parent:style0;
	padding-top:1px;
	padding-right:1px;
	padding-left:1px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:풻稻
	mso-generic-font-family:auto;
	mso-font-charset:134;
	mso-number-format:General;
	text-align:general;
	vertical-align:middle;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;}
.xl67
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl68
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:1.0pt solid windowtext;}
.xl69
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:1.0pt solid windowtext;}
.xl70
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:1.0pt solid windowtext;}
.xl73
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:top;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl74
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	vertical-align:top;
	border:1.0pt solid windowtext;
	white-space:normal;}
.xl75
	{mso-style-parent:style0;
	color:black;
	font-size:10.5pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	border:1.0pt solid windowtext;}
.xl76
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	vertical-align:top;
	border:1.0pt solid windowtext;}
.xl77
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:left;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;}
.xl79
	{mso-style-parent:style0;
	font-size:10.0pt;
	font-family:풕턼환쥌, sans-serif;
	mso-font-charset:134;
	text-align:center;
	border:1.0pt solid windowtext;
	background:white;
	mso-pattern:black none;
	white-space:normal;}
