<!DOCTYPE HTML>
<html>
<head>
		<title>获取T云激活码</title>
		{include file="header.html"}
		<link href="static/css/jquery.mobile-1.3.0.min.css" rel="stylesheet" type="text/css" />
		<link href="static/css/mobiscroll.custom-2.5.0.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
		<script src="static/js/jquery.form.js"></script>
        <script src="static/js/select2.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <style type="text/css">
    html,body{
    	height:100%;
    }
.rowFrame{
	overflow-y:auto;
	    min-height: 50%;
}
        *{
            text-shadow:none;
        }
        .ui-page{
        height:100%;
        }

        .footer{
        	position: absolute;
        	bottom:0
        }
        .close{
        	color:#fff;
        	text-shadow:0 1px 0 #000;
        	opacity: 1;
        }
        .add-visit label{
        	width: 27%;
        }
        .add-visit .input-box{
        	width: 71%;
        }
        .form-group{
        margin-bottom:10px;
        }

    </style>
</head>
<body>
<div class="container-fluid w fix rowFrame" style='padding-bottom:0'>
<!-- <div id='test'></div> -->
        <div class="row ">
            <form id='myForm2' onsubmit='return check()'  method="POST">
            <div class="add-visit">
                <div class="form-group fix">
                    <label class="">合同编号</label>
                    <div class="input-box">
                    	<input type="hidden" id="contractid" name="contractid" value="" >
                        <div class="input-group">
                           <input type="text" data-toggle="popover" data-placement="bottom" placeholder="建议输入合同编号后四位"
                                  data-content="合同编号不能为空" id="contractname_display"  name="contractname_display" class="form-control keyInput">
                           <span class="input-group-btn">
                              <input type="button" id='search1' class="btn btn-default" value="搜索">
                              <!-- <input type="button" id='scanQRCode' class="btn btn-default" value="扫一扫"> -->
                           </span>
                        </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>客户名称</label>
                    <div class="input-box">
                    	<input type="hidden" id="customerid" name="customerid" value="" >
                    	<div class="input-group">
                        	<input type="text" data-toggle="popover" data-placement="bottom" data-content="客户名称不能为空" id="customername_display" name="customername_display" class="form-control keyInput">
                        	<span class="input-group-btn">
                        		<input type="button" id='search2' class="btn btn-default" value="搜索">
                        	</span>
                        </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>代理商标识码</label>
                    <div class="input-box">
                        <input type="number" data-toggle="popover" data-placement="bottom" data-content="代理商标识码不能为空" id="agents" name="agents"  value="{if $userid eq 199}10642{else}{$agents}{/if}" class="form-control"  readonly="true">
                    </div>
                </div>
                <div class="form-group fix">
                    <label>年限</label>
					<div class="input-box">
						<select id="productlife" name="productlife" class="form-control" onchange="pl(this.options[this.options.selectedIndex].value);">
							<option value='1' selected>一年</option>
							<option value='2'>二年</option>
							<option value='3'>三年</option>
							<option value='4'>四年</option>
							<option value='5'>五年</option>
							<option value='6'>六年</option>
							<option value='7'>七年</option>
							<option value='8'>八年</option>
							<option value='9'>九年</option>
							<option value='10'>十年</option>
						</select>
						<input type="hidden" id="plpre" value="1">
					</div>
                </div>
                <div class="form-group fix">
                    <label>产品版本</label>
                    <div class="input-box">
                       <select id="productid" name="productid" class="form-control" onchange="pi(this.options[this.options.selectedIndex].value);">
							<option value='fb01732e-4296-11e6-ad98-00155d069461' selected>T-云系列V(首购)</option>
							<option value='fafdc07c-4296-11e6-ad98-00155d069461'>T-云系列V1(首购)</option>
							<option value='fb016797-4296-11e6-ad98-00155d069461'>T-云系列V2(首购)</option>
							<option value='fb016866-4296-11e6-ad98-00155d069461'>T-云系列V3(首购)</option>
							<option value='eb472d25-f1b1-11e6-a335-5254003c6d38'>T-云系列V3Plus(首购)</option>
							<option value='fb0174bf-4296-11e6-ad98-00155d069461'>T-云系列V5(首购)</option>
							<option value='ad0bee9e-516f-11e6-a2ff-52540013dadb'>T-云系列V6(首购)</option>
							<option value='eb480f94-f1b1-11e6-a335-5254003c6d38'>T-云系列V8(首购)</option>
							<option value='a36a9cac-516f-11e6-a2ff-52540013dadb'>发布宝(首购)</option>
						</select>
						<input type="hidden" id="pipre" value="fb01732e-4296-11e6-ad98-00155d069461">
                    </div>
                </div>
                 <div class="form-group fix">
                    <label>签到地址</label>
                    <div class="input-box">
                    <div class="input-group">
						<span class="input-group-btn">
                        	<input type="button" id='signdd' class="btn btn-default" onclick="mymodals();" value="签到">
                        </span>
                        <input type="text" data-toggle="popover" data-placement="bottom" data-content="签到地址不能为空" id="sign_address" name="sign_address" class="form-control">
                        <span class="input-group-btn">
                        	<input type="button" id='signe' class="btn btn-default" onclick="mymodal();" value="签到">
                        </span>
                    </div>
                    </div>
                </div>
                <div class="form-group fix">
                    <label>客户手机号码</label>
                    <div class="input-box">
						<div class="input-group">
                        	<input type="number" data-toggle="popover" data-placement="bottom" data-content="客户手机号码不能为空" id="mobile" name="mobile" class="form-control">
                        	<span class="input-group-btn">
                        		<input type="button" class="btn btn-default" id="sendVerify" onclick="settime(this);" value="发送验证码">
                        	</span>
                        </div>
                        <div>
                        	<span style="color:red">激活码将与此手机号码绑定，请与客户确认。</span>
                        </div>
					</div>
                </div>
                <div class="form-group fix">
                    <label >手机验证码</label>
					<div class="input-box">
						<input type="hidden" id="isMobile" value="0">
                    	<div class="input-group">
                        	<input type="number" data-toggle="popover" data-placement="bottom" data-content="手机验证码不能为空" id="auth_code" name="auth_code" class="form-control" onkeyup="checkAuthCode();">
                        	<span class="input-group-btn" style="font-size:10px;">
                        		<font id="isCorrect">&nbsp;</font>
                        	</span>
                        </div>
                    </div>
                </div>
                <div class="confirm tc">
                        <input type="button" id='dosave' class="btn" data-toggle="popover" data-placement="top"
                        data-content="正在获取激活码,请稍等…" value="获取激活码">
                </div>
                <div class="confirm tc" id="showActiveCode"></div>

            </div>
        	</form>

        </div>

        {*include file="footer.html"*}
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">地址签到</h4>
                </div>
                <div class="modal-body">
                <div class="confirm tc">
                <input type="hidden" id="lang">
			    <input type="hidden" id="ress" >
				<div class="container-fluid" id="XS">
					<div>
						<div id="container" style="width:98%; height:400px">{include file="qqmap.html"}</div>
					</div>
			        <div class="confirm tc confirm2">
			            <input  type="hidden" id="address" readonly  style="width: 100%; margin: auto;">
			        </div>
			        <input  id="position" type="hidden">
			        <div class="confirm tc confirm2" style="position: fixed;bottom: 45px;right: 0px;width: 104px;">
			            <button class="btn" id="sign" onclick="sign()">签到</button>
			        </div>

				</div>
				</div>
				</div>
            </div>
        </div>
    </div>
	<div class="modal fade" id="myModals">
        <div class="modal-dialog">
            <div class="modal-content">
            	<div class="modal-header">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">地址签到</h4>
                </div>
                <div class="modal-body">
                <div class="confirm tc">

				<div class="container-fluid">
					<div>
						<div id="containers" style="width:98%; height:400px"></div>
					</div>

			        <div class="confirm tc confirm2" style="position: fixed;bottom: 45px;right: 0px;width: 104px;">
			            <button class="btn" id="signdd" onclick="sign()">签到</button>
			        </div>

				</div>
				</div>
				</div>
            </div>
        </div>
    </div>


	<script type="text/javascript">
	var Height = window.innerHeight;
	$('.rowFrame').css('height',Height+'px')
        window.addEventListener('message', function(event) {
            // 接收位置信息，用户选择确认位置点后选点组件会触发该事件，回传用户的位置信息
            var loc = event.data;
			if(loc.module=='locationPicker'){
				$('#address').val(loc.poiaddress);
				$('#position').val(loc.latlng.lng+'***'+loc.latlng.lat);
				//console.log('location', loc);
			}
        }, false);
		  function sign(){
	        if($('#address').val()&&$(position).val()){
	            $adname = $('#address').val();//获取地址
	            $adcode = $('#position').val();//获取位置
	            //$id = $('#record').val();
	            $("#sign_address").val($adname);
	            $('#myModal').modal('hide');
	            $('#myModals').modal('hide');
	          // console.log('index.php?module=VisitingOrder&action=dosign&id='+$id+'&adname='+$adname+'&adcode='+$adcode);
	            //window.location = 'index.php?module=VisitingOrder&action=dosign&id='+$id+'&adname='+$adname+'&adcode='+$adcode;
	        }else{
	            Tips.alert({
	                content: '地址不能为空'
	            });
	        }
    	}
	</script>
{literal}
 <script>
 var countdown=60;
 function settime(obj){
		var mobile = $("#mobile").val();
		if(mobile == ''){
			Tips.alert({
			    content: '手机号码不能为空'
			});
			return false;
		}
		var reg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;
		if (!reg.test(mobile)) {
			Tips.alert({
			    content: '手机号码填写有误'
			});
		    return false;
		}
		if(countdown == 60){
			sendMobileVerify(mobile);
		}

		if(countdown == 0){
			obj.removeAttribute("disabled");
			obj.setAttribute("class", 'btn btn-default');
			obj.value="发送验证码";
			countdown = 60;
			return ;
		}else{
			obj.setAttribute("disabled", true);
			obj.setAttribute("class", 'btn btn-default');
			obj.value="重新发送(" + countdown + ")";
			countdown--;
		}
		setTimeout(function() {
			settime(obj) },1000);

	}

 	function sendMobileVerify(mobile){
 		$.ajax({
	         url: "/index.php?module=ActivationCode&action=ajaxGetMobileVerify&mobile="+mobile,
	         type: 'GET',
	         dataType: 'json',
	         success: function (data) {
	         	if(!data.success){
	         		Tips.alert({
	            	    content: data.msg,
	            	});
	         	}
	         }
	     });
 	}


         $(function () {
            // 下拉框加载
            $(".select2").select2({
                width: '100%',
                height: 100
            });

            $('#search1').on('click', function () {
                var o = $('#contractname_display');
                var ov = o.val();
                var op = o.parent();
                var sb = [];
                if('' == ov){
                	Tips.alert({
                	    content: '合同编号不能为空',
                	});
                	return;
                }
                o.next('ul').remove();
                $('.delefalg').remove();
                var dheight=$(document).height();
                dheight=dheight*0.5;
                oul = op.append('<ul class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;"></ul>');

                if (ov) {
                    op.addClass('keyBox');
                    $.ajax({
                        url: '/index.php?module=ActivationCode&action=searchContract&contract_no='+ov,
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            if (data && data.length > 0) {
                                for (var i = 0;i<data.length; i++) {
                                	//console.log(data[i].item.servicecontracts_no);alert(data[i]['servicecontracts_no']);
                                     var item2=data[i];
                                     var nArr = item2.contract_no;
                                     var nid = item2.servicecontractsid;
                                     var oli=op.children('ul');
                                    oli.append("<li onclick='select_id1(\""+nArr+"\", \""+nid+"\" )'>" + nArr + '</li>');

                                }

                            }else{
                            	Tips.alert({
                            	    content: '找不到合同编号',
                            	    define:'确定',
                            	    after:function(){
                            	    	$("#contractname_display").val('');
                            	    	$("#contractid").val('');
                            	    }
                            	});

                            }
                        }
                    });
                }
            });

        });
        blankFixExt('keyInput', 'keyText');
        function blankFixExt(node, targetNode) {
            $(document).bind('click', function (e) {
                var o = "." + node + ",." + node + " *";

                if (!$(e.target).is(o)&& (e.target.id)!='search1') {
                    $('.' + targetNode).hide();
                }
            });
         }
        function select_id1(id, cid){
        	$("#contractid").val(cid);
        	$("#contractname_display").val(id);
        }

        $('#search2').on('click', function () {
            var o = $('#customername_display');
            var ov = o.val();
            var op = o.parent();
            var sb = [];
            if('' == ov){
            	Tips.alert({
            	    content: '客户名称不能为空',
            	});
            	return;
            }
            o.next('ul').remove();
            $('.delefalg').remove();
            var dheight=$(document).height();
            dheight=dheight*0.5;
            oul = op.append('<ul id="keyText2" class="keyText delefalg" style="max-height:'+dheight+'px;overflow:auto;"></ul>');

            if (ov) {
                op.addClass('keyBox');
                $.ajax({
                    url: '/index.php?module=Accounts&action=searchAccount&company='+ov,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        if (data && data.length > 0) {
                            for (var i = 0;i<data.length; i++) {
                                 var item2=data[i];
                                 var nArr = item2.value;console.log(nArr)
                                 var oli=op.children('ul');
                                oli.append("<li onclick='select_id2("+item2.id+")'>" + nArr + '</li>');

                            }
                          $("#keyText2").show();
                        }else{
                        	Tips.alert({
                        	    content: '找不到客户',
                        	    define:'确定',
                        	    after:function(){
                        	    	$("#customername_display").val('');
                        	    	$("#customerid").val('');
                        	    }
                        	});
                        }
                    }
                });
            }
        });

        function select_id2(id){
            var idval = id;
            $.ajax({
                url: "/index.php?module=Accounts&action=getAccountMsg&id="+id,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if(data==''){
                        Tips.alert({
            			    content: '客户信息不全'
            			});
                        return false;
                    }
                    //$('#destination').val(data.address);
                    $('#customerid').val(data.accountid);
                    //$('#contacts').val(data.linkname);
                    $('#customername_display').val(data.accountname);//$('#related_to_display').val(data.accountname);
                    //$('#customeraddress').val(data.customeraddress);
                }
            });
        }

        function checkAuthCode(){
        	var code = $("#auth_code").val();
        	var mobile = $("#mobile").val();
        	$.ajax({
                url: "/index.php?module=ActivationCode&action=checkAuthCode&code="+code,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if(data.success && mobile){
                        $("#isCorrect").html("√");
                        $("#isCorrect").css('color', 'green');
                        $("#isMobile").val('1');
                    }else{
                    	$("#isCorrect").html("×");
                        $("#isCorrect").css('color', 'red');
                        $("#isMobile").val('0');
                    }
                }
            });
        }

        function pl(val){
        	var str = '';
        	switch(val){
	    		case '1':
	    			str = '一年';
	    			break;
	    		case '2':
	    			str = '二年';
	    			break;
	    		case '3':
	    			str = '三年';
	    			break;
	    		case '4':
	    			str = '四年';
	    			break;
	    		case '5':
	    			str = '五年';
	    			break;
	    		case '6':
	    			str = '六年';
	    			break;
	    		case '7':
	    			str = '七年';
	    			break;
	    		case '8':
	    			str = '八年';
	    			break;
	    		case '9':
	    			str = '九年';
	    			break;
	    		case '10':
	    			str = '十年';
	    			break;
    		}

        	Tips.confirm({
                content: '您选择了' + str + '的服务时间',
                define: '确定',
                cancel: '取消',
                before: function(){
                },
                after: function(b){
                	if(b){
                		$("#plpre").val(val);
                	}else{
                		$("#productlife").val($("#plpre").val());
                	}
                }
            });
        }

        function pi(val){
        	var str = '';
        	switch(val){
	    		case 'fb01732e-4296-11e6-ad98-00155d069461':
	    			str = 'V';
	    			break;
	    		case 'fafdc07c-4296-11e6-ad98-00155d069461':
	    			str = 'V1';
	    			break;
	    		case 'fb016797-4296-11e6-ad98-00155d069461':
	    			str = 'V2';
	    			break;
	    		case 'fb016866-4296-11e6-ad98-00155d069461':
	    			str = 'V3';
	    			break;
	    		case 'eb472d25-f1b1-11e6-a335-5254003c6d38':
	    			str = 'V3 Plus';
	    			break;
	    		case 'fb0174bf-4296-11e6-ad98-00155d069461':
	    			str = 'V5';
	    			break;
	    		case 'ad0bee9e-516f-11e6-a2ff-52540013dadb':
	    			str = 'V6';
	    			break;
	    		case 'eb480f94-f1b1-11e6-a335-5254003c6d38':
	    			str = 'V8';
	    			break;
	    		case 'a36a9cac-516f-11e6-a2ff-52540013dadb':
	    			str = '发布宝';
	    			break;
    		}
        	Tips.confirm({
                content: '您选择' + str + '版本',
                define: '确定',
                cancel: '取消',
                before: function(){
                },
                after: function(b){
                	if(b){
                		$("#pipre").val(val);
                	}else{
                		$("#productid").val($("#pipre").val());
                	}
                }
            });
        }
 </script>


	<script type="text/javascript">

			function check(){
				$('#contractid').popover('destroy');
				if(''==$('#contractid').val()){
                    $('#contractname_display').focus();
                    $("#contractname_display").val('');
                    $("#contractid").val('');
                    $('#contractname_display').popover("show");
                    $('.popover-content').css({"color":"red","fontSize":"12px"});
                    setTimeout("$('#contractname_display').popover('destroy')",2000);
					return false;
				}
                $('#customername_display').popover('destroy');
				if(''==$('#customerid').val()){
                    $('#customername_display').focus();
                    $("#customername_display").val('');
                    $("#customerid").val('');
                    $('#customername_display').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#customername_display').popover('destroy')",2000);
					return false;
				}
                $('#agents').popover('destroy');
				if(''==$('#agents').val()){
                    $('#agents').focus();
                    $('#agents').popover('show');
                    $('.popover-content').css("color",'red');
                    setTimeout("$('#agents').popover('destroy')",2000);
					return false;
				}
                /*$('#sign_address').popover('destroy');
				if(''==$('#sign_address').val()){
                    $('#sign_address').focus();
                    $('#sign_address').popover('show');
                    setTimeout("$('#sign_address').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}*/
				$('#mobile').popover('destroy');
				if(''==$('#mobile').val()){
                    $('#mobile').focus();
                    $('#mobile').popover('show');
                    setTimeout("$('#mobile').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}

				$('#auth_code').popover('destroy');
				if(''==$('#auth_code').val()){
                    $('#auth_code').focus();
                    $('#auth_code').popover('show');
                    setTimeout("$('#auth_code').popover('destroy')",2000);
                    $('.popover-content').css("color",'red');
					return false;
				}
				if('0' == $("#isMobile").val()){
					Tips.alert({
					    content: '验证码不正确'
					});
					return false;
				}
				return true;
			}
            $('#dosave').on('click', function() {
	            if(!check()){
	                    return false;
	                }
	            $('#dosave').removeAttr("id");//防止多次点击提交
	            $('#myForm2').ajaxSubmit({
	                type: 'post',
	                url:"/index.php?module=ActivationCode&action=ajaxGetSecreCode",
	                dataType :'json',
	                success: function(data) {
	                	if(data.success==1){
	                		Tips.alert({
	    					    content: '激活码已经与客户的手机号码绑定，激活时使用手机号码按操作指引即可'
	    					});

	                	}else{
	                		Tips.alert({
	    					    content: data.msg
	    					});
	                	}
	                },
	                error:function(){
	                	Tips.alert({
    					    content: 'error'
    					});
	                }
	            });
	            return false;
            });

			var cache = {};

            //禁用juqery mobile 加载自带的样式
            $(document).bind("mobileinit", function(){
                $.mobile.page.prototype.options.keepNative = "select, input, textarea, a,div,ul,li,span,button,form";
            });
            $("input").attr('data-role','none');
            $("select").attr('data-role','none');
            $("a").attr('data-role','none');
            //禁止a标签ajax跳转
            $("a").attr('data-ajax','false');
            $("div,ul,li,span").attr('data-role','none');

	</script>

    <script src="static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="static/js/moment.js"></script>
    <script src="static/js/daterangepicker.js"></script>


	<script src="static/js/jquery.mobile-1.3.0.min.js"></script>
<!--插件和原来的样式有点冲突重新加载一遍-->
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/mobiscroll.js"></script>

{/literal}
<script type="text/javascript">

wx.config({
    debug: false,
    appId: "{$signPackage['appId']}",
    timestamp: "{$signPackage['timestamp']}",
    nonceStr: "{$signPackage['nonceStr']}",
    signature: "{$signPackage['signature']}",
    jsApiList: ['scanQRCode','getLocation']
});
   wx.ready(function () {
// 1 判断当前版本是否支持指定 JS 接口，支持批量判断

		/* wx.checkJsApi({
		  jsApiList: [
			'getNetworkType',
			'previewImage'
		  ],
		  success: function (res) {
			alert(JSON.stringify(res));
		  }
		}); */

		$("#scanQRCode").click(function(){
			wx.scanQRCode({
			    desc: 'scanQRCode desc',
			    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
			    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
			    success: function (res) {
			       // 回调
			       var result = res.resultStr;//当needResult 为 1 时，扫码返回的结果
			       $.ajax({
		                url: "/index.php?module=ActivationCode&action=findContractNo&id="+result,
		                type: 'GET',
		                dataType: 'json',
		                success: function (data) {
		                	if(data && data.length > 0){
		                		$("#contractid").val(data.contractNo.servicecontractsid);//把值设置到框内
			                	$("#contractname_display").val(data.contractNo.contract_no);//把值设置到框内
		                	}else{
		                		Tips.alert({
                            	    content: '该份合同可能不属于你',
                            	    define:'确定',
                            	    after:function(){
                            	    	$("#contractname_display").val('');
                            	    	$("#contractid").val('');
                            	    }
                            	});
		                	}

		                },
		                error: function(e){
		                	$("#contractid").val("");
		                	$("#contractname_display").val("");
		                	Tips.alert({
	            			    content: e
	            			});
		                }
		            });
			    },
			    error: function(res){
			          if(res.errMsg.indexOf('function_not_exist') > 0){
			               Tips.alert({
	            			    content: '版本过低请升级'
	            			});
			          }
			     }
			});
		});
		wx.getLocation({
			type: 'gcj02',
			success: function (res) {

				var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
				var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
				var speed = res.speed; // 速度，以米/每秒计
				var accuracy = res.accuracy; // 位置精度
				var markUrl = "http://apis.map.qq.com/tools/locpicker?search=0&mapdraggable=0&type=1&key=YQSBZ-DN7WP-NWGDE-L7OWN-4ZYU2-GCBJU&referer=myapp&coord="+latitude+','+longitude;
				console.log(markUrl);
				console.log(markUrl);
				$('#containers').append('<iframe id="mapPage1" width="100%" height="100%" frameborder=0 src="'+markUrl+'"></iframe>');
				//$('#address').val(loc.poiaddress);
				//$('#position').val(latitude+'***'+longitude);

			},
			error:function(res){
			},
			cancel: function (res) {
				alert('用户拒绝授权获取地理位置');
			}
		});
	 }
	);
	wx.error(function (res) {
	  Tips.alert({
		    content: res.errMsg
		});
	});

	function openurl(type){
		if(type=='3'){
            window.location.href='index.php?module=ActivationCode&action=sign';
        }else if(type=='4'){
            //window.location.href= 'index.php?module=ActivationCode&action=picture&id='+$('#selectaccount').val();
        }
	}
    function mymodal(){
        //$('#selectaccount').val(accountid);
        $('#myModal').modal();
    }
	function mymodals(){
        //$('#selectaccount').val(accountid);
        $('#myModals').modal();
    }
</script>

</body>
</html>
