<!DOCTYPE HTML>
<html>
<head>
    <title>合同担保</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/weui.min.css" />
    <link rel="stylesheet" href="static/css/example.css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>

</head>
<body>
<div class="page__bd">
    {*<div class="weui-panel__hd">
        <a href="/index.php?module=ContractGuarantee&action=add"  class="weui-btn weui-btn_primary">添加合同担保</a>
    </div>*}
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
            {if !empty($list)}
            {foreach from=$list item=value name=wlist}
            {assign var=IMGMD value=$value['email']|md5}
                <a href="/index.php?module=ContractGuarantee&action=one&id={$value.id}" class="weui-media-box weui-media-box_appmsg">
                    <div class="weui-media-box__hd">
                        <img class="weui-media-box__thumb" src="{if isset($USERIMGS[$IMGMD])}{$USERIMGS[$IMGMD]}{else}../../static/img/trueland.png{/if}" alt="">
                    </div>
                    <div class="weui-media-box__bd">
                        <h4 class="weui-media-box__title">合同编号:{$value['contractid']}</h4>
                        <p class="weui-media-box__desc">客户:{$value['accountname']}</p>
                    </div>
                </a>
            {/foreach}
            <a href="javascript:;" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title"></h4>
                    <p class="weui-media-box__desc"></p>
                </div>
            </a>
            {else}
            <a href="javascript:void(0)" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb" src="../../static/img/trueland.png" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">没有要审核的合同担保</h4>
                    <p class="weui-media-box__desc">没有要审核的合同担保</p>
                </div>
            </a>
            {/if}
        </div>
    </div>
    <div class="weui-tabbar" style="position:fixed;">
        <a href="index.php?module=VisitingOrder&action=vlist" class="weui-tabbar__item weui-bar__item_on">
                    <span style="display: inline-block;position: relative;">
                        <img src="./static/img/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    </span>
            <p class="weui-tabbar__label">首页</p>
        </a>
        <a href="index.php?action=notice" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="./static/img/icon_tabbar.png" alt="" class="weui-tabbar__icon">
                    </span>
            <p class="weui-tabbar__label">消息</p>
        </a>
        <a href="index.php?action=mycrm" class="weui-tabbar__item">
            <img src="./static/img/icon_tabbar.png" alt="" class="weui-tabbar__icon">
            <p class="weui-tabbar__label">我的CRM</p>
        </a>
    </div>
</div>

<script src="./static/js/zepto.min.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
<script1 src="./static/js/example.js"></script1>
    <script type="text/javascript">
        $(function(){
            var $searchBar = $('#searchBar'),
                $searchResult = $('#searchResult'),
                $searchText = $('#searchText'),
                $searchInput = $('#searchInput'),
                $searchClear = $('#searchClear'),
                $searchCancel = $('#searchCancel');

            function hideSearchResult(){
                $searchResult.hide();
                $searchInput.val('');
            }
            function cancelSearch(){
                hideSearchResult();
                $searchBar.removeClass('weui-search-bar_focusing');
                $searchText.show();
            }

            $searchText.on('click', function(){
                $searchBar.addClass('weui-search-bar_focusing');
                $searchInput.focus();
            });
            $searchInput
                .on('blur', function () {
                    if(!this.value.length) cancelSearch();
                })
                .on('input', function(){
                    if(this.value.length) {
                        $searchResult.show();
                    } else {
                        $searchResult.hide();
                    }
                })
            ;
            $searchClear.on('click', function(){
                hideSearchResult();
                $searchInput.focus();
            });
            $searchCancel.on('click', function(){
                cancelSearch();
                $searchInput.blur();
            });
        });
        $(function(){
            $('.weui-navbar__item').on('click', function () {
                $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
            });
        });
    </script>

</body>
</html>