<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="header.html"}
	<script type="text/javascript" src="static/js/watermark.js"></script>
</head>
<body>
<div class="container-fluid w fix visit-list" style="padding-bottom:52px;">
    <div class="row">
        
        <div class="cont-box">
            <ul class="list">
                <li>公司名称：<span>{$accountDetail['accountname']}</span></li>
                <li class="fix"><div class="fl">公司属性：<span>{$accountDetail['customerproperty']}</span></div><div class="fr" style="max-width: 200px;overflow:hidden;white-space: nowrap;">信息来源：<span>{$accountDetail['leadsource']}</span></div></li>
                <li>公司地址：<span>{$accountDetail['address']}</span></li>
               <!-- <li class="fix"><div class="fl">签到图片:<span data-toggle="modal" data-target="#myModal1">{if $DETAIL['pictures']}{$DETAIL['pictures']['fieldname']}{/if}</span></div></li>-->
                <li class="fix"><div class="f1">主营业务：<span>{$accountDetail['business']}</span></div></li>
                <li class="fix"><div class="f1">业务推广区域：<span>{$accountDetail['businessarea']}</span></div></li>
                <li class="fix"><div class="f1">区域分区：<span>{$accountDetail['regionalpartition']}</span></div></li>
                <li class="fix"><div class="fl">联系人：<span>{$accountDetail['linkname']}</span></div><div class="fr" style="max-width: 200px;overflow:hidden;white-space: nowrap;">职位：<span>{$accountDetail['title']}</span></div></li>
                <li class="fix"><div class="fl">手机：<span>{$accountDetail['mobile']}</span></div><div class="fr" style="max-width: 200px;overflow:hidden;white-space: nowrap;">常用email：<span>{$accountDetail['email1']}</span></div></li>            </ul>
            <div class="remarks">备注：</div>
            <ul class="remarks-box" style="min-height: 60px;">
                <li>{$accountDetail['description']}</li>
            </ul>
        </div>
        {include file="footer.html"}
    </div>
</div>
<!--<script>
    $(function () {
        _scale = true
        if (_scale) {
            var width = window.screen.width || 640;
            var scale = width / 640;
            document.querySelector("meta[name=viewport]").setAttribute("content", "target-densitydpi=device-dpi,width=640,user-scalable='no',initial-scale=" + scale);
        }
    })
</script>-->
</body>
</html>
