<!DOCTYPE HTML>
<html>
<head>
    <title>客户跟进</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        {literal}
        *{
            text-shadow:none;
        }
        .sales_title_t{
            font-size: 12px;
            font-weight:bold;
        }
        .sales_info_div{
             font-size: 12px;

            margin-bottom: 8px;
        }
        .ui-btn{
            font-weight: normal;
        }
        textarea.ui-input-text { min-height: 70px;max-height: 70px;}
        #bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50);}
        .ui-page-theme-b .ui-btn:hover, html .ui-bar-b .ui-btn:hover, html .ui-body-b .ui-btn:hover, html body .ui-group-theme-b .ui-btn:hover, html head+body .ui-btn.ui-btn-b:hover{
            background-color:white;
            border-color:white;
            color:black;
        }
        .ui-page-theme-b .ui-btn, html .ui-bar-b .ui-btn, html .ui-body-b .ui-btn, html body .ui-group-theme-b .ui-btn, html head+body .ui-btn.ui-btn-b, .ui-page-theme-b .ui-btn:visited, html .ui-bar-b .ui-btn:visited, html .ui-body-b .ui-btn:visited, html body .ui-group-theme-b .ui-btn:visited, html head+body .ui-btn.ui-btn-b:visited{
            background-color:white;
            border-color:white;
            color:black;
        }
        {/literal}

    </style>
</head>
<body style="background: #F4F4F4;">

<div class="container-fluid w fix" id="demo-intro" data-role="page" style="background: #F4F4F4;">
    <div data-role="header" style="background: #626199;color:white;border-top: 0px;">
        <p style="margin:0 20%;font-size: 1em;min-height: 1.1em;text-align: center;display: block;margin: 0 10%;padding: .7em 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;outline: 0 !important;">{$accountName}</p>
        <a href="#demo-intro" data-rel="back" style="margin-top: 0.1em;top: .50em;border:none;background: none;color: white;text-shadow:none;box-shadow:none;padding: 1em 1em;background: url('../../static/img/returnback.png') no-repeat;overflow: hidden;background-size:cover;" data-transition="slide" class="ui-btn ui-btn-left ui-btn-icon-left"></a>
        <a href="index.php?module=Accounts&action=addAccount&accountID={$ACCOUNTID}" style="top: .80em;right: 0.6rem;background: none;border: none;box-shadow:none;color: #626199;text-shadow: none;padding: 0.9em 0.9em;background: url('../../static/img/newadd.png') no-repeat;overflow: hidden;background-size:cover;"  data-ajax="false" data-transition="slide" data-rel="back2" id="addRefillApplication" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-a ui-btn-right ui-btn-icon-right"></a>
    </div>
    <input id="accountId" type="hidden" value="{$ACCOUNTID}" />
    <div data-role="main" class="ui-content" style="padding: 0.5rem;padding-top: 1rem;padding-left: 1rem;">
        <div id="data_list" style="border-left:2px solid #64659B;padding-left: 0.5rem;">
            {foreach key=index item=COMMENT from=$COMMENTS}
                {if !empty($COMMENT) }
                <div style="background: white;margin-bottom: 20px;position: relative;box-shadow:2.5px 2.5px 4px  rgba(0,0,0,.5);padding: 5px 10px;border-radius:5px; ">
                    {if $index>0}
                    <div style="color: #64659B;position: absolute;top: -15px; left:-1.1rem;width: 16px;height: 16px;line-height: 16px;text-align:center;background-color:#64659B;border-radius: 50%;-moz-border-radius:50%;-webkit-border-radius:50%;background:#64659B;"><div style="width: 12px;height: 12px;line-height:12px;margin-top: 2px;margin-left: 2px;background:white;border: 0px;border-radius: 10px;font-size: 20px">·</div></div>
                    {else}
                    <div style="color: white;position: absolute;top: -15px; left:-17.2px;width: 16px;height: 16px;line-height: 16px;text-align:center;background-color:#64659B;border-radius: 50%;-moz-border-radius:50%;-webkit-border-radius:50%;font-size: 20px">·</div>
                    {/if}
                    <div style="border:1px solid #64659B;border-left: 3px solid #64659B;padding: 10px 5px;border-radius: 2px;" >
                        <div><span style="font-weight: bold;">跟进</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px;color: #64659B;">{$COMMENT['commentor']['last_name']}&nbsp;{$COMMENT['valueMap']['addtime']}</span></div>
                        <div><span style="font-size: 10px;color: #999;">跟进类型:{$COMMENT['valueMap']['modcommenttype']}&nbsp;意向度评估:{$COMMENT['valueMap']['accountintentionality']}&nbsp;联系人:{$COMMENT['valueMap']['lastname']}&nbsp;跟进方式：{$COMMENT['valueMap']['modcommentmode']}</span></div>
                        <div>
                            <span style="font-size: 13px;font-family: 'Times New Roman'">
                            {if $COMMENT['valueMap']['modcommenttype'] eq '首次客户录入系统跟进'}
                                {array('&nbsp;1*#*','#endl#2*#*','#endl#3*#*','#endl#4*#*','#endl#5*#*','#endl#6*#*','#endl#7*#*','#endl#8*#*','#endl#9*#*','#endl#10*#*')|str_replace:array(
                                '<b>1.客户资料来源&nbsp;:</b>',
                                '<br><b>2.客户语气态度&nbsp;:</b>',
                                '<br><b>3.是否了解过珍岛&nbsp;:</b>',
                                '<br><b>4.客户质量&nbsp;:<br>&nbsp; &nbsp;&nbsp;①注册时间&nbsp;: &nbsp;</b>',
                                '<b>&nbsp; &nbsp;&nbsp;注册资金&nbsp;: &nbsp;</b>',
                                '<b>&nbsp; &nbsp;&nbsp;法人还是股东&nbsp;: &nbsp;</b>',
                                '<br><b>&nbsp; &nbsp;&nbsp;②意向点&nbsp;:&nbsp;</b>',
                                '<br><b>&nbsp; &nbsp;&nbsp;③客户行业和产品&nbsp;: &nbsp;</b>',
                                '<br><b>5.本次未能邀约见面的原因&nbsp;:</b>',
                                '<br><b>6.预约下次电话的时间&nbsp;:</b> '
                                ):('&nbsp;'|cat:$COMMENT['valueMap']['commentcontent'])}
                            {elseif  $COMMENT['valueMap']['modcommenttype'] eq '首次拜访客户后跟进'}
                                {array('&nbsp;1*#*','#endl#2*#*','#endl#3*#*','#endl#4*#*','#endl#5*#*','#endl#6*#*','#endl#7*#*','#endl#8*#*','#endl#9*#*','#endl#10*#*','#endl#11*#*')|str_replace:array(
                                    '<b>1.公司规模，公司大概多少人&nbsp;:&nbsp;</b>',
                                    '<br><b>2.拜访的负责人/老板&nbsp;:&nbsp;</b>',
                                    '<br><b>3.拜访人性格描述&nbsp;:&nbsp;</b>',
                                    '<br><b>4.拜访人年龄阶段/老家哪里&nbsp;:&nbsp;</b>',
                                    '<br><b>5.客户目前的网络现状&nbsp;:&nbsp;</b>',
                                    '<br><b>6.客户问了哪些问题&nbsp;:&nbsp;</b>',
                                    '<br><b>7.整个面谈过程中，客户对那几个点比较感兴趣&nbsp;:&nbsp;</b>',
                                    '<br><b>8.关于我们谈判中给到客户方的信息&nbsp;:&nbsp;</b><br><b>&nbsp; &nbsp;&nbsp;①谈的什么产品/版本/年限&nbsp;:&nbsp;</b>',
                                    '<br><b>&nbsp; &nbsp;&nbsp;②给客户报价多少，是否提到优惠，如果提到了，提到的优惠是什么&nbsp;:&nbsp;</b>',
                                    '<br><b>&nbsp; &nbsp;&nbsp;③当时给客户介绍的案例是哪些&nbsp;:&nbsp;</b>',
                                    '<br><b>&nbsp; &nbsp;&nbsp;④客户没有当场签单的原因&nbsp;:&nbsp;</b>'
                                ):('&nbsp;'|cat:$COMMENT['valueMap']['commentcontent'])}
                            {else}
                                {"/(\\n+)/"|preg_replace:'<br>':$COMMENT['valueMap']['commentcontent']}
                            {/if}
                            </span>
                        </div>
                    </div>
                    {if !empty($COMMENT['jobalerts'])}
                    {foreach key=indexs item=COMMENTS from=$COMMENT['jobalerts'] }
                    <div style="border:1px solid #F0AD4E;border-left: 3px solid #F0AD4E;padding: 10px 5px;margin-top:5px;border-radius: 2px;" >
                        <div><span style="font-weight: bold;">评论</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px;color: #64659B;">{$COMMENTS['createdbyer']}&nbsp;{$COMMENTS['createdtime']}</span><span style="color: grey">&nbsp;意向度评估:{$COMMENTS['accountintentionality']}</span></div>
                        <div><span style="font-size: 11px;font-family: 'Times New Roman'">{$COMMENTS['modcommenthistory']}</span></div>
                    </div>
                    {/foreach}
                    {/if}
                    {if !empty($COMMENT['historyrecord'])}
                    {foreach key=indexs item=COMMENTS from=$COMMENT['historyrecord'] }
                        <div style="border:1px solid red;border-left: 3px solid red;padding: 10px 5px;margin-top:5px;border-radius: 2px;" >
                            <div><span style="font-weight: bold;">跟进提醒</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 12px;color: #64659B;">{$COMMENT['commentor']['last_name']}&nbsp;{$COMMENTS['createdtime']}</span></div>
                            <div><span style="font-size: 13px;font-family: 'Times New Roman'">主题:{$COMMENTS['subject']}</span></div>
                            <div><span style="font-size: 11px;font-family: 'Times New Roman'">提醒时间:{$COMMENTS['alerttime']}&nbsp;提醒人:{$COMMENTS['username']}&nbsp;提醒状态:{$alertstatus[$COMMENTS['alertstatus']]}&nbsp;类型:{$activitytype[$COMMENTS['activitytype']]}&nbsp;优先级:{$taskpriority[$COMMENTS['taskpriority']]}</span></div>
                            <div><span style="font-size: 11px;font-family: 'Times New Roman'">提醒内容:{$COMMENTS['alertcontent']}</span></div>
                        </div>
                    {/foreach}
                    {/if}
                    <div>
                        <button type="button" id="comment" style="width:auto;float:right;margin-left:10%; padding: .4em .5em;" onclick='openPopup("{$COMMENT.valueMap.modcommentsid}")' >评论</button><a href="index.php?module=Accounts&action=addAlert&accountID={$ACCOUNTID}&modcommentsid={$COMMENT.valueMap.modcommentsid}" data-ajax="false" data-transition="slide" data-rel="back2"><button  type="button" id="alertPeople" style="width: auto;float:right; padding: .4em .5em;" >提醒</button></a>
                        <div style="clear: both;"></div>
                    </div>
                </div>
                {/if}
            {/foreach}
        </div>
        {if empty($COMMENTS)}
        <div style="text-align: center;height: 100%;margin-top: 50%;">此客户还没有跟进记录哦！</div>
        {/if}

    <div data-role="popup" data-dismissible="false" id="refillApplication_examine_page_popup" >
        <div>正在提交...</div>
    </div>
    <div data-role="popup" data-dismissible="false" id="refillApplication_remarks_page_popup" >
        <div>备注信息不能为空</div>
    </div>

    <div id="bg"></div>
    <a href="#popupDialog" id="openPopup" data-rel="popup" data-position-to="window" data-transition="pop" class=""></a>
    <div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="width:90%;border: none;background: white;padding: 20px 20px;box-shadow:0 0 5px #3C3F41;">
        <div style="margin-bottom: 15px;">
            <table>
                <tr>
                    <td style="width: 15%"><span style="color: black;">跟进评论:</span></td>
                    <input type="hidden"  value=""  name="modcommentsid"/>
                    <td style="width: 70%">
                        <textarea  name="modcommenthistory" id="content" rows="4" style="overflow-y: visible;resize:none;height: 5em;box-shadow: none;background: white;color: black;font-size:15px;border: 1px solid #a69d9d;font-weight: unset;text-shadow:none;min-height: 5rem;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="width: 15%"><span style="color: black;">意向度评估:</span></td>
                    <td style="width: 70%">
                        <div class="input-box" style="background-color: white">
                            <select id="dropDown" class="form-control" name="accountintentionality">
                            {foreach key=index item=COMMENTtype from=$ACCOUNTINTENTIONALITY}
                            <option value="{$index}">{$COMMENTtype}</option>
                            {/foreach}
                        </select>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <button onclick="closePopup()" style="width: auto;margin-bottom: 0px;text-shadow:  0 0 0 ;float: right;width: 50px;padding: .4em  .5em;background: white;border: white;color: #333;">取消</button><button onclick="confirmPopupContent()"  style="width: auto;margin-bottom: 0px;text-shadow:  0 0 0 ;float: right;width: 50px;padding: .4em  .5em;margin-right: 20px;background: #ddd;border: white;color: #333;">确定</button>
            <div style="clear: both;"></div>
        </div>
        <a href="#"  id="closePopup"  data-rel="back" ></a>
    </div>
    <script type="text/javascript">
    {literal}
    function openPopup(id){
       $("#openPopup").click();
       $("input[name='modcommentsid']").val(id);
    }
    function closePopup(){
        $("#content").val("");
        $("#closePopup").click();
    }
    function confirmPopupContent(){
        var modcommentsid = $('[name=modcommentsid]').val();
        var modcommenthistory = $('[name=modcommenthistory]').val();
        /*if(modcommentsid == '' || modcommentsid==null){
            alert('出现异常退出重试');
            return false;
        }*/
        if(modcommenthistory == '' || modcommenthistory==null){
            alert('请填写评论内容！');
            return false;
        }
        var accountintentionality = $("select[name='accountintentionality']").val();
        $.ajax({
            url: "index.php?module=Accounts&action=followComment",
            data: {
                modcommentsid : modcommentsid,
                modcommenthistory : modcommenthistory,
                accountintentionality:accountintentionality,
            },
            type:'POST',
            dataType:'JSON',
            success: function (data) {
                console.log(data['success']);
                if(data['success']==1){
                    $("#closePopup").click();
                    alert("评论成功");
                    location.reload();
                }else{

                }
            },error:function(){
            }
        });
    }

    {/literal}

    </script>
</div>
</body>
</html>

