{foreach from=$list item=value name=wlist}


<li>
                        <a href="index.php?module=SalesDaily&action=one&id={$value.salesdailybasicid}" class="ui-btn ui-btn-icon-right ui-icon-carat-r">
                        <span style="font-size:12px;">
                            {$value.smownerid}&nbsp;&nbsp;{$value.dailydatetime}</span>
                        </a>
                    </li>

{/foreach}

<!-- <li>
    <a href="#">
    <span style="font-size:12px;">
        {$value.smownerid}&nbsp;&nbsp;{$value.dailydatetime}</span>
    </a>
</li> -->