<!DOCTYPE HTML>
<html>
<head>
    <title>销售日报详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        {literal}
        *{
            text-shadow:none;
        }
        .sales_title_t{
            font-size: 12px;
            font-weight:bold;
        }
        .sales_info_div{
             font-size: 12px;

            margin-bottom: 8px;
        }

        #bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50);}  
        {/literal}

    </style>
</head>
<body>

<div class="container-fluid w fix" id="demo-intro" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>日报详情</h1>
        <a href="#demo-intro" data-rel="back" data-transition="slide" id="daydealcancel" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        <a href="index.php?module=SalesDaily&action=goto_approval_ui&id={$id}" data-transition="slide" data-rel="back2" id="daydealclose" data-ajax="false" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-active ui-btn-right ui-icon-plus ui-btn-icon-right">批复</a>
    </div>

    <div data-role="main" class="ui-content">
        <div id="data_list"  data-role="collapsible-set">

                <div  class="selector" data-role="collapsible"  data-collapsed="false">
                    <h3>基本信息</h3>
                    <div class="sales_info_div">
                        <span class="sales_title_t">填写日期:</span>
                        {$data.basic.createdtime}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">日报日期:</span>
                        {$data.basic.dailydatetime} 
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">填写人员:</span>
                        {$data.basic.last_name} 
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">客户名称:</span>
                        {$data.basic.accountname} 
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">备　　注:</span>
                        {$data.basic.content} 
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">今日总结:</span>
                        {$data.basic.todaycontent} 
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">明日计划:</span>
                        {$data.basic.tommorrowcontent} 
                    </div>
                    
                </div>

                <div  class="selector" data-role="collapsible">
                    <h5 >每日新增40%客户</h5>
                    <ul data-icon="false"  data-role="listview" data-inset="true">
                    {foreach from=$data.foutnotv item=value name=wlist}
                            <li>
                                <a  href="#">
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">客户名称:</span>{$value.accountname}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">姓　　名:</span>{$value.linkname}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">手　　机:</span>{$value.mobile}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">职　　位:</span>{$value.title}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">拜访时间:</span>{$value.startdatetime}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">回访内容:</span>{$value.mcontent}
                                    </div>
                                </a>
                            </li>
                    {/foreach}
                    </ul>
                </div>

                <div  class="selector" data-role="collapsible">
                    <h5 >近期可成交的客户</h5> 
                    <ul data-icon="false"  data-role="listview" data-inset="true">
                        {foreach from=$data.candeal item=value name=wlist}
                        <li>
                            <a  href="#">
                                <div class="sales_info_div">
                                    <span class="sales_title_t">客户名称:</span>{$value.accountname}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">姓　　名:</span>{$value.contactname}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">手　　机:</span>{$value.mobile}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">职　　位:</span>{$value.title}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">产　　品:</span>{$value.productname}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">报　　价:</span>{$value.quote}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">首　付款:</span>{$value.firstpayment}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">已签合同:</span>{$value.issigncontract}
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>

                <div class="selector" data-role="collapsible">
                    <h5 >每日收款客户</h5>
                    <ul data-icon="false"  data-role="listview" data-inset="true">
                        {foreach from=$data.daydeal item=value name=wlist}
                        <li>
                            <a  href="#">
                                <div class="sales_info_div">
                                    <span class="sales_title_t">客户名称:</span>{$value.accountname}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">成交业务:</span>{$value.productname}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">市场价:</span>{$value.marketprice}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">成交金额:</span>{$value.dealamount}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">是否全款:</span>{$value.allamount}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">到款性质:</span>{$value.paymentnature}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">收款:</span>{$value.firstpayment}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">拜访次数:</span>{$value.visitingordercount}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">行业:</span>{$value.industry}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">拜访对象:</span>{$value.visitingobj}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">到账业绩:</span>{$value.arrivalamount}
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="selector" data-role="collapsible">
                    <h5 >次日拜访情况</h5>
                    <ul data-icon="false"  data-role="listview" data-inset="true">
                        {foreach from=$data.nextdayvisit item=value name=wlist}
                        <li>
                            <a  href="#">
                                <div class="sales_info_div">
                                    <span class="sales_title_t">客户名称:</span>{$value.arrivalamount}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">姓名:</span>{$value.contacts}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">是否老板:</span>{$value.title}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">第几次拜访:</span>{$value.visitingordernum}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">有陪访:</span>{$value.isvisitor}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">陪访者:</span>{$value.withvisitor}
                                </div>
                            </a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="selector" data-role="collapsible">
                    <h5 >批复信息</h5>
                    <ul data-icon="false"  data-role="listview" data-inset="true">
                        {if $data.approvalData neq "" }
                            {foreach from=$data.approvalData item=v}
                            <li>
                                <a  href="#">
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">批复　人:</span>{$v.create_last_name}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">批复时间:</span>{$v.createtime}
                                    </div>
                                    <div class="sales_info_div">
                                        <span class="sales_title_t">批复内容:</span>{$v.description}
                                    </div>
                                </a>
                            </li>
                            {/foreach}
                        {/if}
                    </ul>
                </div>
        </div>
        
   </div>
</div>


<!-- <div data-role="page" id="pifu-page" data-url="daydeal-page">
    <div data-role="header" data-position="fixed">
        <h1>日报批复</h1>
        <a href="#demo-intro" data-rel="back" id="pifucancel" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        
        
            <form method="post" action="demoform.php">
                <input type="hidden" name="relationid"/>
                <label for="daydealmarketprice">批复人</label>
                <input type="text" value="{$username}" disabled="disabled" class="form-control"/>
                <label for="daydealamount">批复日期</label>
                <input  type="text" value="{$nowtime}" disabled="disabled" class="form-control" data-clear-btn="true"/>
                <label for="daydealfirstpayment">批复内容</label>
                <textarea id="t_textarea" class="form-control"></textarea>
                <a href="javascript:void(0)" class="ui-btn a_submit">提交</a>
            </form>

    </div>
    <div data-role="popup" id="popupBasicform" >
        <div id="popupfrommsg">批复内容不能为空</div>
    </div>

    <div id="bg"></div>  
    <div data-role="popup" data-dismissible="false" id="popupSubmit" >
        <div id="mypopupfrommsg">正在提交...</div>
    </div>
</div> -->


<script type="text/javascript">


    {literal}
    $(function(){

        //$( ".selector" ).collapsible( "expand" );


    {/literal}
    {literal}   

        //遮罩层提示
        function mark(type) {
            if(type == 'show') {
                //加载一个遮罩层
                $("#popupSubmit").popup('open');
                document.getElementById("bg").style.display="block";  
                $('html,body').animate({scrollTop: '0px'}, 100);
                $('#bg').bind("touchmove",function(e){  
                    e.preventDefault();  
                });
            } else {
                $("#popupSubmit").popup('close');
                document.getElementById("bg").style.display="none";  
            }
        };
        $('.goto_pifu').click(function() {
            $('input[name=relationid]').val($(this).attr('data-id'));
        });



        $('.a_submit').click(function () {
            var textarea = $('#t_textarea').val();
            var relationid = $('input[name=relationid]').val();
            if (!textarea) {
                $("#popupBasicform").popup('open');
                return;
            }
            
            $.ajax({ 
                url: "index.php?module=SalesDaily&action=approval", 
                context: document.body, 
                data: {
                    description : textarea,
                    relationid : relationid
                },
                dataType : 'json',
                beforeSend:function() {
                    mark('show');
                },
                success: function(){
                    //mark('none');
                    $("#mypopupfrommsg").html('批复成功');
                    setTimeout(function() {
                        window.location.href='index.php?module=SalesDaily&action=slist';
                    }, 1000);
                }
            });
        });
    });


    {/literal}

</script>

</body>
</html>