{if !empty($list)}
{foreach from=$list item=value name=wlist}
<li>
    <a href="/index.php?module=ProductProvider&action=one&id={$value.productproviderid}" data-transition="slide" style="line-height: 1.2;" class="gotoOne" data-ajax="false">
        <img src="{if isset($USERIMGS[$IMGMD])}{$USERIMGS[$IMGMD]}{else}../../static/img/trueland.png{/if}" style="max-height: 6.1em;max-width: 6.1em;height:97px;width: 97px;border: 1px solid #eee;border-radius:97px;overflow: hidden;">
        <p>客户:{$value.accountid}</p>
        <h2>&nbsp;</h2>
        <p>[{$value.smownerid}][{$modulestatus[$value.modulestatus]}]</p>
    </a>
</li>
{/foreach}
{/if}
<script type="text/javascript">
$(function(){
	$('#loading').attr("data-totalnum",{$totalnum});
});
</script>

{*<!-- <li>
    <a href="#">
    <span style="font-size:12px;">
        {$value.smownerid}&nbsp;&nbsp;{$value.dailydatetime}</span>
    </a>
</li> -->*}