{if !empty($detailList)}
    {foreach from=$detailList item=item name=wlist}
        <div class="weui-cell" style="height: 100px;" data-id="{$item['accountzh_detail_id']}" data-oldidaccount="{$item['idaccount']}" data-oldaccountzh="{$item['accountzh']}">
            <div class="weui-cell__hd"><img src=""></div>
            <div class="weui-cell__bd" >
                <div style="margin-bottom: 5px;">
                    <div style="float: left;width: 25%;"><p style="font-size: 15px;font-weight: bold;">账户ID:</p></div>
                    <div style="float: left;width: 75%;"><p id="idaccountText" style="font-size: 15px;" class="text" >{$item['idaccount']}</p><input type="text" style="display: none;margin-bottom: 1rem;" class="edit" id="idaccount" onkeyup="this.value=this.value.replace(/\s+/g,'')" name="idaccount" value="{$item['idaccount']}"/></div>
                    <div style="clear: both;"></div>
                </div>
                <div>
                    <div style="float: left;width: 25%;"><p style="font-size: 15px;font-weight: bold;">账户名称:</p></div>
                    <div style="float: left;width: 75%;"><p id="accountzhText" style="font-size: 15px;" class="text">{$item['accountzh']}</p><input type="text" style="display: none;" class="edit" id="accountzh" name="accountzh" value="{$item['accountzh']}"/></div>
                    <div style="clear: both;"></div>
                </div>
                <!--<table style="table-layout: fixed;">
                    <tr>
                        <td style="height: 15px;"><p>账户ID:</p></td>
                        <td style="height: 15px;"><p id="idaccountText" class="text" >{$item['idaccount']}</p><input type="text" style="display: none;margin-bottom: 1rem;" class="edit" id="idaccount" name="idaccount" value="{$item['idaccount']}"/></td>
                    </tr>
                    <tr>
                        <td style="height: 15px;"><p>账户名称:</p></td>
                        <td style="height: 15px;"><p id="accountzhText" class="text">{$item['accountzh']}</p><input type="text" style="display: none;" class="edit" id="accountzh" name="accountzh" value="{$item['accountzh']}"/></td>
                    </tr>
                </table>-->
            </div>
            <div class="weui-cell__ft" style="font-size: 30px;">
                <div id="chuangzuo" class="chuangzuo"><i style="font-size: 25px;" class="iconfont icon-chuangzuo"></i></div>
                <div id="shanchu"   class="shanchu"><i style="font-size: 25px;" class="iconfont icon-shanchu"></i></div>
                <div id="baocun" class="baocun" style="display: none;"><i style="font-size: 25px;" class="iconfont icon-baocun"></i></div>
            </div>
        </div>
    {/foreach}
{/if}
