<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<title>{$title}</title>
		{include file="header.html"}
	<script type="text/javascript" src="static/js/watermark.js"></script>
</head>

<body>
	<div class="container-fluid" id="XS">
		<div class="row-fluid">
			<div class="span12">
				<div class="list-group">
					{foreach from=$list item=value}
						<div class="list-group-item">
						<h4 class="list-group-item-heading">
							{$value.accountname}
						</h4>
						<p class="list-group-item-text">
							负责人:{$value.smownerid}
						</p>
						<p class="list-group-item-text">
							最后跟进时间:{$value.lastfollowuptime}
						</p>
						<p class="list-group-item-text">
							地址:{$value.address}
						</p>
						</div>
						{foreachelse}
							没有 $list 数组
						{/foreach}

				</div>
			</div>
		</div>
	</div>
</body>
</html>