<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<title>我的crm</title>
		{include file="header.html"}
    <script src="static/js/dialog.js"></script>
    <link rel="stylesheet" href="static/css/dialog.css">
    <link href="static/font/iconfont.css" rel="stylesheet" />
    <style type="text/css">
        .icon-files:before{
            content: '';
            width: 24px;
            height: 28px;

        }
        .icon-copys:before{
            content: '';
            width: 24px;
            height: 28px;
        }
        .icon-credit-cards:before{
            content: '';
            width: 24px;
            height: 28px;
        }
        .icon-locks:before{
            content: '';
            width: 24px;
            height: 28px;
        }
        .icon-times:before{
            content: '';
            width: 24px;
            height: 28px;
        }


    </style>
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>

<body>

<div class="container-fluid w fix my-crm">
        <div class="row">
            
            <div class="logo"></div>
            <div class="tc nemo-text">{$lastname}</div>
            {*<div class="confirm tc">
                <button class="btn btn1" onclick = 'openurl(1)'><i class="icon-group"></i> 拜访单</button>
                <!-- <button class="btn btn2" onclick = 'openurl(2)'><i class="icon-file-alt"> 工作日报</i></button> -->
                <button class="btn btn2" onclick = 'openurl(2)'><i class="icon-file-alt">新建拜访单</i></button>
            </div>
            <div class="confirm tc">
                <button class="btn btn2" onclick = 'openurl(3)'><i class="icon-file-alt">新建客户</i></button>
                <button class="btn btn1" onclick = 'openurl(4)'><i class="icon-group">销售周报分析</i></button>
            </div>
            <div class="confirm tc">
				<button class="btn btn1" onclick = 'openurl(5)'><i class="icon-group">销售日报</i></button>
                <button class="btn btn2" onclick = 'openurl(6)'><i class="icon-file-alt">充值申请单</i></button>
            </div>
            
            <div class="confirm tc">
				<button class="btn btn2" onclick = 'openurl(7)'><i class="icon-code-fork">获取T云激活码</i></button>
                
				<button class="btn btn1" onclick = 'openurl(9)'><i class="icon-file-alt">合同延期审核</i></button>
            </div>
			
			<div class="confirm tc">
				<button class="btn btn1" onclick = 'openurl(8)'><i class="icon-file-alt">服务合同</i></button>
				<button class="btn btn2" onclick = 'openurl(12)'><i class="icon-file-alt">服务合同补充</i></button>
            </div>
			<div class="confirm tc">
				<button class="btn btn2" onclick = 'openurl(11)'><i class="icon-file-alt">采购合同</i></button>
				<button class="btn btn1" onclick = 'openurl(13)'><i class="icon-file-alt">采购合同补充</i></button>
            </div>*}
			<div class="nineblock">
                <ul class="fix">
                    <li>
                        <a href="index.php?module=VisitingOrder&action=add">
                            <span class="icon-folder-open"></span>
                            新建拜访单
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=VisitingOrder&action=allList">
                            <span class="icon-book"></span>
                            拜访单
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=Accounts&action=listAcound">
                            <!--<a href="index.php?module=Accounts&action=goaddAcoundUI">-->
                            <span class="icon-user"></span>
                            客户
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <a href="index.php?module=Salestaget&action=index">
                            <span class="icon-bar-chart"></span>
                            销售周报分析
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=SalesDaily&action=slist">
                            <span class="icon-calendar"></span>
                            销售日报
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=RefillApplication&action=index">
                            <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/RefillApplication.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            充值申请单
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <!--<a href="index.php?module=TyunBuyService&action=index">
                            <span class="icon-qrcode"></span>
                            T云服务购买
                        </a>-->
                        <a href="index.php?module=TyunWebBuyService&action=index">
                            <span class="icon-gift"></span>
                            T云线上服务购买
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=ServiceContracts&action=index">
                            <span class="icon-file"></span>
                            服务合同
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=ContractsAgreement&action=index">
                            <span class="icon-paste"></span>
                            服务合同补充
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <a href="index.php?module=TyunStationSale&action=add">
                            <span class="icon-shopping-cart"></span>
                            建站服务购买
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=SupplierContracts&action=index">
                            <span class="icon-file icon-files"  style='background: url("../../static/img/SupplierContracts.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            采购合同
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=SuppContractsAgreement&action=index">
                            <span class="icon-copy icon-copys" style='background: url("../../static/img/SuppContractsAgreement.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            采购合同补充
                        </a>
                    </li>
                </ul>
                <!--gaocl add 2018/04/10-->
                <ul class="fix">
                    <li>
                        <a href="index.php?module=ProductProvider&action=index">
                            <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/ProductProvider.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            媒体外采账户管理
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=ExtensionTrial&action=index">
                            <span class="icon-time icon-times" style='background: url("../../static/img/ExtensionTrial.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            合同延期审核
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=AccountPlatform&action=index">
                            <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/AccountPlatform.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            媒体账户管理
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <a href="index.php?module=Newinvoice&action=index">
                            <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/Newinvoice.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            发票（新）
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=ContractGuarantee&action=index">
                            <span class="icon-lock icon-locks" style='background: url("../../static/img/ContractGuarantee.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            合同担保
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=OaCode&action=index">
                            <span class="icon-user"></span>
                            假务
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <a href="index.php?module=ZhaopinNew&action=index">
                            <span class="iconfont">&#xe501;</span>
                            招聘
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=CarApplication&action=add">
                            <span class="glyphicon glyphicon-credit-card"></span>
                            用车申请
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=NegotiableSecurities&action=index">
                            <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/AccountPlatform.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            证券
                        </a>
                    </li>
                </ul>
				<ul class="fix">
                    <li>
                        <a href="index.php?module=Human&action=index">
                           <span class="icon-credit-card icon-credit-cards" style='background: url("../../static/img/human.png") no-repeat;overflow: hidden;background-size:cover;'></span>
                            人员
                        </a>
                    </li>
                    <li class="blockcenter">
                        <a href="index.php?module=AccountGuarantee&action=index">
                            <span class="icon-user"></span>
                            客户担保
                        </a>
                    </li>
					<li>
						<!--<a href="index.php?module=Yunxtang&action=index">
                            <span class="icon-user"></span>
                            珍岛大学
                        </a>-->
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                    </li>
                </ul>
            </div>		
            {include file="footer.html"}
        </div>
    </div>
   
   	<script>
        window.addEventListener('pageshow', function (event) {
            if(event.persisted || (window.performance && window.performance.navigation.type == 2) ||e.originalEvent.persisted){
                if(window.toasta!=undefined){
                    window.toasta.close();
                }
            }
        },false);

        $('a').click(function(){
            window.toasta =$(document).dialog({
                type : 'toast',
                infoIcon: '../static/images/icon/loading.gif',
                infoText: '页面跳转中...',
            });
            setTimeout("window.toasta.close()",5000)
            var href=$(this).attr('href');
            window.location.href=href;
            return false;
        });
   		function openurl(type){
   			if(type==1){
   				window.location.href='index.php?module=VisitingOrder&action=allList';
   			}
        if(type==2){
            window.location.href='/index.php?module=VisitingOrder&action=add';
        }
        if(type==3){
            window.location.href='/index.php?module=Accounts&action=goaddAcoundUI';
        }
        if(type==4){
            window.location.href='/index.php?module=Salestaget&action=index';
        }
		if(type==5){
            window.location.href='/index.php?module=SalesDaily&action=slist';
        }
        if(type==6){
            window.location.href='/index.php?module=RefillApplication&action=index';
        }
        if(type==7){
            window.location.href='/index.php?module=ActivationCode&action=add';
        }
        if(type==8){
            window.location.href='/index.php?module=ServiceContracts&action=index';
        }
		if(type==9){
            window.location.href='/index.php?module=ExtensionTrial&action=index';
        }
            if(type==10){
                window.location.href='/index.php?module=ActivationCode&action=tyunupgrade';
            }
			if(type==11){
                window.location.href='/index.php?module=SupplierContracts&action=index';
            }
            if(type==12){
                window.location.href='/index.php?module=ContractsAgreement&action=index';
            }
            if(type==13){
                window.location.href='/index.php?module=SuppContractsAgreement&action=index';
            }
   		}
   	</script>
	
</body>
</html>