<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<title>消息中心</title>
		{include file="header.html"}
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>

<body>


<div class="container-fluid w fix message">
        <div class="row">
           
            <div class="message-box">
                <ul class="fix">
                    <li>
                        <a href="index.php?module=VisitingOrder&action=unaudited">
                            <div class="circle"><img src="static/img/a3.png" /></div>
                            <div class="text">待办提醒<span>({$dgjsum})</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=VisitingOrder&action=pass">
                            <div class="circle"><img src="static/img/a4.png" /></div>
                            <div class="text">待审核列表<span>({$dshsum})</span></div>
                        </a>
                    </li>
                    <li>
                        <a href="index.php?module=Knowledge&action=notice">
                            <div class="circle"><img src="static/img/a5.png" /></div>
                            <div class="text">公告<span></span></div>
                        </a>
                    </li>
                </ul>
                <ul class="fix">
                    <li>
                        <a href="index.php?module=ExtensionTrial&action=getExtendedReminder">
                            <div class="circle"><img src="static/img/a5.png" /></div>
                            <div class="text">合同超期提醒<span></span></div>
                        </a>
                    </li>
                    <li>
                        {*<a href="index.php?module=VisitingOrder&action=pass">
                        <div class="circle"><img src="static/img/a4.png" /></div>
                        <div class="text">待审核提醒<span>({$dshsum})</span></div>
                    </a>*}
                    </li>
                    <li>
                        {*<a href="index.php?module=VisitingOrder&action=unaudited">
                        <div class="circle"><img src="static/img/a3.png" /></div>
                        <div class="text">待办提醒<span>({$dgjsum})</span></div>
                    </a>*}
                    </li>


                </ul>
            </div>
            {include file="footer.html"}
        </div>
    </div>

	
</body>
</html>