<!DOCTYPE HTML>
<html>
<head>
		<title>扫码登陆</title>
		{include file="header.html"}
        {literal}
    <style type="text/css">
    html,body{
    	height:100%;
    }
.rowFrame{
	overflow-y:auto;
	    min-height: 50%;
}
        *{
            text-shadow:none;
        }

        .add-visit label{
        	width: 27%;
        }
        .add-visit .input-box{
        	width: 71%;
        }
        .form-group{
        margin-bottom:10px;
        }
    </style>
    {/literal}
</head>
<body>

<div class="container-fluid w fix my-crm">
    <div class="row">

        <div style="height:150px;width:150px;margin: 10% auto 5% auto;background-size: 100% 100%;border: 1px solid #eee;border-radius:150px;overflow: hidden;"><img src="{$wximg}" style="height:150px;width:150px;"/></div>
        <div class="tc nemo-text">{$lastname}</div>
        <div class="confirm tc">
            <button class="btn btn2" id='doconfirm' data-type="confirm"> 单击确认</button>
        </div>
        <div class="confirm tc">
            <button class="btn btn1" id='docancel' data-type="cancel" >取消</button>
        </div>
    </div>
</div>
<script type="text/javascript">

    $('#doconfirm,#docancel').click(function(){
        var type=$(this).data('type');
        sendMobileVerify(type);
    });
 	function sendMobileVerify(type){
 		$.ajax({
	         url: "/index.php?module=QrcodeLogin&action=doset&loginid={$loginid}&status="+type,
	         type: 'GET',
	         success: function (data) {
	         	window.location.href="/index.php?module=VisitingOrder&action=vlist";
	         }
	     });
 	}
    $(function() {
        if (window.history && window.history.pushState) {
            $(window).on('popstate', function () {
                window.history.pushState('forward', null, '#');
                window.history.forward(1);
            });
        }
        window.history.pushState('forward', null, '#'); //在IE中必须得有这两行
        window.history.forward(1);
    })
 </script>
</body>
</html>