<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
		<title>服务合同延期审核</title>
		{include file="header.html"}
    <style type="text/css">
        *{
            text-shadow:none;
        }
		.select2 {
            width:100%;
            height:35px;
        }
    </style>
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>

<body>
    <div class="container-fluid w fix see-visit-list">
        <div class="row">
            <div class="tabs">
                <ul class="hd fix">
                    <li class="on">&nbsp;</li>
                    <li class="on">延期审核列表</li>
                    <li class="on">&nbsp;</li>
                </ul>
                <div class="bd" style="padding: 0;">
                    <ul class="ttt_list">
                        {if !empty($list)}
                        {foreach from=$list item=value}
                        {assign var=IMGMD value=$value['email']|md5}
                         <a href="/index.php?module=ExtensionTrial&action=one&id={$value.extensiontrialid}">
                         <li class="fix" style="border-bottom: 1px solid #ccc;{if $value@first}border-top: 1px solid #ccc;{/if}padding:5px 10px;margin-bottom: 0;position: relative;">
                            <div style="width:60px;height: 60px;display: inline-block;border: 1px solid #ccc;border-radius: 60px;margin-right:3px;overflow: hidden;"><img src="{if isset($USERIMGS[$IMGMD])}{$USERIMGS[$IMGMD]}{else}../../static/img/trueland.png{/if}" style="width:59px;height:59px;vertical-align: inherit;"></div>
                            <div style="display: inline-block;width: 70%;white-space: nowrap;font-size:18px;overflow: hidden;">
                            <div class="list">{$value.contract_no}</div>
                            <div class="list" style="font-size: 14px;">{$value.username} <span>[{$value.createdtime}]</span> </div>
                            </div>
                            <!--<div class="fr  doExtensionTrial" style="position: absolute;top:22%;right:10px;height: 46px;line-height: 46px;" data-toggle="modal" data-stagerecordid="{$value.salesorderworkflowstagesid}" data-id="{$value.extensiontrialid}"><span style="padding: 5px;border:1px solid #5EC4AB;background: #5EC4AB;border-radius: 2px;font-size: 12px;">审核</span></div>-->
                        </li>
                         </a>

                        {/foreach}
                        {else}
                        没有要审核的延期合同
                        {/if}
                    </ul>
                </div>
            </div>
            {include file="footer.html"}
        </div>
    </div>
</body>
<script type="text/javascript">
   $(function(){
        $('.doExtensionTrial').click(function(){
            var dataid=$(this).data('id');
            var stagerecordid=$(this).data('stagerecordid');
            Tips.confirm({
                content: '确认要审核吗?',
                define: '确定',
                cancel: '取消',
                before: function(){
                },
                after: function(b){
                    if(b){
                        $.ajax({
                            url: "index.php?module=ExtensionTrial&action=examine",
                            data: {
                                id : dataid,
                                stagerecordid:stagerecordid
                            },
                            type:'POST',
                            success: function(data){
                                if(data.result==null){
                                    window.location.reload();
                                }else if(data.result.success=="false"){
                                    alert("提示"+data.result.error.message);
                                    return false;
                                }
                            }
                        });
                    }else{
                    }
                }
            });
        });
   });
</script>
</html>