<!DOCTYPE HTML>
<html>
<head>
    <title>查看拜访订单</title>
    {include file="header.html"}
    <!--插件和原来的样式有点冲突重新加载一遍-->
    <link rel="stylesheet" href="static/css/dialog.css">
    <script src="static/js/bootstrap.min.js"></script>
    <style type="text/css">
    </style>
</head>

<body>
<div class="container-fluid w fix see-visit-list">
    <div class="row">
        <div class="list-head">
            <ul class="fix">
                <li style="width:20%;"><span onclick='openurl(2)' data-ajax="false">返回</span></li>
                <li style="width:60%;"><span>客户担保</span></li>
                <li style="width:20%;"><span onclick='openurl(1)' data-ajax="false">添加</span></li>
            </ul>
        </div>
        <div class="tabs">
            <div class="form-group fix" style="background-color:#e8ecf8;">
                <div class="input-box" id="searchcontent" style="margin-left:8px;margin-right:8px;">
                    <ul class="hd fix" style="padding: 8px 2px;">
                        <li style="font-size: 16px;width:100%;padding:0;">
                            <div style="position:relative;">
                                <div style="position:absolute;right:10px;top:2px;cursor:pointer;display:none;" class="input_clear">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="font-size:30px;">
                                        ×
                                    </button>
                                </div>
                                <input type="text" id="accountname" name="searchvalue" class="form-control" placeholder="请输入客户名称" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="confirm tc" style="padding:10px 0;">
                    <button id='dosearch' class="btn" style="width: 100%; padding: 5px 2px;font-size: 18px;border-radius: 2px;">查&nbsp;&nbsp;&nbsp;&nbsp;找</button>
                </div>
            </div>
            <div class="bd" style="padding: 0;">
                <ul class="ttt_list">

                </ul>
            </div>
        </div>
        <div id="loading" data-id="1" data-flag="2" class="loading" style="text-align: center;"></div>
        {include file="footer.html"}
    </div>
</div>
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">选择</h4>
            </div>
            <div class="modal-body">
                <div class="confirm tc">
                    <input type="hidden" id="selectaccount">
                    <button class="btn btn1" onclick='openurl(3)'>编辑</button>
                    <button class="btn delteddata">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openurl(type){
        if(type==1){
            window.location.href='index.php?module=AccountGuarantee&action=edit';
        }else if(type=='3'){
            if($('#selectaccount').val()){
                window.location.href='index.php?module=AccountGuarantee&action=edit&id='+$('#selectaccount').val();
            }else{
                alert('信息有误，请刷新后重试');
            }
        }else if(type=='2'){
            window.location.href="javascript:history.go(-1)";
        }
    }
    function mymodal(accountid){
        $('#selectaccount').val(accountid);
        $('#myModal').modal();
    }
</script>
<script type="text/javascript">
    {literal}
    $(function(){
        var $num = 1;//当前的页码
        var pageCount=0;
        var dataCount=0;
        var scrollflag=true;
        $(window).scroll(function(){
            //此方法是在滚动条滚动时发生的函数
            // 当滚动到最底部以上100像素时，加载新内容
            var $doc_height,$s_top,$now_height,dataid,dataflag;
            $doc_height = $(document).height();        //这里是document的整个高度
            $s_top = $(this).scrollTop();            //当前滚动条离最顶上多少高度
            $now_height = $(this).height();            //这里的this 也是就是window对象
            if(($doc_height - $s_top - $now_height) < 100 && pageCount==dataCount && pageCount>0 && scrollflag) {
                scrollflag=false;
                $num++
                jsonajax($num,0);
            }
            $('#loading').data("flag",1);
            if(pageCount!=dataCount && pageCount>0)$('#loading').html("没有了").show();
        });
        var ulWidth=$(".ttt_list").width();
        var contentWith=ulWidth-120;
        $('.content').css('width',contentWith);
        $('#dosearch').click(function(){
            if($('#accountname').val()==''){
                return false;
            }
            $num = 1;//当前的页码
            pageCount=0;
            dataCount=0;
            scrollflag=true;
            jsonajax($num,1);
        });
        jsonajax($num,0);
        function jsonajax(num,add){
            var widthwindow=$(window).width();
            var widthwindow=widthwindow-120;
            widthwindow=widthwindow<=0?'':'width:'+widthwindow+'px;';
            var accountname=$('#accountname').val();
            var toast6 = $(document).dialog({
                type : 'toast',
                infoIcon: '../static/images/icon/loading.gif',
                infoText: '数据获取中...',
            });
            $.ajax({
                url:'index.php?module=AccountGuarantee&action=getAccountGuaranteeData',
                type:'POST',
                data:{"pagenum":num,"searchfilename":accountname},
                dataType:'json',
                success:function(data){
                    scrollflag=true;
                    toast6.close();
                    if(data.success){
                        pageCount=data.pageCount;
                        dataCount=data.dataCount;
                        var item='';
                        $.each(data.data,function(key,value){
                            item += '<li class="fix" style="border-bottom: 1px solid #ccc;padding:5px 10px;margin-bottom: 0;position: relative;">\
                                <a href="index.php?module=AccountGuarantee&action=one&id='+value.accountrechargeguaranteeid+'" data-ajax="false" class="fl">\
                                <div style="width:60px;height: 60px;display: inline-block;border: 1px solid #ccc;border-radius: 60px;margin-right:3px;overflow: hidden;"><img src="../../static/img/trueland.png" style="width:59px;height:59px;vertical-align: inherit;"></div>\
                                <div class="content" style="display: inline-block;'+widthwindow+'white-space: nowrap;font-size:18px;overflow: hidden;text-overflow:ellipsis;">\
                                <div class="list" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;"><span>'+value.accountname+'</span></div>\
                            <div class="text" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:-5px;">\
                            <div><span>一级担保人:'+value.username+'</span>，'+value.unitprice+'</div>\
                            </div>\
                            <div class="text" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-top:-5px;">\
                            <div><span>二级担保人:'+value.twousername+'</span>，'+value.twounitprice+'</div>\
                            </div>\
                            </div>\
                            </a>\
                            <div class="fr" style="position: absolute;top:22%;right:10px;display:flex;justify-content: center;align-content: center;" data-toggle="modal"  onclick=mymodal('+value.accountrechargeguaranteeid+')><i class="iconfont icon-jia-tianchong" style="font-size:40px;color:#5ec4ab;"></i></div>\
                            </li>';
                        });
                        if(add==1){
                            $('.ttt_list').empty();
                        }
                        $('.ttt_list').append(item);
                    }else{
                        $('.ttt_list').text("没有相关数据");
                    }
                }
            });
        }
        $('body').on('click','.delteddata',function(){
            Tips.confirm({
                content: '确定要删除该记录吗?',
                define: '确定',
                cancel: '取消',
                before: function(){
                },
                after: function(b){
                    if(b){
                        var toast6 = $(document).dialog({
                            type : 'toast',
                            infoIcon: '../static/images/icon/loading.gif',
                            infoText: '数据处理中...',
                        });
                        var selectaccount=$('#selectaccount').val();
                        $.ajax({
                            url:'index.php?module=AccountGuarantee&action=deleteAccountGuaranteeData',
                            type:'POST',
                            data:{"accountrechargeguaranteeid":selectaccount},
                            dataType:'json',
                            success:function(data){
                                toast6.close();
                                if(data.success){
                                    window.location.reload();
                                }else{
                                    Tips.alert({
                                        content: data.msg
                                    });
                                }
                            }
                        });
                    }else{
                    }
                }
            });
        })
        $("input").focus(function(){
            $(this).parent().children(".input_clear").show();
        });
        $("input").blur(function(){
            if($(this).val()=='')
            {
                $(this).parent().children(".input_clear").hide();
            }
        });
        $(".input_clear").click(function(){
            $(this).parent().find('input').val('');
            $(this).hide();
            $num = 1;//当前的页码
            pageCount=0;
            dataCount=0;
            scrollflag=true;
            jsonajax($num,1);
        });
    });
    {/literal}
</script>
<script src="static/js/dialog.js"></script>

</body>
</html>