<!DOCTYPE HTML>
<html>
<head>
    <title>添加申请拜访单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        {literal}
        input[disabled], input[readonly],input{
            background-color: #eee;
            opacity: 1;
        }
        .t_label{
            padding: 5px 0 0px 0;
        }
        #bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50);}  
        {/literal}
    </style>
</head>
<body>

<div class="container-fluid w fix" id="demo-intro" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>添加充值申请单</h1>
        <a href="index.php?module=RefillApplication&action=index" data-transition="slide" id="main_page_back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>

    <div data-role="main" class="ui-content">
        <form method="post" id="main_page_form"  onsubmit='return main_check()' data-ajax="false">

            <div class="confirm tc">
                <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">提 交</button>
            </div>

            <label class="t_label select">申请单类型:</label>
            <div class="input-box">
                <select  id="refillapplicationtype" name="rechargesource" class="form-control" >
                    <option value="Accounts" selected>媒体充值</option>
                    <option value="Vendors">媒体充值(外采)</option>
                </select>
            </div>

            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h3>基本信息</h3>
            <div class="ui-field-contain">
                <label for="servicecontractsid" class="t_label"><span style="color:red;">*</span>服务合同:
                    <a href="#servicecontracts-page" style="float:right; margin-right: 10px;">选择</a>
                </label>
                <input type="text"   readonly="readonly" name="servicecontractsid_dispaly" id="servicecontractsid_dispaly">
                <input type="hidden" check="notEmpty"  check-msg="服务合同不能为空"  name="servicecontractsid" id="servicecontractsid">


                <label for="accountid" class="t_label"><span style="color:red;">*</span>客户:
                    <!--<a href="#account-page" style="float:right; margin-right: 10px;">选择</a>-->
                </label> 
                <input type="text" readonly="readonly"  name="accountid_dispaly" id="accountid_dispaly">
                <input type="hidden"  name="accountid" id="accountid" check="notEmpty" check-msg="客户不能为空" >

                <label class="t_label select">客户类型:</label>
                <div class="input-box">
                    <!--<select  id="customertype" name="customertype" class="form-control" >
                        <option value="ChannelCustomers" selected>渠道</option>
                        <option value="StraightCustomers">直客</option>
                    </select>-->
                    <input type="text" name="customertype_display" id="customertype_display" value="" readonly="readonly">
                    <input type="hidden" name="customertype" id="customertype" value="">
                </div>

               <!-- <label class="t_label select">客户来源属性:</label>
                <select name="customeroriginattr" id="customeroriginattr" class="form-control">
                    <option value="free" selected>自有</option>
                    <option value="nonfree">非自有</option>
                </select>-->

                <label class="t_label select">是否签订合同:</label>
                <input type="text" name="iscontracted_display" id="iscontracted_display" value="" readonly="readonly">
                <input type="hidden" name="iscontracted" id="iscontracted" value="">
                <!--<select name="iscontracted" id="iscontracted" class="form-control" readonly="readonly">
                    <option value="off" selected>否</option>
                    <option value="on" >是</option>
                </select>-->

                <label class="t_label select" for="servicesigndate">合同签订日期:</label>
                <input type="date" name="servicesigndate" id="servicesigndate" value="" readonly="readonly">
                <div id="paymentperiodshow">
                <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
                <select name="paymentperiod" id="paymentperiod" class="form-control">
                    <option value="payfirst" >现付款</option>
                    <option value="postpayment">后付款</option>
                </select>
                </div>
                <label class="t_label select">流程状态:</label>
                <select name="flow_state"  class="form-control">
                    <option value="Normal" selected>正常</option>
                    <option value="QuickCharge">快充（已打款未匹配合同）</option>
                </select>
                <label class="t_label select">申请类型:</label>
                <select name="receivedstatus"  class="form-control">
                    <option value="normal" selected>正常充值</option>
                    <option value="virtualrefund">赠款充值</option>
                </select>
                <label class="t_label select" for="expcashadvances">垫款预计回款日期:</label>
                <input type="date" name="expcashadvances" id="expcashadvances" value="">

                <label class="t_label select" >合同垫款金额:</label>
                <input type="number" name="grossadvances" id="grossadvances" value="" step="0.01">

                <label class="t_label select" >使用回款总额:</label>
                <input type="number" name="totalrecharge" id="totalrecharge" value="" readonly="readonly">

                <label class="t_label select" >应收款总额:</label>
                <input type="number" name="actualtotalrecharge" id="actualtotalrecharge" value="" readonly="readonly">

                <div id="div_totalpayable" style="display: none">
                <label class="t_label select" >应付款总额:</label>
                <input type="number" name="totalreceivables" id="totalreceivables" value="" readonly="readonly">
                </div>

                <label class="t_label select" >合同金额:</label>
                <input type="number" name="contractamount" id="contractamount" value="" readonly="readonly">

                <label for="remarks" class="t_label">备注</label>
                <textarea name="remarks" id="remarks" rows="5" class="form-control" 
                          data-content=""></textarea>

                <br/>
                <div>
                    <ul data-role="listview" id="fileList" data-inset="true">
                    </ul>
                    <a href="javascript:;" id="chooseImage">上传附件</a>
                    <input type="hidden" name="fileupload" id="files"/>
                    <div data-role="popup" id="popupPhotoPortrait" class="photopopup" data-overlay-theme="b" data-theme="a" data-tolerance="15,15" class="ui-content">
                        <iframe src="/static/img/logo.png" width="100%" height="100%" seamless id="imgIframe"></iframe>
                    </div>
                    <a  href="#popupPhotoPortrait" id="popupPhotoshow"  data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="fade" style="display:none;"></a>
                </div>

                {*<a href="#" class="uploadfile">上传附件</a>
                <input type="file" name="fileupload" id="file" style="display: none;"/>*}

                <!--<ul data-role="listview" id="filevalues" data-inset="false">
                        
                </ul>
                <br/>
                <div data-role="main" style="overflow:hidden;" role="banner" class="ui-header ui-bar-inherit ui-corner-all">
                    <h1 class="ui-title" role="heading" aria-level="1">充值明细</h1>
                    <a href="#detail-page" data-icon="plus" id="goto-detail-page" class="ui-btn-right ui-link ui-btn ui-icon-plus ui-btn-icon-right ui-shadow ui-corner-all" data-role="button" role="button">&nbsp;</a>

                    <ul data-role="listview" id="rechargesheet" data-inset="true">
                      &lt;!&ndash; <li data-icon="delete"><a  href="#detail-page" class="rechargesheet_edit" >11111</a><a href="javascript:void(0)" class="rechargesheet_delete">data-icon="delete"</a>
                      </li> &ndash;&gt;
                    </ul>

                </div>

                <div class="confirm tc">
                    <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">提 交</button>
                </div>-->
            </div>
            </div>

            <!-- 回款明细栏 -->
            <div  id="div_receivedpayments_list" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <!--<h3>回款明细</h3>-->

                <!--<div class="ui-collapsible-content ui-body-inherit ui-collapsible-content-collapsed" aria-hidden="true">
                    <h3>回款明细11</h3>
                </div>-->
               <!--<div id="div_receivedpayments_list" data-role="collapsible"  data-collapsed="true">
              
            </div>-->

            </div>

            <!-- 供应商基本信息栏 -->
            <div id="div_vendors_info" data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="display: none">
                <h3>供应商信息</h3>
                <label class="t_label"><span style="color:red;">*</span>供应商:
                    <a href="#vendor-page" style="float:right; margin-right: 10px;">选择</a>
                </label>
                <input type="text"   readonly="readonly" name="vendorid_display" id="vendorid_display">
                <input type="hidden" check="notEmpty" check-msg="供应商不能为空"  name="vendorid" id="vendorid">

                <label class="t_label select" ><span style="color:red;">*</span>开户行:</label>
                <input type="text" name="bankaccount" id="bankaccount" value="" readonly="readonly" check="notEmpty" check-msg="开户行不能为空" >

                <label class="t_label select" ><span style="color:red;">*</span>开户名:</label>
                <input type="text" name="bankname" id="bankname" value="" readonly="readonly" check="notEmpty" check-msg="开户名不能为空" >

                <label class="t_label select" ><span style="color:red;">*</span>银行账户:</label>
                <input type="text" name="banknumber" id="banknumber" value="" readonly="readonly" check="notEmpty" check-msg="银行账户不能为空" >
            </div>

            <!-- 充值明细栏 -->
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h3 ><span id="sp_detail_name">充值明细</span>
                    <a style="background-color: #3c80b8;color: white;padding: 15px 20px;" data-icon="plus" id="goto-detail-page" class="ui-btn-right ui-link ui-btn ui-icon-plus ui-btn-icon-right ui-shadow ui-corner-all" data-role="button" role="button"></a>
                </h3>
                <!--<div data-role="main" style="overflow:hidden;" role="banner" class="ui-header ui-bar-inherit ui-corner-all">

                    <a href="#detail-page" data-icon="plus" id="goto-detail-page" class="ui-btn-right ui-link ui-btn ui-icon-plus ui-btn-icon-right ui-shadow ui-corner-all" data-role="button" role="button">&nbsp;</a>
                </div>-->
               <!-- <div  class="selector" data-role="collapsible"  data-collapsed="false">
                    <h3>充值合计</h3>
                </div>-->
                <!--<div  class="selector" data-role="collapsible"  data-collapsed="false">
                    <h3>充值明细(1)<a href="javascript:void(0)" class="ui-btn ui-btn-icon-notext ui-icon-delete"></a></h3>
                </div>
                <div  class="selector" data-role="collapsible"  data-collapsed="false">
                    <h3>充值明细(2)</h3>
                </div>
                <div  class="selector" data-role="collapsible"  data-collapsed="false">
                    <h3>充值明细(3)</h3>
                </div>-->
                <ul data-role="listview" id="rechargesheet" data-inset="false">
                    <!--<li data-icon="delete"><a  href="#detail-page-account" class="rechargesheet_edit" >11111</a><a href="javascript:void(0)" class="rechargesheet_delete">data-icon="delete"</a>
                    </li>
                    <li data-icon="delete"><a  href="#detail-page-account" class="rechargesheet_edit" >2222</a><a href="javascript:void(0)" class="rechargesheet_delete">data-icon="delete"</a>
                    </li>
                    <li data-icon="delete"><a  href="#detail-page-account" class="rechargesheet_edit" >33333</a><a href="javascript:void(0)" class="rechargesheet_delete">data-icon="delete"</a>
                    </li>
                    <li data-icon="delete"><a  href="#detail-page-account" class="rechargesheet_edit" >444444</a><a href="javascript:void(0)" class="rechargesheet_delete">data-icon="delete"</a>
                    </li>-->
                </ul>

            </div>
            <div class="confirm tc">
                <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">提 交</button>
            </div>
        </form>
    </div>

    <div data-role="popup" id="main_page_popup" >
        <div></div>
    </div>
    <div data-role="popup" data-dismissible="false" id="main_page_popup_submit" >
        <div>正在提交...</div>
    </div>
</div>


<div data-role="page" id="servicecontracts-page" data-url="servicecontracts-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择服务合同</h1>
        <a href="#demo-intro" data-rel="back" id="servicecontracts-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        <!-- <a href="javascript:void(0)" data-rel="back2" id="servicecontracts_page_close" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-active ui-btn-right ui-icon-plus ui-btn-icon-right">保存</a> -->
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="servicecontracts_page_form">
            <label for="search_servicecontracts" class="t_label">服务合同:
                <a href="javascript:void(0)" id="servicecontracts_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_servicecontracts" id="search_servicecontracts" placeholder="输入合同编号或客户名称">
        </form>

        <ul data-role="listview" id="servicecontracts_list" data-inset="true">
            <!-- <li><a href="javascript:void(0)" class="servicecontracts_list_li"></a></li> -->
        </ul>
        <div id="servicecontracts_list_display" style="display:none;">没有搜到到服务合同，请输入客户名称或者合同编号</div>
        
    </div>

    
    <div data-role="popup" data-dismissible="false" id="servicecontracts_page_popup" >
        <div>正在提交...</div>
    </div>
</div>

<div data-role="page" id="vendor-page" data-url="vendor-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择供应商</h1>
        <a href="#demo-intro" data-rel="back" id="vendor-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="vendor_page_form">
            <label for="search_servicecontracts" class="t_label">供应商:
                <a href="javascript:void(0)" id="vendors_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_vendors" id="search_vendors" placeholder="输入供应商编号或供应商名称">
        </form>

        <ul data-role="listview" id="vendor_list" data-inset="true">
        </ul>
        <div id="vendor_list_display" style="display:none;">没有搜到到供应商，请输入供应商名称</div>

    </div>


    <div data-role="popup" data-dismissible="false" id="vendor_page_popup" >
        <div>正在提交...</div>
    </div>
</div>
<div data-role="page" id="vendor-servicecontracts-page" data-url="vendor-servicecontracts-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择供应商合同</h1>
        <a href="#demo-intro" data-rel="back" id="vendor-servicecontracts-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="vendor-servicecontracts-page_form">
            <label for="search_servicecontracts" class="t_label">供应商合同:
                <a href="javascript:void(0)" id="vendor-servicecontracts-page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_vendor_servicecontracts" id="search_vendor_servicecontracts-page" placeholder="输入供应商合同编号或供应商名称">
        </form>

        <ul data-role="listview" id="vendor_servicecontracts-page_list" data-inset="true">
        </ul>
        <div id="vendor_servicecontracts_list_display" style="display:none;">没有搜到到供应商合同，请输入供应商名称或者供应商合同编号</div>

    </div>


    <div data-role="popup" data-dismissible="false" id="vendor_servicecontracts_page_popup" >
        <div>正在提交...</div>
    </div>
</div>

<!--<div data-role="page" id="account-page" data-url="account-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择客户</h1>
        <a href="#demo-intro" data-rel="back" id="account-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <form name="account_page_form" id="servicecontracts_page_form">
            <label for="search_account" class="t_label">客户:
                <a href="javascript:void(0)" id="account_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_account" id="search_account">
        </form>

        <ul data-role="listview" id="account_list" data-inset="true">
            &lt;!&ndash; <li><a href="javascript:void(0)" class="servicecontracts_list_li"></a></li> &ndash;&gt;
        </ul>
        
    </div>

    
    <div data-role="popup" data-dismissible="false" id="account_page_popup" >
        <div>正在搜索...</div>
    </div>
</div>-->

<!-- 客户充值(客户) -->
<div data-role="page" id="detail-page-account" data-url="detail-page-account" source="">
    <div data-role="header" data-position="fixed">
        <h1>充值明细(客户)</h1>
        <a href="#demo-intro" data-rel="back" id="detail-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        <a href="javascript:void(0)" data-rel="back2" id="detail_page_close" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-active ui-btn-right ui-icon-plus ui-btn-icon-right">保存</a>
    </div>
    <div role="main" class="ui-content">
        <form name="detail_page_form" id="detail_page_form">
            <input type="hidden" name="num" value="">
            <input type="hidden" name="supprebate" value="">
            <label for="did" class="t_label"><span style="color:red;">*</span>平台账户ID:
                <a href="#did-page" style="float:right; margin-right: 10px;">选择</a>
            </label>
            <input type="text"   readonly="readonly" name="did_display_hide" id="did_display_hidedid">
            <input type="hidden" check="notEmpty"  check-msg="平台账户ID不能为空"  name="did" id="did">
            <!--<label for="did"  class="t_label select"><span style="color:red;">*</span>平台账户ID:</label>
            <select name="did" class="filterable-select"  data-native-menu="false" id="did" onchange="set_return_accountplatform_info()">
            </select>-->
            <input type="hidden" name="did_display_hide" id="did_display_hide">


            <label for="accountzh" class="t_label" style="display: inline;">账户名称:</label>
            <input type="text" name="accountzh" id="accountzh" readonly="readonly">

            <label class="t_label"><span style="color:red;">*</span>媒体平台:</label>
            <input type="text" name="productid_display" id="productid_display" readonly="true">
            <input type="hidden" name="productid" id="productid">

            <label class="t_label select">客户来源属性:</label>
            <!--<select name="customeroriginattr" id="customeroriginattr" class="form-control">
                <option value="free" selected>自有</option>
                <option value="nonfree">非自有</option>
            </select>-->
            <input type="text" name="customeroriginattr_display" id="customeroriginattr_display" readonly="true">
            <input type="hidden" name="customeroriginattr" id="customeroriginattr">

            <label >有无服务:</label>
            <!--<select name="isprovideservice" id="isprovideservice"class="form-control">
                <option value="off" selected>无</option>
                <option value="on">有</option>
            </select>-->
            <input type="text" name="isprovideservice_display" id="isprovideservice_display" readonly="true">
            <input type="hidden" name="isprovideservice" id="isprovideservice">

            <label class="t_label select"><span style="color:red;">*</span>充值类型:</label>
            <select name="rechargetypedetail" id="rechargetypedetail" class="form-control">
                <option value="renew" >续费</option>
                <option value="OpenAnAccount" selected>开户</option>
            </select>
            <label class="t_label select"><span style="color:red;">*</span>供应商类型:</label>
            <select name="rebatetype" id="rebatetype" class="form-control">
                <option value="" >请选择类型</option>
                <option value="CashBack">返现</option>
                <option value="GoodsBack">返货</option>
            </select>
            <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
            <select name="accountrebatetype" id="accountrebatetype" class="form-control">
                <option value="" >请选择类型</option>
                <option value="CashBack" >返现</option>
                <option value="GoodsBack">返货</option>
            </select>

            <label class="t_label select">货币类型:</label>
            <select name="receivementcurrencytype" class="form-control" id="receivementcurrencytype">
                <option value="人民币" selected>人民币</option>
                <option value="美金">美金</option>
                <option value="日元">日元</option>
                <option value="欧元">欧元</option>
            </select>

            <label for="exchangerate" class="t_label">汇率:</label>
            <input type="number" name="exchangerate" check="number" check-msg="汇率不能为空且为数字" value="1.0" id="exchangerate">

            <label for="prestoreadrate" class="t_label"><span style="color:red;">*</span>充值账户币:</label>
            <input type="number" step="0.01" name="prestoreadrate" check="notEmpty,number" check-msg="必填,且充值账户币格式要正确" id="prestoreadrate" readonly="true">

            <label for="rechargeamount" class="t_label"><span style="color:red;">*</span>现金充值:</label>
            <input type="number" name="rechargeamount"  check="notEmpty,number" check-msg="必填,且现金充值格式要正确" id="rechargeamount" readonly="true">

            <label for="discount" class="t_label"><span style="color:red;">*</span>返点(%):</label>
            <input type="number" name="discount"  id="discount" check="notEmpty,number" check-msg="必填,且返点格式要正确"  max="100" readonly="true">

            <label class="t_label">税点:</label>
            <select name="tax" class="form-control" id="tax" >
                <option value="6%" selected>6%</option>
                <option value="17%">17%</option>
            </select>

            <label for="factorage" class="t_label"><span style="color:red;">*</span>代理商服务费:</label>
            <input type="number" name="factorage" check="notEmpty,number" check-msg="必填,且代理商服务费格式要正确" id="factorage">

            <label for="activationfee" class="t_label"><span style="color:red;">*</span>开户费:</label>
            <input type="number" name="activationfee" check="notEmpty,number" check-msg="必填,且开户费格式要正确" id="activationfee">

            <label for="taxation" class="t_label"><span style="color:red;">*</span>税费:</label>
            <input type="text" name="taxation" check="notEmpty,number" check-msg="必填,且税费格式要正确" id="taxation">

            <label for="totalcost" class="t_label">合计费用:</label>
            <input type="text" name="totalcost" check="number" check-msg="合计费用格式不正确" id="totalcost" readonly="true" readonly="true">

            <label for="transferamount" class="t_label"><span style="color:red;">*</span>应收款金额:</label>
            <input type="text" name="transferamount" check="notEmpty,number" check-msg="必填,且应收款金额格式要正确" id="transferamount" >

            <label for="servicecost" class="t_label">成本:</label>
            <input type="text" name="servicecost" check="number" check-msg="成本格式不正确" id="servicecost" readonly="true">

            <label for="totalgrossprofit" class="t_label">毛利总计:</label>
            <input type="text" name="totalgrossprofit" check="number" check-msg="毛利总计格式不正确" id="totalgrossprofit" readonly="true">

            </form>
    </div>
    <div data-role="popup" id="popupBasicform" >
        <div id="popupfrommsg"></div>
    </div>
</div>
<div data-role="page" id="did-page" data-url="did-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择平台账户ID</h1>
        <a href="#demo-intro" data-rel="back" id="did-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="did_page_form">
            <label for="search_servicecontracts" class="t_label">平台账户ID:
                <a href="javascript:void(0)" id="did_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_did" id="search_did" placeholder="平台账户ID">
        </form>

        <ul data-role="listview" id="didpagelist" data-inset="true">
        </ul>
        <div id="did_list_display" style="display:none;">没有搜到到平台账户ID</div>

    </div>


    <div data-role="popup" data-dismissible="false" id="did_page_popup" >
        <div>正在提交...</div>
    </div>
</div>
<!-- 采购明细(供应商) -->
<div data-role="page" id="detail-page-vendors" data-url="detail-page-vendors" source="">
    <div data-role="header" data-position="fixed">
        <h1>采购明细(供应商)</h1>
        <a href="#demo-intro" data-rel="back" id="detail-page-back2" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        <a href="javascript:void(0)" data-rel="back2" id="detail_page_close2" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-active ui-btn-right ui-icon-plus ui-btn-icon-right">保存</a>
    </div>
    <div role="main" class="ui-content">
        <form name="detail_page_form" id="detail_page_form2">
            <input type="hidden" name="num" value="">
            <input type="hidden" name="supprebate" value="">
            <input type="hidden" id="suppretotal" name="suppretotal" value="0">

            <label for="did"  class="t_label select"><span style="color:red;">*</span>账户ID:</label>
            <!--<input type="text" name="did" id="did2" readonly="readonly">-->
            <select name="did" class="filterable-select" check-msg="ID不能为空" data-native-menu="false" id="did2" onchange="set_return_vendorsplatform_info()">
                <!--<option value="1" selected>新浪扶翼</option>-->
            </select>
            <label for="productservice"  class="t_label select"><span style="color:red;">*</span>产品服务:</label>
            {*<select name="productservice" class="select" check-msg="产品服务不能为空" data-native-menu="false" id="productservice1" onchange="set_return_vendorsplatform_info()">
                <!--<option value="1" selected>新浪扶翼</option>-->
            </select>*}
            <input type="hidden" name="productservice" id="productservice" readonly="readonly">
            <input type="text" name="productservice_display" id="productservice_display" readonly="readonly">
            <input type="hidden" name="productid_display" id="productid_display2" readonly="true">
            <input type="hidden" name="productid" id="productid2">



            <label for="accountzh" class="t_label" style="display: inline;">账户名称:</label>
            <input type="text" name="accountzh" id="accountzh2" readonly="readonly">

            <label class="cls_servicecontracts_selects" for="suppliercontractsid_displays" class="t_label">供应商合同:
                {*<!--<a href="#vendor-servicecontracts-page" style="float:right; margin-right: 10px;">选择</a>-->*}
            </label>
            <input type="text"   readonly="readonly" name="suppliercontractsid_display" id="suppliercontractsid_display">
            <input type="hidden"  check-msg="供应商合同不能为空"  name="suppliercontractsid" id="suppliercontractsid">

           <!-- <label for="havesignedcontract">是否已签合同:</label>
            <select name="havesignedcontract" id="havesignedcontract" data-role="slider" data-mini="true">
                    <option value="off" selected>否</option>
                    <option value="on" >是</option>
            </select>-->
            <label class="t_label select">是否签订合同:</label>
            <input type="text" name="havesignedcontract_display" id="havesignedcontract_display" value="" readonly="readonly">
            <input type="hidden" name="havesignedcontract" id="havesignedcontract" value="">

            <label class="t_label select" for="signdate">签订日期:</label>
            <input type="date" name="signdate" id="signdate" value="" readonly="readonly">

            <!--<label class="t_label"><span style="color:red;">*</span>充值平台:</label>
            <input type="text" name="productid" id="productid2">-->

            <label class="t_label select">客户来源属性:</label>
            <!--<select name="customeroriginattr" id="customeroriginattr2" class="form-control">
                <option value="free" selected>自有</option>
                <option value="nonfree">非自有</option>
            </select>-->
            <input type="text" name="customeroriginattr_display" id="customeroriginattr_display2" readonly="true">
            <input type="hidden" name="customeroriginattr" id="customeroriginattr2">

            <label >有无服务:</label>
            <!--<select name="isprovideservice" id="isprovideservice2"class="form-control">
                <option value="off" selected>无</option>
                <option value="on">有</option>
            </select>-->
            <input type="text" name="isprovideservice_display" id="isprovideservice_display2" readonly="true">
            <input type="hidden" name="isprovideservice" id="isprovideservice2">

            <label><span style="color:red;">*</span>充值类型:</label>
            <select name="rechargetypedetail" id="rechargetypedetail2"class="form-control">
                <option value="renew" selected>续费</option>
                <option value="OpenAnAccount">开户</option>
            </select>
            <label class="t_label select"><span style="color:red;">*</span>供应商类型:</label>
            <select name="rebatetype" id="rebatetype" class="form-control">
                <option value="" >请选择类型</option>
                <option value="CashBack">返现</option>
                <option value="GoodsBack">返货</option>
            </select>
            <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
            <select name="accountrebatetype" id="accountrebatetype" class="form-control">
                <option value="" >请选择类型</option>
                <option value="CashBack" >返现</option>
                <option value="GoodsBack">返货</option>
            </select>
            <label >货币类型:</label>
            <select name="receivementcurrencytype" class="form-control" id="receivementcurrencytype2" >
                <option value="人民币" selected>人民币</option>
                <option value="美金">美金</option>
                <option value="日元">日元</option>
                <option value="欧元">欧元</option>
            </select>

            <label for="exchangerate" class="t_label">汇率:</label>
            <input type="number" name="exchangerate" check="number" check-msg="汇率必须为数字" value="1.0" id="exchangerate2">

            <label for="prestoreadrate" class="t_label"><span style="color:red;">*</span>充值账户币:</label>
            <input type="number" name="prestoreadrate" check="notEmpty,number" check-msg="必填,且充值金额格式要正确" id="prestoreadrate2" readonly="true">

            <label for="rechargeamount" class="t_label"><span style="color:red;">*</span>现金充值:</label>
            <input type="number" name="rechargeamount"  check="notEmpty,number" check-msg="必填,且收款金额格式要正确" id="rechargeamount2" readonly="true">

            <label for="discount" class="t_label"><span style="color:red;">*</span>返点(%):</label>
            <input type="number" name="discount"  id="discount2" check="notEmpty,number" check-msg="必填,且返点格式要正确"  max="100" readonly="true">

            <label>税点:</label>
            <select name="tax" class="form-control" id="tax2">
                <option value="6%" selected>6%</option>
                <option value="17%">17%</option>
            </select>

            <label for="factorage" class="t_label"><span style="color:red;">*</span>代理商服务费:</label>
            <input type="number" name="factorage" check="notEmpty,number" check-msg="必填,且代理商服务费格式要正确" id="factorage2">

            <label for="activationfee" class="t_label"><span style="color:red;">*</span>开户费:</label>
            <input type="number" name="activationfee" check="notEmpty,number" check-msg="必填,且开户费格式要正确" id="activationfee2">

            <label for="taxation" class="t_label"><span style="color:red;">*</span>税费:</label>
            <input type="text" name="taxation" check="notEmpty,number" check-msg="必填,且税费格式要正确" id="taxation2">

            <label for="totalcost" class="t_label">合计费用:</label>
            <input type="text" name="totalcost" check="number" check-msg="合计费用格式不正确" id="totalcost2" readonly="true">

            <label for="transferamount" class="t_label"><span style="color:red;">*</span>应收款金额:</label>
            <input type="text" name="transferamount" check="notEmpty,number" check-msg="必填,且应收款金额格式要正确" id="transferamount2">

            <label for="servicecost" class="t_label">成本:</label>
            <input type="text" name="servicecost" check="number" check-msg="成本格式不正确" id="servicecost2" readonly="true">

            <label for="totalgrossprofit" class="t_label">毛利总计:</label>
            <input type="text" name="totalgrossprofit" check="number" check-msg="毛利总计格式不正确" id="totalgrossprofit2" readonly="true">

        </form>
    </div>
    <div data-role="popup" id="popupBasicform2" >
        <div id="popupfrommsg2"></div>
    </div>
</div>
<div data-role="popup" data-dismissible="false" id="rechargesheet_page_popup" >
    <div>正在提交...</div>
</div>
<!--<div data-role="page" id="accountzh-page" data-url="accountzh-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择账户</h1>
        <a href="#detail-page-account" data-rel="back" id="accountzh-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <input type="button" id="accountzh_page_search" value="搜索">
        &lt;!&ndash;<label for="search_account" class="t_label">客户:
            <a href="javascript:void(0)" id="accountzh_page_search" style="float:right; margin-right: 10px;">搜索</a>
        </label>&ndash;&gt;
        <ul data-role="listview" id="accountzh_list" data-inset="true">
            &lt;!&ndash; <li><a href="javascript:void(0)" class="servicecontracts_list_li"></a></li> &ndash;&gt;
        </ul>
        <div id="accountzh_list_display" style="display:none;">没有搜到历史账号</div>
    </div>
    <div data-role="popup" data-dismissible="false" id="accountzh_page_popup" >
        <div>正在搜索...</div>
    </div>

</div>-->

<div id="bg"></div>
</body>
</html>
<script type="text/javascript">
    wx.config({
        debug: false,
        appId: "{$signPackage['appId']}",
        timestamp: "{$signPackage['timestamp']}",
        nonceStr: "{$signPackage['nonceStr']}",
        signature: "{$signPackage['signature']}",
        jsApiList: [
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage'
        ]
    });
    {literal}
    wx.ready(function () {

        // 5 图片接口
        // 5.1 拍照、本地选图
        var images = {
            localId: [],
            serverId: []
        };
        document.querySelector('#chooseImage').onclick = function () {
            wx.chooseImage({
                count: 3, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    images.localId = res.localIds;
                    var i = 0, length = images.localId.length;
                    images.serverId = [];
                    function upload() {
                        wx.uploadImage({
                            localId: images.localId[i],
                            isShowProgressTips: 1,
                            success: function (res) {
                                i++;
                                images.serverId.push(res.serverId);
                                var params={
                                {/literal}
                                "pictureid":res.serverId
                                {literal}
                                };
                                $.ajax({
                                    url: "index.php?module=RefillApplication&action=photograph",    //请求的url地址
                                    dataType: "json",   //返回格式为json
                                    data: params,    //参数值
                                    type: "POST",   //请求方式
                                    beforeSend: function() {
                                        //请求前的处理
                                    },
                                    success: function(req) {
                                        if(req.success){
                                            var fileValue=$('#files').val();
                                            var dataValue=req.result.filename+'##'+req.result.id;
                                            if(fileValue==''){
                                                fileValue=dataValue;
                                            }else{
                                                fileValue+='*|*'+dataValue;
                                            }
                                            $('#files').val(fileValue);
                                            $('#fileList').append('<li data-icon="delete"  data-filevalue="'+dataValue+'" class="filesign"><a  href="#popupPhotoPortraits" class="popupPhoto"  data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="fade" data-url="index.php?module=RefillApplication&action=download&filename='+req.result.id+'">'+req.result.filename+'</a><a href="javascript:void(0)" class="file_delete" data-icon="delete"></a> </li>');
                                            $("#fileList" ).listview("refresh");
                                        }
                                    },
                                    complete: function() {
                                        //请求完成的处理
                                    },
                                    error: function() {
                                        //请求出错处理
                                    }
                                });
                                console.log(i);
                                if (i < length) {
                                    upload();
                                }
                            },
                            fail: function (res) {
                                //alert(JSON.stringify(res));
                            }
                        });
                    }
                    upload();
                }
            });
        };

    });
    {/literal}
    ( function( $ ) {
        $('body').on('click','.popupPhoto',function(){
            $("#imgIframe" ).attr( "src", $(this).data('url'));
            $('#popupPhotoshow').trigger('click');
        });
        $('body').on('click','.file_delete',function(){
            $(this).parent().remove();
            var str='';
            $('.filesign').each(function(key,value){
                if(key!=0){
                    str+='*|*';
                }
                str+=$(value).data('filevalue');
            });
            $('#files').val(str);
        });
        function pageIsSelectmenuDialog( page ) {
            var isDialog = false,
                id = page && page.attr( "id" );
            $( ".filterable-select" ).each( function() {
                if ( $( this ).attr( "id" ) + "-dialog" === id ) {
                    isDialog = true;
                    return false;
                }
            });
            return isDialog;
        }
        $.mobile.document
            .on( "selectmenucreate", ".filterable-select", function( event ) {
                var input,
                    selectmenu = $( event.target ),
                    list = $( "#" + selectmenu.attr( "id" ) + "-menu" ),
                    form = list.jqmData( "filter-form" );
                if ( !form ) {
                    input = $( "<input data-type='search'></input>" );
                    form = $( "<form></form>" ).append( input );
                    input.textinput();
                    list
                        .before( form )
                        .jqmData( "filter-form", form ) ;
                    form.jqmData( "listview", list );
                }
                selectmenu
                    .filterable({
                        input: input,
                        children: "> option[value]"
                    })
                    .on( "filterablefilter", function() {
                        selectmenu.selectmenu( "refresh" );
                    });
            })
            .on( "pagecontainerbeforeshow", function( event, data ) {
                var listview, form;
                if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                    return;
                }
                listview = data.toPage.find( "ul" );
                form = listview.jqmData( "filter-form" );
                data.toPage.jqmData( "listview", listview );
                listview.before( form );
            })
            .on( "pagecontainerhide", function( event, data ) {
                var listview, form;
                if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                    return;
                }
                listview = data.prevPage.jqmData( "listview" ),
                    form = listview.jqmData( "filter-form" );
                listview.before( form );
            });

    })( jQuery );
    $( document ).on( "pagecreate", function() {
        $( ".photopopup" ).on({
            popupbeforeposition: function() {
                var maxHeight = $(window).height() - 60 + "px";
                $("#imgIframe").css("height", maxHeight);
            }
        });
    });

</script>
<script type="text/javascript" src="js/refillapplication.js?v=0.1"></script>