<!DOCTYPE HTML>
<html>
<head>
    <title>添加充值申请单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <link rel="stylesheet" href="static/css/tips.css" />
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        {literal}
        input[disabled], input[readonly],input{
            background-color: #eee;
            opacity: 1;
        }
        .t_label{
            padding: 5px 0 0px 0;
        }
        #bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50);}  
        {/literal}
    </style>
</head>
<body>

<div class="container-fluid w fix" id="demo-intro" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>添加充值申请单</h1>
        <a href="index.php?module=RefillApplication&action=index" data-transition="slide" id="main_page_back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <form method="post" id="main_page_form" data-ajax="false">
    <div data-role="main" class="ui-content">

            <div class="confirm tc">
                <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">提 交</button>
            </div>
            <input type="hidden" name="rechargesource" value="COINRETURN"/>
            <label class="t_label select">申请单类型:</label>
            <div class="input-box">
                <select  id="refillapplicationtype" name="rechargesource" class="form-control" >
                    <option value="COINRETURN" selected>退币转充</option>
                </select>
            </div>

            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h3>基本信息</h3>
                <div class="ui-field-contain">
                    <label class="t_label select"><span style="color:red;">*</span>转充类型:</label>
                    <select name="conversiontype" class="filterable-select"  data-native-menu="false" onchange="" id="conversiontype">
                        <option value="">选择一个选项</option>
                        <option value="ProductProvider">外采媒体</option>
                        <option value="AccountPlatform">自有媒体</option>
                    </select>
                    <label for="servicecontractsid" class="t_label"><span style="color:red;">*</span>服务合同:
                        <a href="#servicecontracts-page" id="clickservicecontracts-page" style="float:right; margin-right: 10px;"></a>
                        <a id="clickservicecontracts" style="float:right; margin-right: 10px;">选择</a>
                    </label>
                    <input type="text"   readonly="readonly" name="servicecontractsid_dispaly" id="servicecontractsid_dispaly">
                    <input type="hidden" check="notEmpty"  check-msg="服务合同不能为空"  name="servicecontractsid" id="servicecontractsid">
                    <!-- 供应商 -->
                    <label class="t_label"><span style="color:red;">*</span>供应商:
                        <a href="#vendor-page" id="clickVendorPage" style="float:right; margin-right: 10px;"></a>
                        <a id="click-choose" style="float:right; margin-right: 10px;">选择</a>
                    </label>
                    <input type="text"   readonly="readonly" name="vendorid_display" id="vendorid_display">
                    <input type="hidden" check="notEmpty" check-msg="供应商不能为空"  name="vendorid" id="vendorid">

                    <label for="accountid" class="t_label"><span style="color:red;">*</span>客户:
                        <!--<a href="#account-page" style="float:right; margin-right: 10px;">选择</a>-->
                    </label>
                    <input type="text" readonly="readonly"  name="accountid_dispaly" id="accountid_dispaly">
                    <input type="hidden"  name="accountid" id="accountid" check="notEmpty" check-msg="客户不能为空" >

                    <label class="t_label select">合计转入现金:</label>
                    <div class="input-box">
                        <input type="text" name="totalcashin" id="totalcashin" value="" readonly="readonly">
                    </div>
                    <label class="t_label select">合计转出现金:</label>
                    <div class="input-box">
                        <input type="text" name="totalcashtransfer" id="totalcashtransfer" value="" readonly="readonly">
                    </div>
                    <label class="t_label select">合计转入账户币:</label>
                    <div class="input-box">
                        <input type="text" name="totaltransfertoaccount" id="totaltransfertoaccount" value="" readonly="readonly">
                    </div>
                    <label class="t_label select">合计转出账户币:</label>
                    <div class="input-box">
                        <input type="text" name="totalturnoverofaccount" id="totalturnoverofaccount" value="" readonly="readonly">
                    </div>
                    <label for="remarks" class="t_label">备注</label>
                    <textarea name="remarks" id="remarks" rows="5" class="form-control"
                              data-content=""></textarea>

                    <br/>
                    <div>
                        <ul data-role="listview" id="fileList" data-inset="true">
                        </ul>
                        <a href="javascript:;" id="chooseImage">上传附件</a>
                        <input type="hidden" name="fileupload" id="files"/>
                        <div data-role="popup" id="popupPhotoPortrait" class="photopopup" data-overlay-theme="b" data-theme="a" data-tolerance="15,15" class="ui-content">
                            <iframe src="/static/img/logo.png" width="100%" height="100%" seamless id="imgIframe"></iframe>
                        </div>
                        <a  href="#popupPhotoPortrait" id="popupPhotoshow"  data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="fade" style="display:none;"></a>
                    </div>
                </div>
            </div>


            <!-- 充值明细栏 -->
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u">
                <h3 ><span>转出明细</span>
                    <a style="background-color: #3c80b8;color: white;padding: 15px 20px;" data-icon="plus"  class="ui-btn-right ui-link ui-btn ui-icon-plus ui-btn-icon-right ui-shadow ui-corner-all add-detail-page" data-role="button" role="button" data-typecash="out"></a>
                </h3>
                <div role="main" class="ui-content">
                    <label class="t_label select"><span style="color:red;">*</span>平台账户ID:</label>
                    <select name="did" class="filterable-select"  data-native-menu="false" onchange="set_return_accountplatform_info(0)" id="did">
                    </select>
                    <label class="t_label" style="display: inline;">账户名称:</label>
                    <input type="text" name="accountzh" readonly="readonly">

                    <label class="t_label"><span style="color:red;">*</span>媒体平台:</label>
                    <input type="text" name="productid_display" readonly="true">
                    <input type="hidden" name="productid">
                    <label >有无服务:</label>
                    <input type="hidden" name="isprovideservice" value="">
                    <input type="text" name="isprovideservice_display" value="" readonly="readonly">
                    <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
                    <input type="hidden" name="accountrebatetype" value="">
                    <input type="text" name="accountrebatetype_display" value="" readonly="readonly">
                    <label class="t_label"><span style="color:red;">*</span>返点(%):</label>
                    <input type="number" name="discount" check="notEmpty,number" check-msg="必填,且返点格式要正确"  max="100" readonly="true">

                    <label class="t_label"><span style="color:red;">*</span>转出现金:</label>
                    <input type="text" step="0.01" name="cashtransfer" check="notEmpty,number" check-msg="必填,且充值账户币格式要正确" readonly="true">

                    <label class="t_label"><span style="color:red;">*</span>转出账户币:</label>
                    <input type="text" name="accounttransfer" check="notEmpty,number" check-msg="必填,且现金充值格式要正确">
                </div>
            </div>
            <div id="insertbefore"></div>
            <div data-role="collapsible" data-collapsed-icon="carat-d" class="Duplicates" data-expanded-icon="carat-u" data-num="1">
                <h3 ><span>转入明细</span>
                    <a style="background-color: #3c80b8;color: white;padding: 15px 20px;" data-icon="plus" class="ui-btn-right ui-link ui-btn ui-icon-plus ui-btn-icon-right ui-shadow ui-corner-all add-detail-page" data-role="button" role="button" data-typecash="in"></a>
                </h3>
                <div role="main" class="ui-content">
                    <input type="hidden" name="mtruncashtype[1]" value="in">
                    <label class="t_label select"><span style="color:red;">*</span>平台账户ID:</label>
                    <select name="mdid[1]" class="filterable-select"  data-native-menu="false" onchange="set_return_accountplatform_info(1)" id="did1">
                    </select>
                    <label class="t_label" style="display: inline;">账户名称:</label>
                    <input type="text" name="maccountzh[1]" readonly="readonly" data-typecash="in">

                    <label class="t_label"><span style="color:red;">*</span>媒体平台:</label>
                    <input type="text" name="mproductid_display[1]" readonly="true" data-typecash="in">
                    <input type="hidden" name="mproductid[1]" id="productid" data-typecash="in">
                    <label >有无服务:</label>
                    <input type="hidden" name="misprovideservice[1]" value="" data-typecash="in">
                    <input type="text" name="misprovideservice_display[1]" value="" readonly="readonly" data-typecash="in">
                    <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
                    <input type="hidden" name="maccountrebatetype[1]" value="" data-typecash="in">
                    <input type="text" name="maccountrebatetype_display[1]" value="" readonly="readonly" data-typecash="in">
                    <label  class="t_label"><span style="color:red;">*</span>返点(%):</label>
                    <input type="number" name="mdiscount[1]"  check="notEmpty,number" check-msg="必填,且返点格式要正确"  max="100" readonly="true" data-typecash="in" >

                    <label class="t_label"><span style="color:red;">*</span>转入现金:</label>
                    <input type="text" step="0.01" name="mcashtransfer[1]"  check="notEmpty,number" check-msg="必填,且充值账户币格式要正确" readonly="true" data-typecash="in" >

                    <label class="t_label"><span style="color:red;">*</span>转入账户币:</label>
                    <input type="text" name="maccounttransfer[1]"  data-cid="1" check="notEmpty,number" check-msg="必填,且现金充值格式要正确" data-typecash="in">
                </div>
            </div>
            <div id="insertafter"></div>
            <div class="confirm tc">
                <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">提 交</button>
            </div>

    </div>
    </form>
    <div id="insert" style="display:none;">
        <div data-collapsed-icon="carat-d" class="Duplicates mobile-collapsible-disabled" data-expanded-icon="carat-u" data-num="replacenum" id="consetreplacenum">
            <h3 ><span>replacename明细replacenum</span>
                <a style="background-color: #3c80b8;color: white;padding: 15px 20px;" data-icon="minus" class="ui-btn-right ui-link ui-btn ui-icon-minus ui-btn-icon-right ui-shadow ui-corner-all deletedlist" data-role="button" role="button"></a>
            </h3>
            <div role="main" class="ui-content">
                <input type="hidden" name="mtruncashtype[replacenum]" value="relacetype">
                <label class="t_label select"><span style="color:red;">*</span>平台账户ID:</label>
                <select name="mdid[replacenum]" class="filterable-select"  data-native-menu="false" onchange="set_return_accountplatform_info(replacenum)" id="didreplacenum" data-cid="replacenum">
                </select>
                <label class="t_label" style="display: inline;">账户名称:</label>
                <input type="text" name="maccountzh[replacenum]" readonly="readonly" data-typecash="relacetype" data-cid="replacenum">

                <label class="t_label"><span style="color:red;">*</span>媒体平台:</label>
                <input type="text" name="mproductid_display[replacenum]" readonly="true" data-typecash="relacetype" data-cid="replacenum">
                <input type="hidden" name="mproductid[replacenum]">
                <label >有无服务:</label>
                <input type="hidden" name="misprovideservice[replacenum]" value="" data-typecash="relacetype">
                <input type="text" name="misprovideservice_display[replacenum]" value="" readonly="readonly" data-typecash="relacetype" data-cid="replacenum">
                <label class="t_label select"><span style="color:red;">*</span>客户返点类型:</label>
                <input type="hidden" name="maccountrebatetype[replacenum]" value="">
                <input type="text" name="maccountrebatetype_display[replacenum]" value="" readonly="readonly" data-typecash="relacetype" data-cid="replacenum">
                <label  class="t_label"><span style="color:red;">*</span>返点(%):</label>
                <input type="number" name="mdiscount[replacenum]"  check="notEmpty,number" check-msg="必填,且返点格式要正确"  max="100" readonly="true" data-typecash="relacetype" data-cid="replacenum">

                <label class="t_label"><span style="color:red;">*</span>replacename现金:</label>
                <input type="text" step="0.01" name="mcashtransfer[replacenum]"  check="notEmpty,number" check-msg="必填,且充值账户币格式要正确" readonly="true" data-typecash="relacetype" data-cid="replacenum">

                <label class="t_label"><span style="color:red;">*</span>replacename账户币:</label>
                <input type="text" name="maccounttransfer[replacenum]" check="notEmpty,number" check-msg="必填,且现金充值格式要正确" data-typecash="relacetype" data-cid="replacenum">
            </div>
        </div>
    </div>
    <div data-role="popup" id="main_page_popup" >
        <div></div>
    </div>
    <div data-role="popup" data-dismissible="false" id="main_page_popup_submit" >
        <div>正在提交...</div>
    </div>
</div>


<div data-role="page" id="servicecontracts-page" data-url="servicecontracts-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择服务合同</h1>
        <a href="#demo-intro" data-rel="back" id="servicecontracts-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        <!-- <a href="javascript:void(0)" data-rel="back2" id="servicecontracts_page_close" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-btn-active ui-btn-right ui-icon-plus ui-btn-icon-right">保存</a> -->
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="servicecontracts_page_form">
            <label for="search_servicecontracts" class="t_label">服务合同:
                <a href="javascript:void(0)" id="servicecontracts_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_servicecontracts" id="search_servicecontracts" placeholder="输入合同编号或客户名称">
        </form>

        <ul data-role="listview" id="servicecontracts_list" data-inset="true">
            <!-- <li><a href="javascript:void(0)" class="servicecontracts_list_li"></a></li> -->
        </ul>
        <div id="servicecontracts_list_display" style="display:none;">没有搜到到服务合同，请输入客户名称或者合同编号</div>
        
    </div>

    <div data-role="popup" data-dismissible="false" id="servicecontracts_page_popup" >
        <div>正在提交...</div>
    </div>
</div>
<div data-role="page" id="vendor-page" data-url="vendor-page" source="">
    <div data-role="header" data-position="fixed">
        <h1>选择供应商</h1>
        <a href="#demo-intro" data-rel="back" id="vendor-page-back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div role="main" class="ui-content">
        <form name="servicecontracts_page_form" id="vendor_page_form">
            <label for="search_servicecontracts" class="t_label">供应商:
                <a href="javascript:void(0)" id="vendors_page_search" style="float:right; margin-right: 10px;">搜索</a>
            </label>
            <input type="text" name="search_vendors" id="search_vendors" placeholder="输入供应商编号或供应商名称">
        </form>

        <ul data-role="listview" id="vendor_list" data-inset="true">
        </ul>
        <div id="vendor_list_display" style="display:none;">没有搜到到供应商，请输入供应商名称</div>

    </div>


    <div data-role="popup" data-dismissible="false" id="vendor_page_popup" >
        <div>正在提交...</div>
    </div>
</div>
<div id="bg"></div>
</body>
</html>
<script type="text/javascript">
    wx.config({
        debug: false,
        appId: "{$signPackage['appId']}",
        timestamp: "{$signPackage['timestamp']}",
        nonceStr: "{$signPackage['nonceStr']}",
        signature: "{$signPackage['signature']}",
        jsApiList: [
            'chooseImage',
            'previewImage',
            'uploadImage',
            'downloadImage'
        ]
    });
    {literal}
    wx.ready(function () {

        // 5 图片接口
        // 5.1 拍照、本地选图
        var images = {
            localId: [],
            serverId: []
        };
        document.querySelector('#chooseImage').onclick = function () {
            wx.chooseImage({
                count: 3, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    images.localId = res.localIds;
                    var i = 0, length = images.localId.length;
                    images.serverId = [];
                    function upload() {
                        wx.uploadImage({
                            localId: images.localId[i],
                            isShowProgressTips: 1,
                            success: function (res) {
                                i++;
                                images.serverId.push(res.serverId);
                                var params={
                                {/literal}
                                "pictureid":res.serverId
                                {literal}
                                };
                                $.ajax({
                                    url: "index.php?module=RefillApplication&action=photograph",    //请求的url地址
                                    dataType: "json",   //返回格式为json
                                    data: params,    //参数值
                                    type: "POST",   //请求方式
                                    beforeSend: function() {
                                        //请求前的处理
                                    },
                                    success: function(req) {
                                        if(req.success){
                                            var fileValue=$('#files').val();
                                            var dataValue=req.result.filename+'##'+req.result.id;
                                            if(fileValue==''){
                                                fileValue=dataValue;
                                            }else{
                                                fileValue+='*|*'+dataValue;
                                            }
                                            $('#files').val(fileValue);
                                            $('#fileList').append('<li data-icon="delete"  data-filevalue="'+dataValue+'" class="filesign"><a  href="#popupPhotoPortraits" class="popupPhoto"  data-rel="popup" data-position-to="window" class="ui-btn ui-corner-all ui-shadow ui-btn-inline" data-transition="fade" data-url="index.php?module=RefillApplication&action=download&filename='+req.result.id+'">'+req.result.filename+'</a><a href="javascript:void(0)" class="file_delete" data-icon="delete"></a> </li>');
                                            $("#fileList" ).listview("refresh");
                                        }
                                    },
                                    complete: function() {
                                        //请求完成的处理
                                    },
                                    error: function() {
                                        //请求出错处理
                                    }
                                });
                                console.log(i);
                                if (i < length) {
                                    upload();
                                }
                            },
                            fail: function (res) {
                                //alert(JSON.stringify(res));
                            }
                        });
                    }
                    upload();
                }
            });
        };

    });
    {/literal}
    ( function( $ ) {
        $("#click-choose").click(function () {
            var conversiontype = $("#conversiontype").val();
            if(!conversiontype){
                Tips.confirm({
                    content: '请先选择转充类型！',
                    define: '确定',
                    cancel: '取消',
                    before: function(){
                    },
                    after: function(b){

                    }
                });
            }else{
                $("#clickVendorPage").click();
            }
        });
        $("#clickservicecontracts").click(function () {
            var conversiontype = $("#conversiontype").val();
            if(!conversiontype){
                Tips.confirm({
                    content: '请先选择转充类型！',
                    define: '确定',
                    cancel: '取消',
                    before: function(){
                    },
                    after: function(b){

                    }
                });
            }else{
                $("#clickservicecontracts-page").click();
            }
        });
        $('body').on('click','.popupPhoto',function(){
            $("#imgIframe" ).attr( "src", $(this).data('url'));
            $('#popupPhotoshow').trigger('click');
        });
        $('body').on('click','.file_delete',function(){
            $(this).parent().remove();
            var str='';
            $('.filesign').each(function(key,value){
                if(key!=0){
                    str+='*|*';
                }
                str+=$(value).data('filevalue');
            });
            $('#files').val(str);
        });
        function pageIsSelectmenuDialog( page ) {
            var isDialog = false,
                id = page && page.attr( "id" );
            $( ".filterable-select" ).each( function() {
                if ( $( this ).attr( "id" ) + "-dialog" === id ) {
                    isDialog = true;
                    return false;
                }
            });
            return isDialog;
        }
        $.mobile.document
            .on( "selectmenucreate", ".filterable-select", function( event ) {
                console.log(11111);
                var input,
                    selectmenu = $( event.target ),
                    list = $( "#" + selectmenu.attr( "id" ) + "-menu" ),
                    form = list.jqmData( "filter-form" );
                if ( !form ) {
                    input = $( "<input data-type='search'></input>" );
                    form = $( "<form></form>" ).append( input );
                    input.textinput();
                    list
                        .before( form )
                        .jqmData( "filter-form", form ) ;
                    form.jqmData( "listview", list );
                }
                selectmenu
                    .filterable({
                        input: input,
                        children: "> option[value]"
                    })
                    .on( "filterablefilter", function() {
                        selectmenu.selectmenu( "refresh" );
                    });
            })
            .on( "pagecontainerbeforeshow", function( event, data ) {
                var listview, form;
                if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                    return;
                }
                listview = data.toPage.find( "ul" );
                form = listview.jqmData( "filter-form" );
                data.toPage.jqmData( "listview", listview );
                listview.before( form );
            })
            .on( "pagecontainerhide", function( event, data ) {
                var listview, form;
                if ( !pageIsSelectmenuDialog( data.toPage ) ) {
                    return;
                }
                listview = data.prevPage.jqmData( "listview" ),
                    form = listview.jqmData( "filter-form" );
                listview.before( form );
            });

    })( jQuery );
    $( document ).on( "pagecreate", function() {
        $( ".photopopup" ).on({
            popupbeforeposition: function() {
                var maxHeight = $(window).height() - 60 + "px";
                $("#imgIframe").css("height", maxHeight);
            }
        });
    });

</script>
<script type="text/javascript" src="js/addcoinreturn.js?v=0.1"></script>
<script src="./static/js/tips.min.js"></script>