<!DOCTYPE HTML>
<html>
<head>
    <title>添加申请拜访单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
</head>
<body>

<div class="container-fluid w fix" id="demo-intro" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>添加充值申请单</h1>
        <a href="index.php?module=RefillApplication&action=index" data-transition="slide" id="main_page_back" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
    </div>
    <div class="ui-grid-b" style="margin-top:30px;">
        <div class="ui-block-a"><a href="index.php?module=RefillApplication&action=add"  data-ajax="false"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">媒体充值</div></a></div>
        <div class="ui-block-b"><a href="index.php?module=RefillApplication&action=add"  data-ajax="false"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">媒体充值(外采)</div></a></div>
        <div class="ui-block-c"><a href="index.php?module=RefillApplication&action=addcoinreturn"  data-ajax="false"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">退币转充</div></a></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
        <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
        <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
        <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
        <div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:60px;line-height: 60px;text-align:center;">&nbsp;</div></div>
    </div>
</div>


</body>
</html>
