<!DOCTYPE HTML>
<html>
<head>
    <title>充值申请单详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/jquery.mobile-1.4.5.min.css" />
    <link href="static/css/select2.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="static/js/watermark.js"></script>
    <style type="text/css">
        {literal}
        *{
            text-shadow:none;
        }
        .sales_title_t{
            font-size: 12px;
            font-weight:bold;
        }
        .sales_info_div{
            display:flex;
            justify-content:space-between;
             font-size: 12px;

            margin-bottom: 8px;
        }

        #bg{ display: none;  position: absolute;  top: 0%;  left: 0%;  width: 100%;  height: 100%;  background-color: black;  z-index:1001;  -moz-opacity: 0.5;  opacity:.50;  filter: alpha(opacity=50);}  
        {/literal}

    </style>
</head>
<body>

<div class="container-fluid w fix" id="demo-intro" data-role="page">
    <div data-role="header" data-position="fixed">
        <h1>充值请单详情</h1>
        {if $issendmsg neq 1}
        <a href="#demo-intro"  data-rel="back" data-transition="slide" class="back-btn ui-btn ui-corner-all ui-shadow ui-mini ui-btn-inline ui-icon-back ui-btn-left ui-btn-icon-left">返回</a>
        </a>
        {else}
        <a style="display: none;"></a>
        {/if}
        {if $ISROLE eq '1'}
        <a href="#myPopupDialog" data-rel="popup"  id="gotoMyPopupDialog" data-position-to="window" data-transition="fade" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">审核</a>
        {/if}
    </div>

    <div data-role="main" class="ui-content">
        <div id="data_list"{*  data-role="collapsible-set"*}>
            <!--如果是合同变更申请-->
            {if $rechargesource  eq  'contractChanges'}
                    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                        <h3>基本信息{$rechargesource_name}</h3>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请单编号:</span>
                            {$refillApplication.refillapplicationno}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">状态:</span>
                            {$moduleStatusArray[$refillApplication.modulestatus]}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请人:</span>
                            {$refillApplication.last_name}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请时间:</span>
                            {$refillApplication.refillcreatedtime}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">变更类型:</span>
                            {if $refillApplication.changecontracttype=='ServiceContracts'}
                            服务合同
                            {else}
                            采购合同
                            {/if}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">原充值来源:</span>
                            {$rechargesourceArray[$refillApplication.oldrechargesource]}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请单数量:</span>
                            {$refillApplication.changesnumber}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">已充值合同金额:</span>
                            {$refillApplication.contractamountrecharged}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">应收款总额:</span>
                            {$refillApplication.actualtotalrecharge}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">应付款总额:</span>
                            {$refillApplication.totalreceivables}
                        </div>
                       <div class="sales_info_div">
                            <span class="sales_title_t">合计垫款金额:</span>
                            {$refillApplication.grossadvances}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">备注:</span>
                            {$refillApplication.remarks}
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                        <h3>原合同信息{$rechargesource_name}</h3>
                        <div class="sales_info_div">
                            <span class="sales_title_t">服务合同:</span>
                            {$refillApplication.contract_no} <!--<a href="index.php?module=RefillApplication&action=receive&id={$refillApplication.servicecontractsid}">回款</a>-->
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">客户:</span>
                            {$refillApplication.accountname}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">客户类型:</span>
                            {$refillApplication.t_customertype}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">是否签订合同:</span>
                            {$refillApplication.t_iscontracted}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">签订日期:</span>
                            {$refillApplication.servicesigndate}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">合同金额:</span>
                            {$refillApplication.contractamount}
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                        <h3>目标同信息{$rechargesource_name}</h3>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标合同:</span>
                            {$refillApplication.newcontract_no} <!--<a href="index.php?module=RefillApplication&action=receive&id={$refillApplication.servicecontractsid}">回款</a>-->
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标客户/供应商:</span>
                            {$refillApplication.newaccount_name}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标合同客户类型:</span>
                            {$customersType[$refillApplication.newcustomertype]}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标合同是否签订合同:</span>
                            {if $refillApplication.newiscontracted eq 'alreadySigned'}已签订{else}已担保{/if}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标合同签订日期:</span>
                            {$refillApplication.newservicesigndate}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">目标合同合同金额:</span>
                            {$refillApplication.newcontractamount}
                        </div>
                    </div>
                    {foreach item=items  from=$refillapplicationList name=wlists}
                        <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                            <h3>充值单信息{$smarty.foreach.wlists.index + 1}{$rechargesource_name}</h3>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请单编号:</span>
                                {$items.refillapplicationno}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">充值来源:</span>
                                {$rechargesourceArray[$items.rechargesource]}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请人:</span>
                                {$items.smownerid}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请时间:</span>
                                {$items.createdtime}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">合计垫款金额:</span>
                                {$items.grossadvances}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">应收款总额:</span>
                                {$items.actualtotalrecharge}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">应付款总额:</span>
                                {$items.totalreceivables}
                            </div>
                        </div>
                    {/foreach}

            {else}
                    <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                            <h3>基本信息{$rechargesource_name}</h3>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请单编号:</span>
                                {$refillApplication.refillapplicationno}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">状态:</span>
                                {$moduleStatusArray[$refillApplication.modulestatus]}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请人:</span>
                                {$refillApplication.last_name}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">申请时间:</span>
                                {$refillApplication.refillcreatedtime}
                            </div>
                            {if $rechargesource eq 'PACKVENDORS'}
                            <div class="sales_info_div">
                                <span class="sales_title_t">应付款总额:</span>
                                {$refillApplication.totalreceivables}
                            </div>
                            {/if}
                            {if $rechargesource neq 'PreRecharge' && $rechargesource neq 'PACKVENDORS' && $rechargesource neq 'COINRETURN' && $rechargesource neq 'INCREASE'}
                            <div class="sales_info_div">
                                <span class="sales_title_t">服务合同:</span>
                                {$refillApplication.contract_no} <!--<a href="index.php?module=RefillApplication&action=receive&id={$refillApplication.servicecontractsid}">回款</a>-->
                            </div>
                            <!--{if $advancesmoney>0}
                            <div class="sales_info_div">
                                <span class="sales_title_t">已垫款:</span>
                                {$advancesmoney}
                            </div>
                            {/if}-->
                            <div class="sales_info_div">
                                <span class="sales_title_t">客户:</span>
                                {$refillApplication.accountname}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">客户类型:</span>
                                {$refillApplication.t_customertype}
                            </div>
                           <!-- <div class="sales_info_div">
                                <span class="sales_title_t">客户来源属性:</span>
                                {$refillApplication.t_customeroriginattr}
                            </div>-->
                            <div class="sales_info_div">
                                <span class="sales_title_t">使用回款总额:</span>
                                {$refillApplication.totalrecharge}
                            </div>
                            <div class="sales_info_div">
                                <span class="sales_title_t">应收款总额:</span>
                                {$refillApplication.actualtotalrecharge}
                            </div>
                            {if $rechargesource eq 'Vendors'}
                                <div class="sales_info_div">
                                    <span class="sales_title_t">付款账期:</span>
                                    {$refillApplication.t_paymentperiod}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">应付款总额:</span>
                                    {$refillApplication.totalreceivables}
                                </div>
                            {/if}
                            {if $rechargesource eq 'TECHPROCUREMENT'}
                                <div class="sales_info_div">
                                    <span class="sales_title_t">人力成本:</span>
                                    {$refillApplication.humancost}
                                </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">外采成本:</span>
                                    {$refillApplication.purchasecost}
                                </div>
                            {/if}

                    <div class="sales_info_div">
                        <span class="sales_title_t">合同垫款金额:</span>
                        {$refillApplication.grossadvances}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">垫款预计回款日期:</span>
                        {$refillApplication.expcashadvances}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">是否签订合同:</span>
                        {$refillApplication.t_iscontracted}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">签订日期:</span>
                        {$refillApplication.servicesigndate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">附件:</span>
                        {if !empty($refillApplication.file)}
                        {assign var='expfile' value='*|*'|explode:$refillApplication.file}
                        {foreach item='filename' from=$expfile}
                        {assign var='expfilename' value='##'|explode:$filename}
                        <a href="index.php?module=RefillApplication&action=download&filename={$expfilename[1]}" target="_blank">{$expfilename[0]}</a><br>
                        {/foreach}
                        {/if}
                    </div>
                {/if}
                {if $rechargesource eq 'COINRETURN'}
                    <div class="sales_info_div">
                        <span class="sales_title_t">客户:</span>
                        {$refillApplication.accountname}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">转充类型:</span>
                        {if  $refillApplication.conversiontype eq 'ProductProvider'}
                        外采媒体
                        {elseif $refillApplication.conversiontype eq 'AccountPlatform'}
                        自有媒体
                        {/if}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">供应商:</span>
                        {$refillApplication.vendorname}
                    </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">合计转入现金:</span>
                    {$refillApplication.totalcashin}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">合计转出现金:</span>
                    {$refillApplication.totalcashtransfer}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">合计转入账户币:</span>
                    {$refillApplication.totaltransfertoaccount}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">合计转出账户币:</span>
                    {$refillApplication.totalturnoverofaccount}
                </div>
                {/if}
                {if $rechargesource eq 'INCREASE'}
                <div class="sales_info_div">
                    <span class="sales_title_t">合计消耗现金:</span>
                    {$refillApplication.cashconsumptiontotal}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">合计赠充现金:</span>
                    {$refillApplication.cashincreasetotal}
                </div>

                {/if}
                    <div class="sales_info_div">
                        <span class="sales_title_t">附件:</span>
                        {if !empty($refillApplication.file)}
                        {assign var='expfile' value='*|*'|explode:$refillApplication.file}
                        {foreach item='filename' from=$expfile}
                        {assign var='expfilename' value='##'|explode:$filename}
                        <a href="index.php?module=RefillApplication&action=download&filename={$expfilename[1]|base64_encode|urlencode}" target="_blank">{$expfilename[0]}</a><br>
                        {/foreach}
                        {/if}
                    </div>


                <div class="sales_info_div">
                    <span class="sales_title_t">备注:</span>
                    {$refillApplication.remarks}
                </div>
            </div>

            {assign var=arr_rechargesource value=['Vendors','NonMediaExtraction','TECHPROCUREMENT','PreRecharge','PACKVENDORS']}
            {if in_array($rechargesource,$arr_rechargesource)}
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                <h3>供应商信息{$rechargesource_name}</h3>
                <div class="sales_info_div">
                    <span class="sales_title_t">供应商:</span>
                    {$refillApplication.vendorname}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">开户行:</span>
                    {$refillApplication.bankaccount}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">开户名:</span>
                    {$refillApplication.bankname}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">银行账户:</span>
                    {$refillApplication.banknumber}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">银行代码:</span>
                    {$refillApplication.bankcode}
                </div>
                {if $rechargesource eq 'PACKVENDORS'}
                <div class="sales_info_div">
                    <span class="sales_title_t">提单开始日期:</span>
                    {$refillApplication.expecteddatepayment}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">提单截止日期:</span>
                    {$refillApplication.expectedpaymentdeadline}
                </div>
                {/if}
            </div>
            {/if}

            {if !empty($refillapprayment)}
            {foreach from=$refillapprayment item=refillApplication name=wlist}
                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                    <h3 >回款明细{$smarty.foreach.wlist.index + 1} {$rechargesource_name}</h3>

                    <div class="sales_info_div">
                        <span class="sales_title_t">回款信息:</span>
                        {$refillApplication.owncompany}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">入账金额:</span>
                        {$refillApplication.total}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">入账日期:</span>
                        {$refillApplication.arrivaldate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">可使用金额:</span>
                        {$refillApplication.allowrefillapptotal}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">使用金额:</span>
                        {$refillApplication.refillapptotal}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">退款金额:</span>
                        {$refillApplication.refundamount}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">备注:</span>
                        {$refillApplication.remarks}
                    </div>
            </div>
            {/foreach}
            {/if}
                    <!--<hr style="height:2px;border:none;border-top:2px dotted #185598;">

                    {if $rechargesource eq 'Vendors'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商合同:</span>
                            {$refillApplication.suppliercontractsid}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">是否已签合同:</span>
                            {$refillApplication.t_havesignedcontract}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">签订日期:</span>
                            {$refillApplication.signdate}
                        </div>
                    {else}
                        <div class="sales_info_div">
                            <span class="sales_title_t">平台账户ID::</span>
                            {$refillApplication.did}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">账户名称:</span>
                            {$refillApplication.accountzh}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>
                    {/if}

                    <div class="sales_info_div">
                        <span class="sales_title_t">是否有服务:</span>
                        {$refillApplication.t_isprovideservice}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">充值类型:</span>
                        {$refillApplication.t_rechargetypedetail}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">货币类型:</span>
                        {$refillApplication.receivementcurrencytype}
                    </div>

                    &lt;!&ndash;<div class="sales_info_div">
                        <span class="sales_title_t">账户:</span>
                        {$refillApplication.accountzh}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">ID:</span>
                        {$refillApplication.did}
                    </div>&ndash;&gt;

                    <div class="sales_info_div">
                        <span class="sales_title_t">汇率:</span>
                        {$refillApplication.exchangerate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">现金充值:</span>
                        {$refillApplication.rechargeamount}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">充值账户币:</span>
                        {$refillApplication.prestoreadrate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">返点:</span>
                        {$refillApplication.discount}%
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">税点:</span>
                        {$refillApplication.tax}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">代理商服务费:</span>
                        {$refillApplication.factorage}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">开户费:</span>
                        {$refillApplication.activationfee}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">税费:</span>
                        {$refillApplication.taxation}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">合计费用:</span>
                        {$refillApplication.totalcost}
                    </div>
                    &lt;!&ndash;<div class="sales_info_div">
                        <span class="sales_title_t">每日预算:</span>
                        {$refillApplication.dailybudget}
                    </div>&ndash;&gt;

                    <div class="sales_info_div">
                        <span class="sales_title_t">应付款金额:</span>
                        {$refillApplication.transferamount}
                    </div>
                    &lt;!&ndash;<div class="sales_info_div">
                        <span class="sales_title_t">返点金额:</span>
                        {$refillApplication.rebateamount}
                    </div>&ndash;&gt;

                    <div class="sales_info_div">
                        <span class="sales_title_t">成本:</span>
                        {$refillApplication.servicecost}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">毛利总计:</span>
                        {$refillApplication.totalgrossprofit}
                    </div>
                   &lt;!&ndash; <div class="sales_info_div">
                        <span class="sales_title_t">状态:</span>
                        {$refillApplication.mstatus}
                    </div>&ndash;&gt;
-->
                    
                <!--</div>-->

                {if !empty($rechargesheet)  &&  $rechargesource neq 'PACKVENDORS'}
                {foreach from=$rechargesheet item=refillApplication name=wlist}
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                    <h3 >{if $rechargesource neq 'INCREASE'}充值明细{else}虚拟回款{/if}{$smarty.foreach.wlist.index + 1} {$rechargesource_name}
                        {if $rechargesource eq 'COINRETURN'}
                        <span style="display: inline-block;padding: 2px 4px;font-size: 11.844px;font-weight: bold;color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);white-space: nowrap;vertical-align: baseline;">
                            {if $refillApplication.turninorout eq 'out'}
                                <b style="background-color: #3485B6;">转出</b>{assign var=turninoroutname value="转出"}
                            {else}
                            <b style="background-color: #468847;">转入</b>{assign var=turninoroutname value="转入"}
                            {/if}
                            </span>
                        {/if}
                    </h3>
                    {if $rechargesource eq 'COINRETURN'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">平台账户ID:</span>
                            {$refillApplication.did}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">账户名称:</span>
                            {$refillApplication.accountzh}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">是否有服务:</span>
                            {$refillApplication.t_isprovideservice}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">客户返点类型:</span>
                            {$refillApplication.t_accountrebatetype}
                        </div>
                                <div class="sales_info_div">
                                    <span class="sales_title_t">返点:</span>
                                    {$refillApplication.discount}%
                                </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">{$turninoroutname}现金:</span>
                            {$refillApplication.cashtransfer}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">{$turninoroutname}账户币:</span>
                            {$refillApplication.accounttransfer}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">转入/转出:</span>
                            {$turninoroutname}
                        </div>
                    {/if}
                    {if $rechargesource eq 'Vendors'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">平台账户ID:</span>
                            {$refillApplication.did}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">账户名称:</span>
                            {$refillApplication.accountzh}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">客户来源属性:</span>
                            {$refillApplication.t_customeroriginattr}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商返点类型:</span>
                            {$refillApplication.t_rebatetype}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商返点类型:</span>
                            {$refillApplication.t_accountrebatetype}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商合同:</span>
                            {$refillApplication.contract_no}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">是否已签合同:</span>
                            {$refillApplication.t_havesignedcontract}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">签订日期:</span>
                            {$refillApplication.signdate}
                        </div>
                    {/if}
                {if $rechargesource eq 'INCREASE'}
                <div class="sales_info_div">
                    <span class="sales_title_t">赠款合同:</span>
                    {$refillApplication.mservicecontractsid_name}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">赠款客户:</span>
                    {$refillApplication.maccountid_name}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">返点类型:</span>
                    {$refillApplication.t_rebatetype}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">返点:</span>
                    {$refillApplication.discount}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">赠充现金:</span>
                    {$refillApplication.cashincrease}
                </div>
                <div class="sales_info_div">
                    <span class="sales_title_t">返税额:</span>
                    {$refillApplication.taxrefund}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">消耗现金:</span>
                    {$refillApplication.cashconsumption}
                </div>

                <div class="sales_info_div">
                    <span class="sales_title_t">赠款季度:</span>
                    {$refillApplication.grantquarter}
                </div>
                {/if}
                    {if $rechargesource eq 'Accounts'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">平台账户ID:</span>
                            {$refillApplication.did}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">账户名称:</span>
                            {$refillApplication.accountzh}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">客户来源属性:</span>
                            {$refillApplication.t_customeroriginattr}
                        </div>
                    {/if}

                    {if $rechargesource eq 'NonMediaExtraction'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商合同:</span>
                            {$refillApplication.contract_no}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">是否已签合同:</span>
                            {$refillApplication.t_havesignedcontract}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">签订日期:</span>
                            {$refillApplication.signdate}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">采购金额:</span>
                            {$refillApplication.purchaseamount}
                        </div>
                    {/if}

                    {if $rechargesource eq 'TECHPROCUREMENT'}
                        <div class="sales_info_div">
                            <span class="sales_title_t">供应商合同:</span>
                            {$refillApplication.contract_no}
                        </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">是否已签合同:</span>
                            {$refillApplication.t_havesignedcontract}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">签订日期:</span>
                            {$refillApplication.signdate}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">充值平台:</span>
                            {$refillApplication.topplatform}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">应收款金额:</span>
                            {$refillApplication.transferamount}
                        </div>
                    {/if}

                {if $rechargesource eq 'PreRecharge'}
                    <div class="sales_info_div">
                        <span class="sales_title_t">供应商合同:</span>
                        {$refillApplication.contract_no}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">是否已签合同:</span>
                        {$refillApplication.t_havesignedcontract}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">签订日期:</span>
                        {$refillApplication.signdate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">充值平台:</span>
                        {$refillApplication.topplatform}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">充值账户币:</span>
                        {$refillApplication.prestoreadrate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">现金充值:</span>
                        {$refillApplication.rechargeamount}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">返点:</span>
                        {$refillApplication.discount}%
                    </div>
                {/if}

                {assign var=arr_rechargesource_1 value=['Vendors','Accounts']}
                    {if in_array($rechargesource,$arr_rechargesource_1)}
                    <div class="sales_info_div">
                        <span class="sales_title_t">是否有服务:</span>
                        {$refillApplication.t_isprovideservice}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">充值类型:</span>
                        {$refillApplication.t_rechargetypedetail}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">货币类型:</span>
                        {$refillApplication.receivementcurrencytype}
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">汇率:</span>
                        {$refillApplication.exchangerate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">现金充值:</span>
                        {$refillApplication.rechargeamount}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">充值账户币:</span>
                        {$refillApplication.prestoreadrate}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">返点:</span>
                        {$refillApplication.discount}%
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">供应商返点:</span>
                        {$refillApplication.supprebate}%
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">税点:</span>
                        {$refillApplication.tax}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">代理商服务费:</span>
                        {$refillApplication.factorage}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">开户费:</span>
                        {$refillApplication.activationfee}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">税费:</span>
                        {$refillApplication.taxation}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">合计费用:</span>
                        {$refillApplication.totalcost}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">应收款金额:</span>
                        {$refillApplication.transferamount}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">成本:</span>
                        {$refillApplication.servicecost}
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">毛利总计:</span>
                        {$refillApplication.totalgrossprofit}
                    </div>
                    {/if}
                    <div class="sales_info_div">
                        <span class="sales_title_t">备注:</span>
                        {$refillApplication.mstatus}
                    </div>
                {if !empty($refundlist)}
                {foreach from=$refundlist['item'|cat:$refillApplication['rechargesheetid']] item=refunddata name=wlist}
                <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                    <h3 >{if $refunddata.isbackwash eq 1}<span style="color:red;">红冲</span>{else}红冲{/if}{$smarty.foreach.wlist.index + 1} {$rechargesource_name}</h3>
                    {if $refunddata.isbackwash eq 1 && $refunddata.backwashstatus eq 1}
                    <div style="position:relative;">
                        <div style=" position:absolute;top:40%;right:20%;border:1px solid black;width:120px;line-height:1.3;text-align:center;color:red;border-radius:5px;font-size:20px;
                        transform: rotate(40deg);
                        -o-transform: rotate(40deg);
                        -webkit-transform: rotate(40deg);
                        -moz-transform: rotate(40deg);
                        filter:progid:DXImageTransform.Microsoft.BasicImage(Rotation=2);">
                            红冲,退款待提交
                        </div>
                    </div>
                    {elseif $refunddata.isbackwash eq 1}
                    <div style="position:relative;">
                        <div style=" position:absolute;top:30%;right:20%;border:1px solid red;width:120px;line-height:1.3;text-align:center;color:red;border-radius:5px;font-size:20px;
            transform: rotate(40deg);
            -o-transform: rotate(40deg);
            -webkit-transform: rotate(40deg);
            -moz-transform: rotate(40deg);
            filter:progid:DXImageTransform.Microsoft.BasicImage(Rotation=2);">红冲,退款审核中</div>
                    </div>
                    {/if}
                    <div class="sales_info_div">
                        <span class="sales_title_t">充值账户币:</span>
                        <span style="color:red;">-{$refunddata.prestoreadrate}</span>
                    </div>

                    <div class="sales_info_div">
                        <span class="sales_title_t">现金充值:</span>
                        <span style="color:red;text-align:right;">-{$refunddata.rechargeamount}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">代理商服务费:</span>
                        <span style="color:red;">-{$refunddata.factorage}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">开户费:</span>
                        <span style="color:red;">-{$refunddata.activationfee}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">税费:</span>
                        <span style="color:red;">-{$refunddata.taxation}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">退款金额:</span>
                        <span style="color:red;">-{$refunddata.refundamount}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">申请日期:</span>
                        <span style="color:red;">{$refunddata.createdtime}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">退款日期:</span>
                        <span style="color:red;">{$refunddata.refundtime}</span>
                    </div>
                    <div class="sales_info_div">
                        <span class="sales_title_t">备注:</span>
                        <span style="color:red;">{$refunddata.remark}</span>
                    </div>
                </div>
                {/foreach}
                {/if}

                </div>
                {/foreach}
                {/if}
            {if !empty($vendorlist) && $rechargesource eq 'PACKVENDORS'}
            {foreach from=$vendorlist item=packvendor name=wlist}
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                <h3 >打包名细{$smarty.foreach.wlist.index + 1} {$rechargesource_name}</h3>

                <div class="sales_info_div">
                    <span class="sales_title_t">申请单编号:</span>
                    {$packvendor.refillapplicationno}
                </div>

                        <div class="sales_info_div">
                            <span class="sales_title_t">服务合同:</span>
                            {$packvendor.contract_no}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">客户:</span>
                            {$packvendor.accountname}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请人:</span>
                            {$packvendor.username}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">充值来源:</span>
                            {$packvendor.rechargesource}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">应收款总额:</span>
                            {$packvendor.actualtotalrecharge}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">应付款金额:</span>
                            {$packvendor.totalreceivables}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">申请时间:</span>
                            {$packvendor.createdtime}
                        </div>
                        <div class="sales_info_div">
                            <span class="sales_title_t">备注:</span>
                            {$packvendor.remarks}
                        </div>
                    </div>
                    {/foreach}
                    {/if}
            {/if}
            <div data-role="collapsible" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" data-collapsed="false">
                    <h3>工作流审核-{$STAGERECORDNAME}{$rechargesource_name}</h3>


                    <div style="font-weight:bold;">审核节点：</div>
                    <ul id="data_list" data-role="listview" data-inset="true">
                        {foreach item=value from=$WORKFLOWSSTAGELIST}  
                        <li>
                            <a data-role="button" style="font-size:12px; font-weight:normal; " {if $value.isaction eq '1'}class="workflowstages_isaction"{/if} data-id="{$value.salesorderworkflowstagesid}" data-transition="slide"  href="#">{$value.workflowstagesname}【{$value.actionstatus}】{if $value.auditorid neq '--'}<br />审核人:{$value.auditorid}<br />审核时间:{$value.auditortime}{/if}</a>
                        </li>
                        {/foreach}
                    </ul>

                    {if !empty($SALESORDERHISTORY)}
                    <div style="font-weight:bold; padding-top: 15px;">历史打回原因：</div>
                    <ul id="" data-role="listview" data-inset="true">
                        {foreach item=value from=$SALESORDERHISTORY}
                        <li><a data-role="button" href="#" style="font-size:12px; font-weight:normal; ">{$value.reject}【{$value.last_name}】</a></li>
                        {/foreach}
                    </ul>
                    {/if}
                    {if !empty($REMARKLIST)}
                    <div style="font-weight:bold; padding-top: 15px;">备注：</div>
                    <ul id="remarkslist" data-role="listview" data-split-icon="gear" data-split-theme="a" data-inset="true">

                        {foreach item=value from=$REMARKLIST}
                        {assign var=IMGMD value=$value['email1']|md5}
                        <li class="ui-field-contain"><a data-role="button" href="#"><img src="{if isset($USERIMGS[$IMGMD])}{$USERIMGS[$IMGMD]}{else}../../static/img/trueland.png{/if}">
                            <h2>{$value.reject}</h2><p>{$value.last_name}  {$value.rejecttime}</p></a></li>
                        {/foreach}
                    </ul>
                    {/if}
                    {if $ISROLE eq '1'}
                        <form method="post" onsubmit='return t_submit()'>
                        <div class="ui-field-contain">
                            <input type="hidden" name="record" value="{$record}">
                            <input type="hidden" name="stagerecordid" value="{$STAGERECORDID}">
                            <input type="hidden" name="stagerecordname" value="{$STAGERECORDNAME}">
                            <textarea placeholder="输入打回原因" name="repulseinfo" id="repulseinfo" rows="5" class="form-control"
                              data-content=""></textarea>
                            <div class="confirm tc">
                                <button class="ui-btn ui-btn-b ui-shadow ui-corner-all">打回</button>
                            </div>
                        </div>
                        </form>
                    <div class="ui-field-contain">

                        <textarea placeholder="输入备注信息" name="remarks" id="remarks" rows="5"
                                  data-content=""></textarea>
                        <div class="confirm tc">
                            <button class="ui-btn ui-btn-c ui-shadow ui-corner-all addremarks">添加备注</button>
                        </div>
                    </div>
                    {/if}
                </div>

                


        </div>
        
   </div>
    <div data-role="popup" data-dismissible="false" id="refillApplication_examine_page_popup" >
        <div>正在提交...</div>
    </div>
    <div data-role="popup" data-dismissible="false" id="refillApplication_remarks_page_popup" >
        <div>备注信息不能为空</div>
    </div>

     <div data-role="popup" id="myPopupDialog">
      <div data-role="header">
        <h1>提醒</h1>
      </div>
      <div data-role="main" class="ui-content" style="text-align: right;">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-right">关闭</a>
        <p>确定要审核当前的节点{$STAGERECORDNAME}</p>
        <a href="javascript:void(0)" id="refillApplication_examine" class="ui-btn ui-btn-inline ui-mini ui-icon-action ui-btn-icon-left" >确定</a>
      </div>
    </div> 

    
    <div id="bg"></div> 
    <script type="text/javascript">
    {literal}
    $(function(){
        
        // 审核
        $('#refillApplication_examine').click(function () {
            var stagerecordid = $('input[name=stagerecordid]').val();
            var record = $('input[name=record]').val();
            $('#myPopupDialog').popup('close');
            $.ajax({ 
                url: "index.php?module=RefillApplication&action=examine", 
                data: {
                    stagerecordid : stagerecordid,
                    record : record
                },
                type:'POST',
                beforeSend:function() {
                    mark('#refillApplication_examine_page_popup', 'show');
                },
                success: function(data){
                    alert('审核成功');
                    mark('#refillApplication_examine_page_popup', 'none');

                    setTimeout(function() {
                        window.location.reload(); 
                    }, 100);
                }
            });

        });
        //添加备注
        $('.addremarks').on('click',function(){
            var stagerecordid = $('input[name=stagerecordid]').val();
            var record = $('input[name=record]').val();
            var remarks=$('#remarks').val();
            if(remarks==''){
                mark('#refillApplication_remarks_page_popup', 'show');
                setTimeout("mark('#refillApplication_remarks_page_popup', 'none')",2000);
                return false;
            }
            $.ajax({
                url: "index.php?module=RefillApplication&action=submitremark",
                data: {
                    stagerecordid : stagerecordid,
                    record : record,
                    reject : remarks
                },
                type:'POST',
                dataType:'JSON',
                beforeSend:function() {
                    mark('#refillApplication_examine_page_popup', 'show');
                },
                success: function(data){
                    data = JSON.parse(data);
                    mark('#refillApplication_examine_page_popup', 'none');
                    if (data.success) {
                        alert('备注添加成功');
                        setTimeout(function() {
                            window.location.reload();
                        }, 100);
                    }
                }
            });
        });
    });


    {/literal}

    </script>
</div>
{literal}
<script type="text/javascript">
    //遮罩层提示
    var mark = function(page_mark, type) {
        if(type == 'show') {
            //加载一个遮罩层
            $(page_mark).popup('open');
            document.getElementById("bg").style.display="block";  
            $('html,body').animate({scrollTop: '0px'}, 100);
            $('#bg').bind("touchmove",function(e){  
                e.preventDefault();  
            });
        } else {
            $(page_mark).popup('close');
            document.getElementById("bg").style.display="none";  
        }
    };

    // 打回
    function t_submit() {
        var repulseinfo = $.trim($('#repulseinfo').val());
        if (repulseinfo) {
            var stagerecordid = $('input[name=stagerecordid]').val();
            var record = $('input[name=record]').val();
            var isbackname = $('input[name=stagerecordname]').val();
            $.ajax({ 
                url: "index.php?module=RefillApplication&action=repulse", 
                data: {
                    stagerecordid : stagerecordid,
                    record : record,
                    repulseinfo : repulseinfo,
                    isbackname: isbackname
                },
                type:'POST',
                beforeSend:function() {
                    mark('#refillApplication_examine_page_popup', 'show');
                },
                success: function(data){
                    data = $.parseJSON( data );
                    mark('#refillApplication_examine_page_popup', 'none');
                    if(data.success=='false'){
                        mark('#refillApplication_examine_page_popup', 'none');
                        alert('提示'+data.error.message);
                        return false;
                    }
                    alert('打回成功');
                    setTimeout(function() {
                        window.location.reload();
                    }, 100);
                }
            });
        }
        return false;
    }
</script>
{/literal}
</body>
</html>